<div class="card">

  <div class="card-header ">

    <h6 class="">Datos de Registro</h6>

  </div>
  
  <div class="card-body">
  <div class="form-group row">
  
    <label class="col-sm-2 col-form-label-sm" for="nro_registro1">{{strEtiquetaReg}}:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control form-control-sm" id="nro_registro1" [(ngModel)] = "strNroRegistro" [disabled] = "flgDeshabilitado">
    </div>
    
    <label class="col-sm-2 col-form-label-sm" for="fechaAtencion">Hora de inicio:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control form-control-sm" id="hora_inicio_dg1" [(ngModel)] = "strHrInicio"  [disabled] = "flgDeshabilitado">
    </div>
  
  </div>
  <div class="form-group row">
  
    <label class = "col-sm-2 col-form-label-sm" for = "hora_fin">Hora de Fin:</label>
    <div  class = "col-sm-4" >
    <input type = "text" class = "form-control form-control-sm" id = "hora_fin" [(ngModel)] = "strHrFin"  [disabled] = "flgDeshabilitado">
    <!--<mat-form-field >
        <input matInput placeholder="Favorite food" type="date">
      </mat-form-field>-->
    </div>

    <label class = "col-sm-2 col-form-label-sm" for = "fecha_registro">Fecha Registro:</label>
    <div  class = "col-sm-4" >
    <input type = "text" class = "form-control form-control-sm" id = "fecha_registro" [(ngModel)] = "strFchRegistro"  [disabled] = "flgDeshabilitado">
    <!--<mat-form-field >
        <input matInput placeholder="Favorite food" type="date">
      </mat-form-field>-->
    </div>
    
  </div>

  <div class="form-group row">


    <label class="col-sm-2 col-form-label-sm" for="estado_formulario">Estado:</label>
    <div class="col-sm-4">
      <select  class="form-control form-control-sm" id="select_estado" [(ngModel)] = "numIdEstado" [disabled] = "flgDeshabilitado">
        <option *ngFor="let estado of listEstados" value="{{estado.nestadoId}}">{{estado.cestadoDescripcion}}</option>
      </select>
      <!-- <input type="text" class="form-control form-control-sm" id="estado_formulario" disabled value="Pendiente" formControlName="estado_formulario">
      -->
    </div>

    <label class="col-sm-2 col-form-label-sm" for="select_prioridad">Prioridad:</label>
    <div class="col-sm-4">
      <select id="select_prioridad" class="form-control form-control-sm" [(ngModel)]="numIdPrioridad" [disabled] = "flgDeshabilitado">
        <!-- <option [ngValue]="null">Seleccione</option> -->
        <option *ngFor="let lpri of listPrioridad" value="{{lpri.nprioridadId}}">{{lpri.cprioridadDsc}}</option>
        <!-- <option value="7">Normal</option>
        <option value="8">Urgente</option> -->
      </select>
    </div>

  </div>
  
</div>
</div>
<div class="border secGeneral"></div>