<!-- <div [formGroup]="formEvid"> -->
  <div class="form-row align-items-center" *ngIf = "!flgSoloLectura">
      <div class="col-md-6"><label class="col-form-label-sm">(*.doc, *.pdf)</label></div>
      <!-- <div class="col-md-6"><input type="file" id="file" formControlName="evidenciaFile" (change)="handleFileInput($event.target.files)"  [disabled] = "flgSoloLectura"></div> -->
      <div class="col-md-6">
        <!-- <input type="file" id="file" [(ngModel)]="evidenciaFile" (change)="handleFileInput($event.target.files)"  [disabled] = "flgLectura"> -->
        <!-- <input type="file" accept=".pdf,.doc,.docx" id="file" [(ngModel)]="evidenciaFile" (change)="handleFileInput($event.target.files,$event)"  [disabled] = "flgSoloLectura"> -->

        <!-- <input type="file" accept = "application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword, application/pdf" id="file" [(ngModel)]="evidenciaFile" (change)="handleFileInput($event.target.files,$event)"  [disabled] = "flgSoloLectura"> -->
        <input type="file" accept = "{{dscExtensiones}}" id="file" [(ngModel)]="evidenciaFile" (change)="handleFileInput($event.target.files,$event)"  >

        
      </div>
      
  </div>


  <div class="" >
      <div class="card mb-3">
          <div class="card-header">
              <h6 class="text-jusfity">{{strDscTitulo}}</h6>
            </div>
            <div class="card-body">
               <!--  <div class="form-row align-items-center">
                    <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha y Hora</th>

                             <th scope="col">Tipo Documento </th> 
                            <th scope="col" *ngIf="!flgSoloLectura">Eliminar</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          <tr *ngFor="let ev of listEvidencias ; let i = index" [ngClass]="{'disabled': flgSoloLectura}">
                            <th scope="row">{{i+1}}</th>
                            <td>{{ev.cdocumentoDscnombre}}</td>
                            <td>{{ev.strDdocumentoFchreg}}</td>
                            <td *ngIf="!flgSoloLectura"> <button class="btn btn-sm btn-danger" (click)="eliminar(ev)">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                <fa-icon [icon]="iconoEliminar"></fa-icon>
                              </button></td>
                          </tr>
                        </tbody>
                      </table>
                </div> -->

                <mat-table [dataSource]="dataSource" matSort>
                                
                    <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre evidencia</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.cdocumentoDscnombre}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="{{matTableColumnsDef[1]}}">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y Hora Registro</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.strDdocumentoFchreg}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="{{matTableColumnsDef[2]}}">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado</mat-header-cell>
                      <mat-cell *matCellDef="let row"> Registrado </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="{{matTableColumnsDef[3]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</mat-header-cell>
                      <mat-cell *matCellDef="let row"> <button *ngIf="!flgSoloLectura" class="btn btn-sm btn-danger" (click)="eliminar(row)">
                          <fa-icon [icon]="iconoEliminar"></fa-icon>
                        </button></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="{{matTableColumnsDef[4]}}">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Ver</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index"> <button *ngIf="!flgSoloLectura" class="btn btn-sm btn-primary" (click)="_verArchivo(i)">
                          <fa-icon [icon]="iconoVer"></fa-icon>
                        </button></mat-cell>
                    </ng-container>
      
                    <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
                    </mat-row> 
              </mat-table>
      
              <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>

          </div>
      </div>
  </div>
<!-- </div> -->