<div class="form-row menu-principal2">

    <div class="col-md-1 menu-principal menu-principal2">

        <span (click)="openNav()">
    <img src="assets/logo-small.png" class="img-logo-small">
  </span>

    </div>

    <div class="col-md-11 menu-principal2">

        <div class="container-fluid border_color_contraloria menu-principal2">

            <nav class="navbar navbar-expand-lg navbar-light navbar-fixed menu-principal2">

                <!-- <img src="assets/LogoContraloria.png" class="img-logo menu-principal2"> -->
                <i class="material-icons">signal_cellular_alt</i> Sistema de Atención de Denuncias

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span><i class="material-icons">account_circle</i></span>

      </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto ">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle button-user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{usuario}}
            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                                <a class="dropdown-item" href="#">Cerrar Sesión</a>

                            </div>
                        </li>

                    </ul>

                </div>

            </nav>

        </div>

    </div>

</div>



<div class="container-fluid">

    <div id="mySidenav" class="sidenav p_color_contraloria_negro texto_menu ">

        <ul class="list-group">

            <li class="list-group-item li-proceso-config" id="proceso-0">
                <img src="assets/user.jpg" class="img-logo-usuario">
            </li>
            <li class="list-group-item li-proceso" id="proceso-1" (click)="MostrarOrientacion()">Orientación</li>
            <li class="list-group-item li-proceso" id="proceso-2" (click)="MostrarSeguimiento()">Seguimiento</li>
            <!--Hector Pechon-->
            <li class="list-group-item li-proceso" id="proceso-3" (click)="MostrarAtencion()">Atencion</li>
            <!---->

        </ul>

    </div>

    <div *ngIf="mostrarOri">

    </div>

    <div *ngIf="mostrarSeg" id="main">
        <!--app-contenedor-asig-info></app-contenedor-asig-info-->
    </div>

    <!--Codigo Agregado Hector Pechon-->
    <div *ngIf="mostrarAte" id="main">
        <app-contenedor-serv-aten-ciud></app-contenedor-serv-aten-ciud>
        <!--app-body-opciones-servicio-ate></app-body-opciones-servicio-ate-->
    </div>
    <!---->
</div>