.menu-principal {
    background: #050505 !important;
    height: 50px;
    width: 50px;
}

.menu-principal2 {
    height: 50px;
}

.piid-aux {
    visibility: hidden;
}

.img-logo {
    max-width: 300px;
    min-width: 100px;
    /*sidenav*/
}

.img-logo-small {
    width: 100%;
    height: 100%;
    /*sidenav*/
}

.img-logo-user {
    max-width: 300px;
    min-width: 100px;
    /*sidenav*/
}

.img-logo-usuario {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    /* max-width: 80px;
    max-height: 80px; */
    text-align: center;
}

.menu-procesos:hover {
    cursor: pointer;
}


/* .navbar-fixed{
   
    top: 0;
  } */

.li-proceso {
    color: #f5f5f5;
    /* border-color: #cccccc; */
    /* border-width: 2px 0 !important; */
    border-radius: 0!important;
    /* background: #1d1d1b !important; */
    background: #d44339 !important;
}

.li-proceso-config {
    color: #f5f5f5;
    /* border-color: #cccccc; */
    /* border-width: 2px 0 !important; */
    border-radius: 0!important;
    /* background: #1d1d1b !important; */
    height: 250px;
    background: #d44339 !important;
}

.li-proceso:hover {
    cursor: pointer;
    background: #923c36 !important;
}

.li-tareas-acuales {
    color: #f5f5f5;
    border-color: #cccccc;
    border-width: 0 0 !important;
    border-radius: 0!important;
    background: #1d1d1b !important;
}

.li-tareas-acuales:hover {
    cursor: pointer;
}


/***/


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    /* top: 100;  */
    top: 100;
    left: 0;
    /* background-color: #111; /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
    /* Place content 60px from the top */
    transition: 0.3s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px;*/
    /*color: #818181;*/
    display: block;
    transition: 0.3s;
    font-size: 20px;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    /* color: #f1f1f1;*/
    color: #f5f5f5;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    /*font-size: 36px;*/
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}