<div class="card-header">
  <h6 class="text-justify">Documentos a Generar</h6>
</div>

<div class="card-body">

  <div class="form-row">

    <div class="form-group col-md-4">
  
      <input type="checkbox"  [checked] = "flgOficio" (change)="_checkOficio($event)" > 

        <label class="mr-8">Oficio</label>

    </div>

    <div class="form-group col-md-4">
  
      <input type="checkbox"  [checked] = "flgMemo" (change)="_checkMemo($event)" > 

        <label class="mr-8">Memo</label>

    </div>

    <div class="form-group col-md-4">
  
      <input type="checkbox"  [checked] = "flgCarta" (change)="_checkCarta($event)" > 

        <label class="mr-8">Carta</label>

    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
    </div>
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-outline-secondary btn-sm btn-block" (click) = "_GenerarDocumento()">Generar Documento</button> <!--Guardar que debe quedar_Guardar()-->
    </div>
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-outline-secondary btn-sm btn-block rounded-pill" (click) = "_GuardarDocumento()">Guardar Documento</button>
    </div>
    <div class="form-group col-md-4">
    </div>
  </div>

</div>