
  <div class="container pt-3 pb-5 general" >
   
    <app-contenedor-web (guardarEmitter)="cambioFlgGuardar($event)"></app-contenedor-web>
    
    <div>
      
            <div>
              <button *ngIf="!flgGuardarDefinitivo" class="btn btn-primary mr-3" (click) = "guardarBorrador()" 
              [disabled]="flgDeshabilitaGuardar">  
                Guardar Borrador
              </button>
              <button *ngIf="flgGuardarDefinitivo" class="btn btn-primary mr-3" (click) = "guardar()" 
              [disabled]="flgDeshabilitaGuardar">  
                Guardar
              </button>
              <button *ngIf="!flgGuardado" class="btn btn-light ml-3" (click)="regresar()">Regresar</button>
            </div>
    </div>
</div>

