<div class="card mb-3 " ><!--SECCION Empresa involucrada--><!--[formGroup]="formEmpresaInvolucrada"-->
  <div class="card-header">
    <h6 class="text-jusfity">Instancias:</h6>
  </div>
  
  <div class="card-body">
      <div class="form-row align-items-center">

          <div class="col-md-4">
            <label class="col-form-label-sm">¿La denuncia ha sido presentada en otra instancia?</label>
          </div>
          <div class="col-md-4">
            <label class="mr-3" *ngIf="!flgLectura || (flgLectura && !otra_instancia)">No</label>
            <mat-slide-toggle [checked]="otra_instancia" (change)="cambioOtraInstancia($event.checked)" *ngIf="!flgLectura" ></mat-slide-toggle>
            <label class="mr-3" *ngIf="!flgLectura || (flgLectura && otra_instancia)">Si</label>
          </div>

          <div class="form-group col-sm-2" *ngIf="otra_instancia && !flgLectura">
            <button *ngIf="otra_instancia" class="btn-sm btn-primary form-control form-control-sm" (click)="abrirModalInstancia(instanciaList,null,false)">
              <fa-icon [icon]="iconAgregar"></fa-icon>
              Agregar Instancia
            </button>
          </div>
          
      </div>
      <div class="card mb-3" *ngIf="instanciaList.length > 0">
          <div class="card-header">
              <h6 class="text-jusfity">Lista de instancias</h6>
            </div>
            <div class="card-body">
               <!--  <div class="form-row align-items-center">
                    <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Entidad</th>
                            <th scope="col">Número de documento</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                            <th scope="col" *ngIf="!flgLectura">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let inst of instanciaList ; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{inst.entidad.centNombre}}</td>
                            <td>{{inst.cfichaxinstanNrodoc}}</td>
                            <td>{{inst.dfichaxinstanFchPresent}}</td>
                            <td>{{inst.estado.ccatalogoDsc}}</td>
                            <td>
                                <button *ngIf="!flgLectura" class="btn btn-sm btn-danger" (click)="eliminar(inst)">
                                    <fa-icon [icon]="iconoEliminar"></fa-icon>
                                  </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div> -->

                <mat-table  [dataSource]="dataSource" matSort>
                                
                    <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.entidad.centNombre}} </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Número de documento</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.cfichaxinstanNrodoc}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="{{matTableColumnsDef[2]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y Hora</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.strDfichaxinstanFechaprest.substring(0,10)}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="{{matTableColumnsDef[3]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.estado.ccatalogoDsc}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="{{matTableColumnsDef[4]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Editar</mat-header-cell>
                      <mat-cell *matCellDef="let instancia">
                        
                        <button *ngIf="!flgLectura" class="btn btn-sm btn-primary" (click)="editar(instanciaList,instancia,true)">
                          <fa-icon [icon]="iconoEditar"></fa-icon>
                        </button>
                        
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="{{matTableColumnsDef[5]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </mat-header-cell>
                      <mat-cell *matCellDef="let instancia">
                        
                        
                        <button *ngIf="!flgLectura" class="btn btn-sm btn-danger" (click)="eliminar(instancia)">
                          <fa-icon [icon]="iconoEliminar"></fa-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
      
                    <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
                    </mat-row> 
              </mat-table>
      
              <mat-paginator *ngIf="instanciaList.length > 0" [pageSizeOptions]="[5,10]"></mat-paginator>
          </div>
      </div>
  </div>
</div>
