<div class="">
  <div>
      <h5 mat-dialog-title class="text-center ">{{data.titulo}}</h5>
  </div>
  <div mat-dialog-content class="text-center ">
    <p>{{data.mensaje}}</p>
  </div>

</div>

<div mat-dialog-actions class="row justify-content-center">

    <button type="button" (click) = "_aceptar()" class="btn btn-pill btn-danger" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
    <button *ngIf="flgBtnRegresar" (click) = "_regresar()" type="button" class="btn btn-primary" [mat-dialog-close]="true" >Regresar</button>

</div>