<div class="card mb-3 entidad" > <!--Registro otros: Descripción-->
  <div class="card-header">
    <h6 class="text-jusfity" >Descripción</h6>
  </div>
  <div class="card-body">

    <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="select_tipo">Tipo: </label>
      <div class="col-sm-4">
        <select class="form-control form-control-sm" formControlName="select_tipo">
          <option [ngValue]="null">Seleccione</option>
        </select>
      </div>
      <div class="col-sm-5">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_asunto">Asunto:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control form-control-sm" id="input_asunto" formControlName="input_asunto">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_remitente">Remitente:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control form-control-sm" id="input_remitente" formControlName="input_remitente">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_correoRemitente">Correo Electrónico:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control form-control-sm" id="input_correoRemitente" formControlName="input_correoRemitente">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_fechaRecepcion">Fecha de Recepción: </label>
      <div class="col-sm-4">
        <input type="date" class="form-control form-control-sm" id="input_fechaRecepcion" formControlName="input_fechaRecepcion">
      </div>
      <div class="col-sm-5">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_fechaRecepcion">Evidencia: </label>
      <div class="col-sm-8">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
            <label class="custom-file-label form-control form-control-sm" for="inputGroupFile04">Selecciona archivo</label>
          </div>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">documento1.docx <span class="badge badge-info badge-pill">X</span> </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">documento2.docx <span class="badge badge-info badge-pill">X</span> </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">documento3.docx <span class="badge badge-info badge-pill">X</span> </li>
        </ul>

      </div>
      <div class="col-sm-1">
      </div>
    </div> 

  </div>
</div>

<div class="card mb-3 entidad" > <!--Registro otros: Lista de Archivos adjuntos-->
  <div class="card-header">
    <h6 class="text-jusfity" >Lista de archivos Adjuntos</h6>
  </div>
  <div class="card-body">
    <div class="form-row centrar">
      <div class="form-group col-md-1 mx-auto">        
      </div>
      <div class="form-group col-md-10 centrar">

        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Estado</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2019</td>
              <td>Expediente</td>
              <td>125-DR/ED</td>
              <td>125666399ED</td>
              <td>15/08/2007</td>
            </tr>
            <tr>
              <td>2</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
            <!--tr *ngFor="let item1 of entidadesTemp1; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item1.centCodigo}}</td>
              <td>{{item1.centNombre}}</td>
              <td>{{item1.centNombre}}</td>
              <td>{{item1.centNombre}}</td>
              <td>{{item1.centNombre}}</td>
            </!--tr-->
          </tbody>
        </table>  

      </div>

      <div class="form-group col-md-1 mx-auto">        
      </div>

    </div>

  </div>

</div>