<div class="container-fluid p_color_contraloria_rojo">

  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed">

  </nav>

</div>

<div class="container-fluid fondo_color_contraloria">

  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed">

  </nav>

</div>

<div class="container-fluid p_color_contraloria_rojo">

  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed">

  </nav>

</div>

<div class="mx-auto" style="width: 400px;">

  <img src="assets/LogoVertiColor.png" class="img-logo">
  <!--img src="../../../assets/contraloria_logo.png" class="img-logo"-->

  <form [formGroup]="formLogin" class="formlogeo">

    <div class="card mb-3" >

      <div class="card-header">

          <h6 class="text-center">INGRESAR AL SISTEMA</h6>

      </div>

      <div class="card-body">

        <div class="container">

        <div class="form-row">

          <div class="form-group col-md-3">

            <label for="input_usuario" class="col-form-label-sm">Usuario</label>

          </div>

          <div class="form-group col-md-9">

            <!--input type="text" maxlength="100" class="form-control form-control-sm" id="input_usuario" formControlName="input_usuario"-->

            <div class="input-group mb-3">

              <input type="text" maxlength="100" class="form-control" id="input_usuario" formControlName="input_usuario" placeholder="Usuario">

              <div class="input-group-append">

                <span class="input-group-text fa fa-user">

                  <i class="material-icons">perm_identity</i>

                </span>

                

              </div>

            </div>

          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-3">

            <label for="input_contrasenha" class="col-form-label-sm">Contraseña</label>

          </div>

          <div class="form-group col-md-9">

            <!--input type="password" maxlength="50" class="form-control form-control-sm" id="input_contrasenha" formControlName="input_contrasenha"-->

            <div class="input-group mb-3">

              <input type="password" maxlength="50" class="form-control" id="input_contrasenha" formControlName="input_contrasenha" placeholder="Contraseña">

              <div class="input-group-append">
                <!--fa name="cog" animation="spin"><fa-->
                <span class="input-group-text fa fa-lock">

                  <i class="material-icons">https</i>

                </span>
                
              </div>

            </div>

          </div>

        </div>

        <div class="mx-auto">

          <div class="form-group col-md-12">

            <re-captcha (resolved)="resolved($event)" siteKey="6Ley3cgUAAAAANT4-2W6-4s-QCK8Ncv3y9YD41IA"></re-captcha>

          </div>

        </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-8 mx-auto">

            <button type="button" class="btn btn-success btn-sm btn-block" (click) = "Ingresar()">Ingresar</button>

          </div>

        </div>

        <div class="form-row">

          <div class="mx-auto">

            <a href="#">Olvidó su contraseña</a>

          </div>

        </div>

      </div>

    </div>

  </form>

</div>

<!-- <div class="container-fluid p_color_contraloria_rojo">

  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed">

  </nav>

</div>

<div class="container-fluid fondo_color_contraloria">

  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed">

  </nav>

</div>

<div class="container-fluid p_color_contraloria_rojo">

  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed">

  </nav>

</div>

<div class="form-group col-md-12  align-items-center">
            
  <img src="../../../assets/contraloria_logo.png" class="img-logo">

</div>

<form [formGroup]="formLogin" class="formlogeo">

  <div class="card mb-3 entidad" >

    <div class="card-header">

        <h6 class="text-justify">INGRESAR AL SISTEMA</h6>

    </div>

    <div class="card-body">

      <div class="form-row">

        <div class="form-group col-md-3">
            
          <label for="input_usuario" class="col-form-label-sm">Usuario</label>

        </div>

        <div class="form-group col-md-9">
          
          <input type="text" maxlength="100" class="form-control form-control-sm" id="input_usuario" formControlName="input_usuario">

        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-3">
            
          <label for="input_contrasenha" class="col-form-label-sm">Contraseña</label>

        </div>

        <div class="form-group col-md-9">
          
          <input type="password" maxlength="50" class="form-control form-control-sm" id="input_contrasenha" formControlName="input_contrasenha">

        </div>

      </div>

      <div class="form-row align-items-center">

        <div class="form-group col-md-12">
            
          <re-captcha (resolved)="resolved($event)" siteKey="6Ley3cgUAAAAANT4-2W6-4s-QCK8Ncv3y9YD41IA"></re-captcha>

        </div>

      </div>

      <div class="form-row align-items-center">

        <div class="form-group col-md-6 btn-form-login">
            
          <button type="button" class="btn btn-primary" (click) = "Ingresar()">Ingresar</button>

        </div>

      </div>

     
    </div>

  </div>

</form> -->
