.img-logo{
  max-width: 300px;
  min-width: 100px;
  margin-left: 13%;
  /*sidenav*/

}

.navbar-fixed{

  top: 0;
}

.formlogeo{

  max-width: 400px;
  min-width: 200px;
  margin-left: 0%;

}

.btn-form-login{

  margin-left: 40%;

}


.form-control:focus {
border-color: #FF0000;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/*.card-header{
border-color: #cccccc;
background-color: #ffffff;
}*/

select,
option {
color: #1d1d1b;
}

/*para los efectos de los iconos*/

.input-group-text {
color: #ff0000;
background-color: #ffffff;
}

