<!-- <app-body-opciones (opOpcionSeleccionada) = "OpcionSeleccionada($event)" *ngIf="!flgMostrarRegistro"></app-body-opciones> -->
<app-body-opciones-servicio-ate (opOpcionSeleccionada)="OpcionSeleccionada($event)" *ngIf="flgMostrarOpciones"></app-body-opciones-servicio-ate>

<!-- <app-body-busqueda (opNuevoSeleccionado) = "NuevoSeleccionado($event)" (opAsignarSeleccionado) = "asignarSeleccionado($event)" (opVerSeleccionado) = "verSeleccionado($event)" *ngIf="!flgMostrarRegistro"></app-body-busqueda> -->
<!--app-body-busqueda (opNuevoSeleccionado) = "NuevoSeleccionado($event)" (opEvaluarSeleccionado) = "evaluarSeleccionado($event)" (opAsignarSeleccionado) = "asignarSeleccionado($event)" (opVerSeleccionado) = "verSeleccionado($event)" *ngIf="flgMostrarOpciones"></app-body-busqueda-->

<!--app-body-registro (opRetornaRegistro)="RetornaRegistro($event)" *ngIf="flgMostrarRegistro"></app-body-registro-->
<app-body-orientar-atender-solicitud (opOrientaAtiende)="fnOrientarAtender($event)" *ngIf="flgOrientarAtender"></app-body-orientar-atender-solicitud>

<!--app-asignar-informacion (opRetornaAsignar) = "retornaAsignar($event)" *ngIf="flgMostrarAsignar"></app-asignar-informacion-->

<!--app-evalinf-regfur (opRetornaEvaluar) = "retornaEvaluar($event)" *ngIf="flgMostrarEvaluar"></app-evalinf-regfur-->