<form > <!--[formGroup]="formContenedorMP"-->

  <div class="card mb-3 entidad" >

    <div class="card-header">

        <h6 class="text-justify">Ley {{pTitulo.cparamValor}}</h6>

    </div>

    <div class="card-body">

      <div class="form-row">

          <div class="form-group col-md-12">

            <h3 class="text-jusfity">{{pTitulo2.cparamValor}}</h3>
            
            <a class="nav-link  active" href="#datosGenerales" role="tab" data-toggle="tab" aria-selected="true"> Ver Ley {{pTitulo.cparamValor}}</a>

          </div>
          
      </div>

      <div class="form-row">

          <div class="form-group col-md-12">

            <label class="col-form-label-sm">{{pCuerpo.cparamValor}}</label>

          </div>
          
      </div>

    </div>

  </div>

  <div class="form-row align-items-center">

    <!-- <div class="form-group col-md-6"><label class="col-form-label-sm">He leído y acepto lo establecido en el art. 8 de la Ley {{pTitulo.cparamValor}}</label></div> -->

    <div class="form-group col-md-6">

      He leído y acepto lo establecido en el art. 8 de la Ley {{pTitulo.cparamValor}}

    </div>

    <div class="form-group col-md-6"><label class="mr-3">No</label><mat-slide-toggle (change)="CambioAcepto($event)" 
      [(ngModel)]="flgAcepto" name="flgAcepto" [disabled]="flgLectura" >Si</mat-slide-toggle></div>

  </div> 


  <div class="form-row align-items-center">

    <div class="form-group col-md-6">

      ¿Confirma que desea solicitar protección en el Marco de la Ley de protección al denunciante - {{pTitulo.cparamValor}}?
      <button type="button" class="btn btn-primary" (click)="AbrirInstrucciones()">?</button>

    </div>

    <div class="form-group col-md-6"><label class="mr-3">No</label><mat-slide-toggle 
      (change)="CambioSolicita($event)" [(ngModel)]="flgSolicita" name="flgSolicita" [disabled]="flgLectura">Si</mat-slide-toggle></div>

  </div> 

  <div *ngIf="flgEsFur">
    <app-expediente></app-expediente>
  </div>

</form>
