<app-nav-modal (opCerrarModal)="cerrarModal()"></app-nav-modal>

<div class="card mb-3 entidad" >

    <!-- <div class="card-header">

        <h6 class="text-justify">Descripción de hecho irregular</h6>

    </div> -->

    <div class="card-body">

      <mat-table [dataSource]="dataSource"  matSort>
              
        <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
          <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
          <mat-cell *matCellDef="let hi; let i = index"> {{i+1}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
          <mat-header-cell *matHeaderCellDef mat-sort-header> Hecho Irregular</mat-header-cell>
          <mat-cell *matCellDef="let hi"> {{hi.obraPublicaPorHechoIrregular.cobrphiDsc}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
        <mat-row   *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
        </mat-row> 

      </mat-table>

      <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>


    </div>
    
  </div>

  <div>
    <button class="btn btn-pill btn-danger" (click)="cerrarModal()">Aceptar</button>
  </div>