<div class="card">
  <div class="card-header">
    <h3>Datos Generales</h3>
  </div>
  <div class="card-body" >
    <div class="form-group row">
    
      <label class="col-sm-2 col-form-label-sm" for="dghe_nro_hojaEval">Nro. Hoja de Evaluación:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="dghe_nro_hojaEval" disabled [(ngModel)] = "nroHojaEval">
      </div>
     
      <label class="col-sm-2 col-form-label-sm" for="dghe_hora_inicio">Hora de Inicio: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="dghe_hora_inicio" disabled [(ngModel)] = "hrInicio">
      </div>
    
    </div>
    <div class="form-group row">
    
      <label class = "col-sm-2 col-form-label-sm" for = "dghe_fecha_registro">Fecha Registro</label>
      <div  class = "col-sm-4" >
      <input type = "text" class = "form-control form-control-sm" id = "dghe_fecha_registro" disabled [(ngModel)] = "fchRegistro">

     
      
      </div>

      <label class="col-sm-2 col-form-label-sm" for="dghe_hora_fin">Hora de Fin: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="dghe_hora_fin" disabled [(ngModel)] = "hrFin">
      </div>
      
    </div>
    <div class="form-group row">
    
      <label class="col-sm-2 col-form-label-sm" for="dghe_num_expediente">N° Expediente: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="dghe_num_expediente"  disabled [(ngModel)] = "nroExpediente">
      </div>

      <label class="col-sm-2 col-form-label-sm" for="dghe_select_estado">Estado: </label>
      <div class="col-sm-4">

        <select class="form-control form-control-sm" id="dghe_select_estado" disabled [(ngModel)]="numIdEstado">

          <option *ngFor="let lest of listEstado" value="{{lest.nestadoId}}">{{lest.cestadoDescripcion}}</option>

        </select>

        
      </div>

    </div>
    <div class="form-group row">
    
      <label class="col-sm-2 col-form-label-sm" for="dghe_dsc_ara">A.R.A.: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="dghe_dsc_ara"  disabled  [(ngModel)]="strDscARA">
      </div>

      <label class="col-sm-2 col-form-label-sm" for="dghe_dsc_uo">U.O.: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="dghe_dsc_uo"  disabled  [(ngModel)]="strDscUO">
      </div>

    </div>
  </div>
</div>
<div class="border secGeneral"></div>