<div class="form-group row">
        
  <label class="col-sm-2 col-form-label-sm" for="select_tip_atencion">Tipo Atención:</label>

  <div class="col-sm-4">

    <select [ngClass]="'form-control form-control-sm' + (flgSoloLectura ? ' select-out-arrow' : '')" [(ngModel)]="numIdTipAtencion" [disabled] = "flgSoloLectura">
      <!-- <option [ngValue]="null">Seleccione</option> -->
      <!-- <option *ngFor="let lta of listTipoAtencion" value="{{ntipoatenId}}">{{ctipoatenDescripcion}}</option> -->
      <option value="1">Denuncia</option>
      <option value="8">Urgente</option>
    </select>

  </div>
 
  <label class="col-sm-2 col-form-label-sm" for="select_canal">Canal:</label>
  <div class="col-sm-4">
    <select [ngClass]="'form-control form-control-sm' + (flgSoloLectura ? ' select-out-arrow' : '')"  [(ngModel)] = "numIdCanal" [disabled] = "flgSoloLectura">
      <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
      <!-- <option  value="4">Correo</option>
      <option value="6">Carta</option>
      <option value="7">Reporte</option> -->
    </select>
  </div>

</div>