<!-- <form [formGroup]="formBusqObraP"> -->
<div>
  <ul class="nav nav-tabs " role="tablist">

    <li class="nav-item">
  
      <a class="nav-link  active" href="#hojaEval" role="tab" data-toggle="tab" aria-selected="true">Hoja Evaluación</a>
  
    </li>

    <!--GSOLIS-->
    <li class="nav-item">
        <a class="nav-link  " href="#aTabDenun" role="tab" data-toggle="tab" > <span *ngIf="flgSegundaEval">FUD</span>
          <span *ngIf="!flgSegundaEval">FUR</span>
        </a>
    </li>
 
    <!--GSOLIS-->
    <li *ngIf="flgMostrarTabFur" class="nav-item">
  
              <select class="form-control form-control-sm" id="select_resanali"  [(ngModel)]="numIdResAnalisis">

                <option *ngFor="let listRA of listResAnalisis" value="{{listRA.nresanalisisId}}">{{listRA.nresanalisisDsc}}</option>
                
                <option [ngValue]="null">Seleccione</option>
                <!-- <option value="1">Análisis 1</option>
                <option value="2">Análisis 2</option> -->

                <!-- <option *ngFor="let listRA of listResAnalisis" value="{{listRA.nresanalisisId}}">{{listRA.nresanalisisDsc}}</option> -->

                <!-- <option value="1">Lima</option>
                <option value="2">Junin</option> -->

              </select>
  
    </li>

    
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade show active" id="hojaEval">
  
      <!-- <app-denuncia-contenedor (requiereIdentiEmitter)="validarTab($event)"></app-denuncia-contenedor> -->
      <app-dg-hoja-eval></app-dg-hoja-eval>
  
          <!-- <div class="form-group col-md-6">
  
            <textarea class="form-control form-control-sm" rows="2" id="input_resconclu"  [(ngModel)]="dscResConclus" maxlength="255"></textarea>
  
          </div> -->
  
        <div class="card-header">
          <h6 class="text-justify">Acciones a Realizar</h6>
        </div>
    
        <div class="card-body">
    
          <!-- <div class="form-row"> -->
    
          <div class="card-header">
            <h6 class="text-justify">I. Antecedentes</h6>
          </div>
  
          <div class="form-group col-md-12">
  
            <!-- <textarea class="form-control form-control-sm" rows="2" id="input_resrecom" [(ngModel)]="dscResRecomen" maxlength="255"></textarea> -->
            <app-antecedentes-fur></app-antecedentes-fur>
            
          </div>
          
          <!-- </div> -->
    
          <div class="card-header">
            <h6 class="text-justify">II. Análisis</h6>
          </div>




          
          <div class="card-body">
            
              <!-- CUS 06 -->
                <div *ngIf="flgSegundaEval" class="">
                    <div class="card">
                      <div class="card-header">
                        <h6 class="text-justify">¿Existen antecedentes?</h6>
                      </div>
                      <div class="card-body">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input [disabled]="flgLecturaFud" type="radio" id="customRadioInline1" name="customRadioInline1" value="SI" [(ngModel)]="flgExisteAntecedente"
                           class="custom-control-input" (click)="asignarFlgExistente($event)">
                          <label class="custom-control-label" for="customRadioInline1">Si</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline2" name="customRadioInline1" value="NO" [(ngModel)]="flgExisteAntecedente" 
                           class="custom-control-input" (click)="asignarFlgExistente($event)" [disabled]="flgLecturaFud">
                          <label class="custom-control-label" for="customRadioInline2">No</label>
                        </div>
                      </div>
                    </div>
                </div>

                <div *ngIf="flgExisteAntecedente == 'SI' && flgSegundaEval">
                  <div class="card">
                    <div class="card-header">
                      <h6 class="text-justify">¿Tipo de antecedentes?</h6>
                    </div>
                    <div class="card-body">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rdbInterno" name="rdbInterno" class="custom-control-input"
                        value="IN" [(ngModel)]="flgTipoAntecedente" (click)="asignarFlgTipoAntecedente($event)" [disabled]="flgLecturaFud" >
                        <label class="custom-control-label" for="rdbInterno">Interno</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rdbExterno" name="rdbInterno" class="custom-control-input"
                        value="EX" [(ngModel)]="flgTipoAntecedente"  (click)="asignarFlgTipoAntecedente($event)" [disabled]="flgLecturaFud" >
                        <label class="custom-control-label" for="rdbExterno">Externo</label>
                      </div>
                    </div>
                  </div>
                </div>

              <div *ngIf="flgSegundaEval">
                <div class="card">
                  <div class="card-header">
                    <h6 class="text-justify">¿Es información complementaria?</h6>
                  </div>
                  <div class="card-body">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbInformacionComplementariaS" name="rdbInformacionComplementaria"class="custom-control-input"
                      value="SI" [(ngModel)]="flgInformacionComplementaria" (click)="asignarFlgInformComplementaria($event)" [disabled]="flgLecturaFud" >
                      <label class="custom-control-label" for="rdbInformacionComplementariaS">Si</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbInformacionComplementariaN" name="rdbInformacionComplementaria"  class="custom-control-input"
                      value="NO" [(ngModel)]="flgInformacionComplementaria" (click)="asignarFlgInformComplementaria($event)" [disabled]="flgLecturaFud" >
                      <label class="custom-control-label" for="rdbInformacionComplementariaN">No</label>
                    </div>
                  </div>
                  </div>
            </div>

          

            <div *ngIf="flgSegundaEval">
                <div class="card">
                  <div class="card-header">
                    <h6 class="text-justify">Tipo de información</h6>
                  </div>
                  <div class="card-body">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbDenuncia" name="rdbDenuncia" 
                      class="custom-control-input" value="DEN" [(ngModel)]="flgTipoInformacion" (click)="asignarTipoInformacion($event)" [disabled]="flgLecturaFud" >
                      <label class="custom-control-label" for="rdbDenuncia">Denuncia</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbSugerencia" name="rdbDenuncia" 
                      value="SQR" class="custom-control-input" [(ngModel)]="flgTipoInformacion" (click)="asignarTipoInformacion($event)" [disabled]="flgLecturaFud" >
                      <label class="custom-control-label" for="rdbSugerencia">Sugerencia, queja o reclamo</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbPedido" name="rdbDenuncia" 
                      value="PIN" class="custom-control-input" [(ngModel)]="flgTipoInformacion" (click)="asignarTipoInformacion($event)" [disabled]="flgLecturaFud" >
                      <label class="custom-control-label" for="rdbPedido">Pedido de información</label>
                    </div>
                  </div>
                  </div>
            </div>
            
            <div *ngIf="flgTipoInformacion == 'DEN' && flgSegundaEval">
                <div class="card">
                  <div class="card-header">
                    <h6 class="text-justify">Tipo de Denuncia</h6>
                  </div>
                  <div class="card-body">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbTipoDenunciaIn" name="rdbTipoDenunciaIn" class="custom-control-input"
                    value="IN" [(ngModel)]="flgTipoDenuncia" (click)="asignarTipoDenuncia($event)" [disabled]="flgLecturaFud" >
                      <label class="custom-control-label" for="rdbTipoDenunciaIn">Interno</label>
                    </div>
                    
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbTipoDenunciaEx" name="rdbTipoDenunciaIn"  class="custom-control-input"
                      value="EX" [(ngModel)]="flgTipoDenuncia" (click)="asignarTipoDenuncia($event)" [disabled]="flgLecturaFud" >
                      <label class="custom-control-label" for="rdbTipoDenunciaEx">Externo</label>
                    </div>
                    
                  </div>
                  </div>
            </div>
            <!-- FIN CUS 06-->




            <div class="form-row">
    
              <div class="form-group col-md-6">
            
                <label for="select_resanali" class="col-form-label-sm">Resultado del Análisis:</label>
                <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)">
                  <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[0].dscMensaje}}" 
                  [matTooltipPosition]="'above'"></fa-icon>
                </span>
      
              </div>
      
              <div class="form-group col-md-6">
      
                <select class="form-control form-control-sm" id="select_resanali" [disabled]="flgLecturaFud"  [(ngModel)]="numIdResAnalisis" (change)="cambioResultado(numIdResAnalisis)">

                  <option *ngFor="let listRA of listResAnalisis" value="{{listRA.nresanalisisId}}">{{listRA.nresanalisisDsc}}</option>
                 
                </select>
      
              </div>
    
            </div>
    
          </div>
          
    
          <div class="card-header">
            <h6 class="text-justify">III. Conclusión</h6>
          </div>
    
          <div class="card-body">
    
            <div class="form-row">
    
              <div class="form-group col-md-6">
            
                <label for="input_resconclu" class="col-form-label-sm">Resultado de Conclusión:</label>
                <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)">
                  <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)" [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[1].dscMensaje}}" 
                  [matTooltipPosition]="'above'"></fa-icon>
                </span>
      
              </div>
      
              <div class="form-group col-md-6">
      
                <textarea class="form-control form-control-sm" rows="1" id="input_resconclu" [disabled] = "flgDeshabilitado"  [(ngModel)]="dscResConclus" maxlength="255"></textarea>
      
              </div>
      
            </div>
    
          </div>
    
          <div class="card-header">
            <h6 class="text-justify">IV. Recomendación</h6>
          </div>
    
          <div class="card-body">
    
            <div class="form-row">
    
              <div class="form-group col-md-6">
            
                <label for="input_resrecom" class="col-form-label-sm">Recomendación:</label>
                <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)">
                  <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[2].dscMensaje}}" 
                  [matTooltipPosition]="'above'"></fa-icon>
                </span>
      
              </div>
      
              <div class="form-group col-md-6">
      
                <textarea class="form-control form-control-sm" rows="1" id="input_resrecom" [disabled] = "flgDeshabilitado" [(ngModel)]="dscResRecomen" maxlength="255"></textarea>
      
              </div>
      
            </div>
    
          </div>

          <div class="card-header">
            <h6 class="text-justify">V. Comentarios de la Evaluación</h6>
          </div>
    
          <div class="card-body">
    
            <div class="form-row">
    
              <div class="form-group col-md-6">
            
                <label for="input_comentarios" class="col-form-label-sm">Comentarios:</label>
                <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(4,errorValidator)">
                  <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(4,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[4].dscMensaje}}" 
                  [matTooltipPosition]="'above'"></fa-icon>
                </span>
      
              </div>
      
              <div class="form-group col-md-6">
      
                <textarea class="form-control form-control-sm" rows="2" id="input_comentarios"  [(ngModel)]="strDscComentarios" maxlength="255" [disabled]="flgLecturaFud" ></textarea>
      
              </div>
      
            </div>
    
          </div>
    
          <div class="card mb-3">
    
              <div class="card-header">
    
    
                <h6 class="text-jusfity">Documentos Anexos</h6>
    
              </div>
    
              <div class="card-body">
    
                <app-evidencias></app-evidencias>
    
              </div>
    
          </div>


          <app-doc-a-generar></app-doc-a-generar>
          <app-documentos-emitidos></app-documentos-emitidos>

          <div class="card-header">
            <h6 class="text-justify">VI. Derivar Supervisor</h6>
          </div>
    
          <div class="card-body">
    
            <div class="form-row">
    
              <div class="form-group col-md-6">
            
                <label for="select_derSuperv" class="col-form-label-sm">Supervisor:</label>

                <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(3,errorValidator)">
                  <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(3,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[3].dscMensaje}}" 
                  [matTooltipPosition]="'above'"></fa-icon>
                </span>
      
              </div>
      
              <div class="form-group col-md-6">
      
                <select class="form-control form-control-sm" id="select_derSuperv"  [(ngModel)]="strCodSupervDer" [disabled]="flgLecturaFud">

                  <option *ngFor="let listSup of listSupervisor" value="{{listSup.cpPerCodigo}}">{{listSup.strDscNombreCompleto}}</option>
                 
                </select>
      
              </div>
    
            </div>
    
          </div>
          
          
    
        </div>
        
          <!-- CUS 07 -->
          <div *ngIf="flgEsFudEval">
            <div class="card">
              <div class="card-header">
                <h6 class="text-justify">Observaciones
                    <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(5,errorValidator)">
                        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(5,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[5].dscMensaje}}" 
                        [matTooltipPosition]="'above'"></fa-icon>
                      </span>
                </h6>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col-md-6">
                    <textarea [(ngModel)]="observacion" class="form-control form-control-sm" maxlength="255"></textarea>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-md btn-info" (click)="_agregarComentario()">Adjuntar</button>
                  </div>

                </div>
              </div>
            </div>
        </div>

        <div *ngIf="listaObservaciones.length > 0">
            <div> 
          
                <mat-table [dataSource]="dataSource" matSort>
                      
                      <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Observación</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cobservacionDsc}} </mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let row"> --- </mat-cell>
                      </ng-container>
        
                      <ng-container matColumnDef="{{matTableColumnsDef[2]}}">}
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let row"> <button *ngIf="!flgLectura" class="btn btn-sm btn-danger" (click)="_eliminar(row)">
                            <fa-icon [icon]="iconoEliminar"></fa-icon>
                          </button></mat-cell>
                      </ng-container>
        
                      <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
                      </mat-row> 
                </mat-table>
        
                <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
              </div>
        </div>
      </div>
      <!--GSOLIS-->
      <div  role="tabpanel" class="tab-pane fade show " id="aTabDenun">
        <app-contenedor-web></app-contenedor-web>
      </div>
      <!--GSOLIS-->
    </div>
    
  

</div>

<div class="form-row" *ngIf="!flgEsFudEval"><!-- Cus 07 ngIf="esFud" -->
  <div class="form-group col-md-2">
  </div>
  <div class="form-group col-md-2">
    <button type="button" class="btn btn-outline-success btn-sm btn-block" (click) = "_Guardar()">Guardar</button> <!--Guardar que debe quedar_Guardar()-->
  </div>
  <div class="form-group col-md-2">
    <button type="button" class="btn btn-outline-danger btn-sm btn-block rounded-pill" (click) = "_Cancelar()">Cancelar</button>
  </div>
  <div class="form-group col-md-2">
    <button type="button" class="btn btn-primary btn-sm btn-block rounded-pill" (click) = "_supervisor()">Supervisor</button><!--Método original _supervisorCus3() /GSOLIS SE CAMBIO PARA PROBAR CUS04-->
  </div>

  <div class="form-group col-md-2">
    <!--JCMF BOTON COMENTADO, EN EL CUS 003 NO DEBE DE MOSTRARSE-->
    <!--<button type="button" class="btn btn-warning btn-sm btn-block rounded-pill" disabled (click) = "_concluir()">Concluir.</button>-->
  </div>

  <div class="form-group col-md-2">
  </div>
</div>
<div class="form-row" *ngIf="flgEsFudEval">  
  <div class="form-group col-md-2">
    <button type="button" class="btn btn-outline-success btn-sm btn-block rounded-pill" (click) = "_aprobar()">Aprobar</button> <!--Aprueba lahoja de evaluación-->
  </div>
  <div class="form-group col-md-2">
    <button type="button" class="btn btn-outline-warning btn-sm btn-block" (click) = "_observar()">Observar</button> <!-- observa la hoja de evaluación-->
  </div>
  <div class="form-group col-md-2">
    <button type="button" class="btn btn-outline-danger btn-sm btn-block rounded-pill" (click) = "_Cancelar()">Cancelar</button>
  </div>
</div>
<!-- 
<div class="form-row">

 

  
  <div mat-dialog-actions class="row justify-content-center" >
    <button type="button" class="btn btn-primary" (click) = "_Guardar()">Guardar</button>
    <button type="button" class="btn btn-primary" (click) = "_Cancelar()">Cancelar</button>
  </div>
  
</div> -->

<!-- </form> -->