<div class="card mb-3" ><!--SECCION funcionario--> <!--[formGroup]="formFuncionario"-->
  <div class="card-header">
    <h6 class="text-jusfity">Expedientes anexos:</h6>
  </div>
  
  <div class="card-body">
      <div class="form-row align-items-center" *ngIf="!flgLectura">
          <div class="col-md-2"><label class="col-form-label-sm">Número de expediente</label>
          </div>
          <div class="col-md-4">
            <input class="form-control form-control-sm" maxlength="20" type="text"  [(ngModel)]="numeroExpediente" name="numeroExpediente" mask="0*">
        
          </div>
          <div class="col-md-1">
            <button class="btn btn-sm btn-info"  (click) = "buscarExpediente()">Buscar</button>
        </div>
          <div class="col-sm-4">
            <select class="form-control form-control-sm" [(ngModel)]="select_anio_desde" [disabled]="flgLectura" name="select_anio_desde">
              <!-- formControlName="select_anio_desde"-->
              <option [ngValue]="null">Seleccione</option>
              <option *ngFor="let anio of listAnios" value="{{anio.canhoCod}}">{{anio.canhoDsc}}</option>
            </select>
          </div>
        
          

      </div>

      <div *ngIf="flgEsSGD"> 
          
        <mat-table [dataSource]="dataSourceSGD" matSort>
              
              <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Expediente </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nu_expediente}} </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha recepción </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.fecha_expediente}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[2]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.de_tipo_asunto}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[3]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.de_estado_doc_externo}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[4]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.entidad_sujeta}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[5]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</mat-header-cell>
                <mat-cell *matCellDef="let row"> <button *ngIf="!flgAgregado" class="btn btn-sm btn-info" (click)="_agregarExpSGD(row)">
                    <fa-icon [icon]="iconoAgregar"></fa-icon>
                  </button></mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
              <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
              </mat-row> 
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
      </div>

      <div *ngIf="listaExpedienteSelec.length != 0"> 
          <h2>Expedientes Anexos</h2>
          <mat-table [dataSource]="dataSourceExpSelec" matSort>
               
                <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Expediente </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.nu_expediente}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha recepción </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.fecha_expediente}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="{{matTableColumnsDef[2]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.de_tipo_asunto}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="{{matTableColumnsDef[3]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.de_estado_doc_externo}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="{{matTableColumnsDef[4]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.entidad_sujeta}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="{{matTableColumnsDef[5]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</mat-header-cell>
                  <mat-cell *matCellDef="let row"> <button *ngIf="!flgLectura"  class="btn btn-sm btn-danger" (click)="_eliminarExpSGD(row)">
                      <fa-icon [icon]="iconoEliminar"></fa-icon>
                    </button></mat-cell>
                </ng-container>
  
                <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
                <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
                </mat-row> 
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
        </div>
  </div>
</div>