<div class="card-header">
  <h6 class="text-justify">Documentos Emitidos</h6>
</div>

<div class="card-body">

  <div class="example-container mat-elevation-z8">

    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Nro. Documento</th>
          <th scope="col">Nro. Proyecto</th>
          <th scope="col">Tipo Documento</th>
          <th scope="col">Tipo Destinatario</th>
          <th scope="col">Fecha Emisión</th>
          <th scope="col">Medio Comunicación</th>
          <th scope="col">Fecha Notif.</th>
          <th scope="col">Cargo</th>
          <th scope="col" *ngIf="!flgSoloLectura">Eliminar</th>
          <th scope="col">Seguimiento</th>
        </tr>
      </thead>
      
      <tbody>
        <!-- <tr *ngFor="let ev of listEvidencias ; let i = index" [ngClass]="{'disabled': flgSoloLectura}">
          <th scope="row">{{i+1}}</th>  
          <td>{{ev.cdocumentoDscnombre}}</td>
          <td>{{ev.strDdocumentoFchreg}}</td>
          <td *ngIf="!flgSoloLectura"> <button class="btn btn-sm btn-danger" (click)="eliminar(ev)">
              <fa-icon [icon]="iconoEliminar"></fa-icon>
            </button></td>
        </tr> -->
      </tbody>
    </table>
  </div>

</div>

