<form ><!--[formGroup]="formAgrupacion"-->

    <div class="form-row">
  
      <div class="form-group col-md-6">
  
        <label class="col-form-label-sm" for="input_nom_agrup">Nombre Agrupación</label>
    
      </div>
  
      <div class="form-group col-md-6">
  
        <input maxlength = "255" type="text" class="form-control form-control-sm" id="input_nom_agrup" 
        [(ngModel)]="nombreAgrupacion" [disabled]="flgLectura" maxlength="255"  name="input_agrupacion">
        <!--formControlName="input_nom_agrup"-->
      </div>
  
    </div>
  
    <div class="form-row">
  
      <app-persona-natural></app-persona-natural>
  
    </div>
  
  
  </form>
  