<div class="card mb-3"> <!-- [formGroup]="formEvidencias"-->
  <div class="card-header">
    <h6 class="text-jusfity">Prueba de los hechos:</h6>
  </div>
  
  <div class="card-body">
      <div class="form-row align-items-center">
          <div class="col-md-6">
            <label class="col-form-label-sm">¿Cuenta con pruebas de hechos?</label>
          </div>

          <div class="col-md-6">
            <label class="mr-3" *ngIf="!flgLectura || (flgLectura && !cuenta_pruebas)">No</label>
            <mat-slide-toggle [checked]="cuenta_pruebas" [(ngModel)]="cuenta_pruebas"(change)="cambioCuentaPruebas($event)" *ngIf="!flgLectura" ></mat-slide-toggle>
            <label class="mr-3" *ngIf="!flgLectura || (flgLectura && cuenta_pruebas)">Si</label>
          </div>
      </div>
      <app-evidencias *ngIf="cuenta_pruebas"></app-evidencias>
     <!-- <div class="form-row align-items-center" *ngIf="cuenta_pruebas">
          <div class="col-md-6"><label class="col-form-label-sm">Seleccionar archivo</label></div>
          <div class="col-md-6"><input type="file" id="file" formControlName="evidenciaFile" (change)="handleFileInput($event.target.files)"></div>
      </div>
 
      <div class="" *ngIf="cuenta_pruebas">
          <div class="card mb-3">
              <div class="card-header">
                  <h6 class="text-jusfity">Lista de Pruebas de hechos</h6>
                </div>
                <div class="card-body">
                    <div class="form-row align-items-center">
                        <table class="table table-hover table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">Nombre Evidencia</th>
                                <th scope="col">Tipo Documento </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let den of listFilesEvidencias ; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{den.name}}</td>
                                <td>{{den.type}}</td>
                              
                              </tr>
                            </tbody>
                          </table>
                    </div>
              </div>
          </div>
      </div>-->

  
  
  

  </div>
</div>

