<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">N° Doc.</th>
      <th scope="col">Tipo Documento</th>
      <th scope="col">Estado</th>
      <th scope="col">Fecha y Hora Registro</th>
      <!-- <th scope="col">Hora Registro</th> -->
      <th scope="col">Documento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lfw of listFormWeb ; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{lfw.cfurCodigo}}</td>
      <td>{{lfw.canal.ccanalDescripcion}}</td>
      <td>{{lfw.estado.cestadoDescripcion}}</td>
      <td>{{lfw.strDfurFecregistro}}</td>
      <!-- <td>{{lfw.hora_inicio_reg}}</td> -->
      <td>
        <button class="btn btn-danger" (click)="_VerAntecedente(lfw.nfurId)">Descargar
        </button>
      </td>
    </tr>
  </tbody>
</table>