<app-nav-modal (opCerrarModal)="cancelar()"></app-nav-modal>

<div class="card" ><!--container--> <!--[formGroup]="formFuncionario"-->
  <!-- <div class="card-header">
        <h6>Funcionario Involucrado</h6>
  </div> -->
  <div class="card-body">      
    <div class="form-row align-items-center">
        <div class="col-sm-4">
            <label for="select_tipoDoc" class="">Tipo de Documento</label>
           <!-- <span class="icon-error ml-1" *ngIf="select_tipoDoc.invalid && (select_tipoDoc.dirty || select_tipoDoc.touched)">
                <fa-icon *ngIf="select_tipoDoc.invalid"  [icon]="iconoError"class="mr-2" matTooltip="{{cargoError}}" 
                [matTooltipPosition]="'above'"></fa-icon>
            </span>-->
        </div>
        <div class="col-sm-6">
          <!--Tipo documento-->
          <select class="form-control form-control-sm" id="select_tipoDoc"
                  [(ngModel)]="tipoDocumento" (change)="cambioTipoDocumento()" [disabled]="flgTipoDocDisabled">

              <option [ngValue]="null">Desconocido</option>  <!--formControlName="select_tipoDoc"-->
              <option *ngFor="let tp of listTipoDoc" value="{{tp.ntipdocumentoId}}">{{tp.ctipdocumentoDsc}}</option>
              
          </select>
        </div>
      </div>

    <div  class="form-row align-items-center">
  
      <div class="col-md-6">
          <label class="col-form-label-sm" for="input_nroDoc">Número Documento</label>
             <!--Número de documento-->
             <input type="text" class="form-control form-control-sm" id="input_nroDoc" mask="00000000"  
             minlength="8" maxlength="8" [(ngModel)]="denunciado.cdenunciadoNrodoc" [disabled]="flgNroDocDisabled">  
            <!--formControlName="input_nroDoc"-->     
      </div>
      <div>
          
          <label class="col-form-label-sm invisible">Validar</label>
          <!--*ngIf="formFuncionario.controls.select_tipoDoc.value==1"-->
          <button  *ngIf="tipoDocumento==1" class="btn btn-primary form-control" (click)="obtenerPersonaXNumeroDocumento()" [disabled] = "flgDeshabilitaValidar">
            <span *ngIf= "!flgDeshabilitaValidar">Validar</span>
            <span *ngIf= "flgDeshabilitaValidar">Procesando</span>
          </button>
      </div>
      
    </div>


    <div class="form-row">
    <div class="form-group col-md-4">
    <!-- <div *ngIf="input_pApellido.invalid && (input_pApellido.dirty || input_pApellido.touched)"  class="alert alert-danger">
        <span *ngIf="input_pApellido.errors.pattern">Solo debe ingresar letras</span>
      </div>-->
      <label class="col-form-label-sm" for="input_pApellido">Primer Apellido 
        <!--<span class="icon-error ml-1" *ngIf="input_pApellido.invalid && (input_pApellido.dirty || input_pApellido.touched)">
          <fa-icon *ngIf="input_pApellido.invalid" [icon]="iconoError"class="mr-2" matTooltip="{{pApellidoError}}" 
          [matTooltipPosition]="'above'"></fa-icon>
        </span>--> 
      </label>
      <input type="text" class="form-control form-control-sm" id="input_pApellido"
      maxlength="32" pattern="{{soloLetras}}" [(ngModel)]="denunciado.cdenunciadoApepaterno" [disabled]="flgApellidoPDisabled"> <!--formControlName="input_pApellido"-->
      
    
    </div>
    <div class="form-group col-md-4">
      <label class="col-form-label-sm" for="input_sApellido">Segundo Apellido</label>
      <!--<span class="icon-error ml-1" *ngIf="input_sApellido.invalid && (input_sApellido.dirty || input_sApellido.touched)">
          <fa-icon *ngIf="input_sApellido.invalid" [icon]="iconoError"class="mr-2" matTooltip="{{sApellidoError}}" 
          [matTooltipPosition]="'above'"></fa-icon>
      </span>-->
       
      <input type="text" class="form-control form-control-sm" id="input_sApellido"   
       maxlength="32" pattern="{{soloLetras}}" [(ngModel)]="denunciado.cdenunciadoApematerno" [disabled]="flgApellidoMDisabled"> <!--  formControlName="input_sApellido" -->
    </div>
    <div class="form-group col-md-4">
      <label class="col-form-label-sm" for="input_nombresDenun">Nombres</label>
     <!-- <span class="icon-error ml-1" *ngIf="input_nombresDenun.invalid && (input_nombresDenun.dirty || input_nombresDenun.touched)">
          <fa-icon *ngIf="input_nombresDenun.invalid" [icon]="iconoError"class="mr-2" matTooltip="{{nombresError}}" 
          [matTooltipPosition]="'above'"></fa-icon>
      </span>-->
       
      <input type="text" class="form-control form-control-sm" id="input_nombresDenun"
       maxlength="32" [(ngModel)]="denunciado.cdenunciadoNombres" [disabled]="flgNombresDisabled"> 
       <!--formControlName="input_nombresDenun"-->

    </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-sm-2">
          <label for="select_cargo" class="col-form-label-sm">Cargo</label>
          <!--<span class="icon-error ml-1" *ngIf="select_cargo.invalid && (select_cargo.dirty || select_cargo.touched)">
              <fa-icon *ngIf="select_cargo.invalid" [icon]="iconoError"class="mr-2" matTooltip="{{cargoError}}" 
              [matTooltipPosition]="'above'"></fa-icon>
          </span>-->
      </div>
    
      <div class="col-sm-4">
          <select class="form-control form-control-sm" id="select_cargo" [(ngModel)]="denunciado.cargo.ncargoId" [disabled]="flgCargoDisabled"><!--formControlName="select_cargo"-->
            <option *ngFor="let cargo of listCargo" value="{{cargo.ncargoId}}">{{cargo.ccargoDsc}}</option>
          </select>
      </div>
      
    </div>
    <div class="form-row align-items-center">
      <div class="col-md-6"><label class="col-form-label-sm">¿Permanencia en la entidad a la fecha?</label></div>
      <div class="col-md-6"><label class="mr-3">No</label><mat-slide-toggle (change)="CambioCheckPerm($event)" [checked]="flgPermaneceEntidad">Si</mat-slide-toggle></div>
    
    </div>
    
  </div>
  
</div>
<div class="form-row left-content-end">
    <div class="form-group col-sm-2">
        <button type="button" class="btn form-control btn-danger" (click)="agregarDenunciantes()">Agregar</button>
    </div>
    <!-- <div class="form-group col-sm-2">
        <button type="button"  class="btn form-control btn-light" (click)="cancelar()">Regresar</button>
    </div> -->
</div>
