<app-nav-modal (opCerrarModal)="cerrarModal()"></app-nav-modal>

<form [formGroup]="formIrregInfobras">

  <div class="card mb-3 entidad" >

    <!-- <div class="card-header">

        <h6 class="text-justify">Descripción de hecho irregular</h6>

    </div> -->

    <div class="card-body">

   <!--    <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Hecho Irregular</th>
            <th scope="col">Seleccionar</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hi of listHechoIrregular; let i = index">
            <td>{{hi.num_item + 1 }}</td>
            <td>{{hi.cobrphiDsc}}</td>
            <td><input type="checkbox" class="mr-3" [checked] = "hi.flgSeleccionar" (change)="CheckSeleccionar(hi,$event)"></td>
          </tr>
        </tbody>
      </table> -->


      <mat-table [dataSource]="dataSource"  matSort>
              
          <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
            <mat-header-cell *matHeaderCellDef mat-sort-header> Hechos Irregulares </mat-header-cell>
            <mat-cell *matCellDef="let hi"> {{hi.cobrphiDsc}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</mat-header-cell>
            <mat-cell *matCellDef="let hi"> 
                <input type="checkbox" class="mr-3" [checked] = "hi.flgSeleccionar" (change)="CheckSeleccionar(hi,$event)">
              
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
          <mat-row   *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
          </mat-row> 
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>

    </div>

  </div>

  <!-- <div class="row justify-content-end" >
    
    <div class="col-sm-2">
        <button type="button" class="btn btn-light" (click) = "cerrarModal()">Cerrar</button>
    </div>
  </div> -->
   
</form>

<div class="col-sm-2 ">
  <button type="button" class="btn btn-pill btn-danger" (click) = "Aceptar()">Aceptar</button>
</div>