<app-body-datos-general></app-body-datos-general>
<div class="card mb-3 entidad" > <!--Registro del expediente: Remitente-->
  <div class="card-header">
    <h6 class="text-left" >Remitente</h6>
  </div>
  <div class="card-body">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label-sm" for="select_tipo">Uni. Orgánica: </label>

      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[0].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>

      <div class="col-sm-9">
        <select class="form-control form-control-sm" [(ngModel)]="strCodUno" [disabled] = "flgSoloLectura" (change) = "_CambioUO()">
          <!-- <option [ngValue]="null">Seleccione</option> -->
          <option *ngFor="let luo of listUniOrganica" value="{{luo.cpUnoCodigo}}">{{luo.cpUnoDescripcion}}</option>
          <!-- <option value="UO11">UO1</option>
          <option value="UO22">UO2</option> -->
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label-sm" for="select_tipo">Firmado Por: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="input_firmado" [(ngModel)] = "strDscFirmado" [disabled] = "flgDeshabilitado">        
        <!-- <select class="form-control form-control-sm" [(ngModel)]="codPersFirmado" >
        
          <option *ngFor="let lpcgr of listPersonalCgr" value="{{lpcgr.cpPerCodigo}}">{{lpcgr.strDscNombreCompleto}}</option>
        
        </select> -->
      </div>
      <label class="col-sm-2 col-form-label-sm" for="select_tipo">Elaborado Por: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="input_elaborado" [(ngModel)] = "strDscElaborado" [disabled] = "flgDeshabilitado">
        <!-- <select class="form-control form-control-sm" [(ngModel)]="codPersElaborado" >
          
          <option *ngFor="let lpcgr of listPersonalCgr" value="{{lpcgr.cpPerCodigo}}">{{lpcgr.strDscNombreCompleto}}</option>
          
        </select> -->
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 entidad" > <!--Registro del expediente: Datos del documento-->
  <div class="card-header">
    <h6 class="text-left">Documento</h6>
  </div>
  <div class="card-body">

    <div class="form-group row">

      <label class="col-sm-1 col-form-label-sm" for="select_tipoDatos">Tipo: </label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[1].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>

      <div class="col-sm-2">
        <select class="form-control form-control-sm" id = "select_tipoDatos" [(ngModel)]="numIdTipoDoc"  [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">
          <!-- <option [ngValue]="null">Seleccione</option> -->
          <option *ngFor="let ltde of listTipoDocExp" value="{{ltde.ntipdocexpId}}">{{ltde.ntipdocexpDsc}}</option>
          <!-- <option value=1>Acta</option>
          <option value=2>Carta</option> -->
        </select>
      </div>

      <label class="col-sm-1 col-form-label-sm" for="input_numeroDoc1">Número: </label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[2].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>

      <div class="col-sm-3">
        <input type="text" maxlength="15" class="form-control form-control-sm" id="input_numeroDoc1" [(ngModel)]="strNroDoc1" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">

      </div>

      <div class="col-sm-1">
        
        <input type="text" class="form-control form-control-sm" id="input_numeroDoc2" [(ngModel)]="strNroDoc2"  [disabled] = "flgDeshabilitado">
        
      </div>

      <div class="col-sm-1">

        <input type="text" class="form-control form-control-sm" id="input_numeroDoc3" [(ngModel)]="strNroDoc3"  [disabled] = "flgDeshabilitado">
      </div>

    </div>

    <div class="form-group row">

      <label class="col-sm-1 col-form-label-sm" for="input_asunto">Asunto:</label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(3,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(3,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[3].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>

      <div class="col-sm-10">
        <textarea maxlength="255" class="form-control form-control-sm" rows="4" id="input_asunto" [(ngModel)]="strDscAsunto" [disabled] = "flgSoloLectura"  (change) = "ValidarDatos()"></textarea>
      </div>

    </div>

  </div>
</div>

<div class="card mb-3 entidad" > <!--Registro del expediente: Referencia-->
  <div class="card-header">
    <h6 class="text-left" >
      Referencia
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(4,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(4,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[4].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>
    </h6>
   
  </div>
  <div class="card-body">
    <div class="form-row">

      <div class="form-group col-md-1">

        <button type="button" class="btn btn-outline-success btn-sm btn-block" (click) = "_AgregarRef()" [disabled] = "flgSoloLectura">
          Agregar
        </button>    

      </div>
      
    </div>
    <div class="form-row centrar">
      <!-- <div class="form-group col-md-1">

      </div> -->
      <div class="form-group col-md-12 centrar">
        <table class="table table-hover table-striped table-sm" >
          <thead>
            
            <tr>
              <th scope="col">Item</th>
              
              <th scope="col">Año</th>
              <th scope="col">Tipo de Documento</th>
              <th scope="col">N° Documento</th>
              <th scope="col">Expediente</th>
              <th scope="col">Fecha</th>
              <th scope="col">Indicaciones</th>
              <th scope="col">Prioridad</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lref of listaExpRef; let i = index" [ngClass]="{'disabled': flgSoloLectura}" >
              <td>{{i+1}}</td>
              <td>

                <select class="form-control form-control-sm" [(ngModel)]="lref.cexpdetCodanho" [disabled] = "flgSoloLectura"  (change) = "ValidarDatos()">
                  <!-- <option [ngValue]="null">Seleccione</option> -->
                  <option *ngFor="let lan of listAnho" value="{{lan.canhoCod}}">{{lan.canhoDsc}}</option>
                </select>

              </td>

              <td>

                <select class="form-control form-control-sm" [(ngModel)]="lref.nexpdetIdtipdoc" [disabled] = "flgSoloLectura"   (change) = "ValidarDatos()">
                  <!-- <option [ngValue]="null">Seleccione</option> -->
                  <option *ngFor="let ltde of listTipoDocExp" value="{{ltde.ntipdocexpId}}">{{ltde.ntipdocexpDsc}}</option>
                  <!-- <option value=1>Acta</option>
                  <option value=2>Carta</option> -->
                </select>

              </td>

              <td>

                <input type="text" maxlength="50" class="form-control form-control-sm" id="input_lef_nrodoci" [(ngModel)] = "lref.cexpdetNrodoc" [disabled] = "flgSoloLectura"   (change) = "ValidarDatos()">

              </td>

              <td>

                <input type="text" maxlength="50" class="form-control form-control-sm" id="input_lef_nroexpi" [(ngModel)] = "lref.cexpdetNroexp" [disabled] = "flgSoloLectura"   (change) = "ValidarDatos()">

              </td>
              <td>

                <!-- <input type="date" class="form-control form-control-sm" id="input_lref_fechai" [(ngModel)]="lref.dexpdetFecha"> -->
                <input type="date" class="form-control form-control-sm" id="input_lref_fechai" [(ngModel)]="lref.strDexpdetFecha" [disabled] = "flgSoloLectura"   (change) = "ValidarDatos()">

              </td>

              <td>

                <input type="text" maxlength="255" class="form-control form-control-sm" id="input_lef_indicai{{i}}" [(ngModel)] = "lref.cexpdetDscindica" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">

              </td>

              <td>

                <select class="form-control form-control-sm" [(ngModel)]="lref.nexpdetIdprioridad" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">
                  <!-- <option [ngValue]="null">Seleccione</option> -->
                  <option *ngFor="let lpri of listPrioridad" value="{{lpri.nprioridadId}}">{{lpri.cprioridadDsc}}</option>
                  <!-- <option value=7>Normal</option>
                  <option value=8>Urgente</option> -->
                </select>

              </td>

              <td>

                <button type="button" class="btn btn-primary" (click)="_EliminarRef(i)" [disabled] = "flgSoloLectura">-</button>

              </td>

            </tr>
           
          </tbody>

        </table>  

      </div>

    </div>

  </div>

</div>

<div class="card mb-3 entidad" > <!--Registro del expediente: Destinatario-->
  <div class="card-header">
    <h6 class="text-left" >
      Destinatario
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(5,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(5,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[5].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>
    </h6>
  </div>
  <div class="card-body">

    <div class="form-row">

      <div class="form-group col-md-1">

        <button type="button" class="btn btn-outline-success btn-sm btn-block" (click) = "_AgregarDest()" [disabled] = "flgSoloLectura">
          Agregar
          <!-- <span class="fa fa-minus-circle fa-2x boton_color"></span> -->
        </button>    

      </div>
      
    </div>

    <!-- <div class="form-group col-md-1 mx-auto">
      <div class="form-row centrar ">
        <button type="button" class="btn btn-outline-success btn-sm btn-block" (click) = "_AgregarDest()" [disabled] = "flgSoloLectura">
          <span class="fa fa-minus-circle fa-2x boton_color"></span>
        </button>
      </div>
      
    </div> -->
    <div class="form-row centrar">
      
      <!-- <div class="form-group col-md-1 mx-auto" (click) = "_AgregarDest()" [disabled] = "flgSoloLectura">
        <div class="form-row centrar ">
          <span class="fa fa-minus-circle fa-2x boton_color" ></span>
        </div>
        <div class="form-row centrar " (click) = "Eliminar()">
          <span class="fa fa-plus-circle fa-2x boton_color"></span>
        </div>
      </div> -->
      <div class="form-group col-md-12 centrar">

        <table class="table table-hover table-striped table-sm">
          <thead>
           
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Unidad Orgánica</th>
              <th scope="col">Local</th>
              <th scope="col">Personal</th>
              <th scope="col">Responsable</th>
              <th scope="col">Indicaciones</th>
              <th scope="col">Prioridad</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ldest of listaExpDest; let i = index">
              <td>{{i+1}}</td>
              <td>

                <select class="form-control form-control-sm" [(ngModel)]="ldest.cexpdetCoduno" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">
                  <!-- <option [ngValue]="null">Seleccione</option> -->
                  <option *ngFor="let luo of listUniOrganica" value="{{luo.cpUnoCodigo}}">{{luo.cpUnoDescripcion}}</option>
                  <!-- <option value="UO11">UO1</option>
                  <option value="UO22">UO2</option> -->
                </select>

              </td>

              <td>

                <select class="form-control form-control-sm" [(ngModel)]="ldest.cexpdetCodlocal" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">
                  <!-- <option [ngValue]="null">Seleccione</option> -->
                  <option *ngFor="let lscgr of listSedeCgr" value="{{lscgr.cpSedCodigo}}">{{lscgr.cpSedDescripcion}}</option>
                  <!-- <option value="01">SEDE CHICLAYO</option>
                  <option value="02">SEDE AREQUIPA</option> -->
                </select>

              </td>

              <td>

                <select class="form-control form-control-sm" [(ngModel)]="ldest.cexpdetCodpersonal" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">
                  <!-- <option [ngValue]="null">Seleccione</option> -->
                  <option *ngFor="let lpcgr of listPersonalCgr" value="{{lpcgr.cpPerCodigo}}">{{lpcgr.strDscNombreCompleto}}</option>
                  <!-- <option value="60036">LEON LAMAS, JESUS NICOLAS</option>
                  <option value="60037">GONZALES SOLIS, GABEYNER</option> -->
                </select>

              </td>

              <td>

                <select class="form-control form-control-sm" [(ngModel)]="ldest.cexpdetCodresp" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">
                  <!-- <option [ngValue]="null">Seleccione</option> -->
                  <option *ngFor="let lpcgr of listPersonalCgr" value="{{lpcgr.cpPerCodigo}}">{{lpcgr.strDscNombreCompleto}}</option>
                  <!-- <option value="60036">LEON LAMAS, JESUS NICOLAS</option>
                  <option value="60037">GONZALES SOLIS, GABEYNER</option> -->
                </select>

              </td>

              <td>

                <input type="text" maxlength="255" class="form-control form-control-sm" id="input_ldest_indicai" [(ngModel)] = "ldest.cexpdetDscindica" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">

              </td>

              <td>

                <select class="form-control form-control-sm" [(ngModel)]="ldest.nexpdetIdprioridad" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">
                  <!-- <option [ngValue]="null">Seleccione</option> -->
                  <option *ngFor="let lpri of listPrioridad" value="{{lpri.nprioridadId}}">{{lpri.cprioridadDsc}}</option>
                  <!-- <option value=7>Normal</option>
                  <option value=8>Urgente</option> -->
                </select>

              </td>

              <td>

                <button type="button" class="btn btn-primary" (click)="_EliminarDest(i)" [disabled] = "flgSoloLectura">-</button>

              </td>

            </tr>
          
          </tbody>
        </table>  

      </div>
    </div>

  </div>

</div>