.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

.boton_color{
  color: blue;
}

.boton_color:hover {
  color: red;
}

.centrar {
  justify-content: center;
  align-items: center;
}

/* h6 {
  font-size: large;
  font-weight: bold;
  text-align: right;
} */

