<div class="card mb-3 " ><!--SECCION Empresa involucrada--><!--[formGroup]="formEmpresaInvolucrada"-->
  <div class="card-header">
    <h6 class="text-jusfity">Empresa(s) involucrada(s):</h6>
  </div>
  
  <div class="card-body">
      <div class="card mb-3" *ngIf = "!flgLectura">
          <div class="card-header">
              <h6 class="text-jusfity">Consultar RUC</h6>
            </div>
            <div class="card-body">
                <div class="align-items-center">
                    <div class="row">
                      <div class="col-md-8">
                          <input type="radio" id="cbk_ruc" class="mr-3" value="RUC" [disabled]="flgLectura"
                          [(ngModel)]="cbk_empresa" (change)="rucSeleccionado($event)">
                          <!--formControlName="cbk_empresa"-->
                          <label>Número de RUC</label>
                          <input type="text" class="form-control form-control-sm" mask="0*" 
                          [(ngModel)]="inputRuc" maxlength="11" minlength="11" [disabled]="flgLectura || flgRucDisabled">
                         <!--formControlName="input_ruc"-->

                        
                          <!--[disabled]="flgDeshabilitaValidar"-->
                          <!-- <i class="fa" [ngClass]="{'fa-spin fa-spinner': flgDeshabilitaValidar, 'fa-check': !flgDeshabilitaValidar}"></i> -->
                         <!--  <i *ngIf= "!flgDeshabilitaValidar">Validar</i>
                          <i *ngIf= "flgDeshabilitaValidar">Procesando</i>
                          --> 
                        
                        </div>  

                        <div class="col-md-2"  *ngIf="!flgRucDisabled">
                            <!-- <div class="loading-icon"></div> -->
                            <input  class="invisible">
                            <button class="btn btn-primary" (click)="obtenerEmpresa()" [disabled]="flgLectura || flgDeshabilitaValidar">
                                <!-- <i>Validar</i>  -->
                                <i *ngIf= "!flgDeshabilitaValidar">Validar</i>
                              <i *ngIf= "flgDeshabilitaValidar">Procesando</i>
                              </button>
                        </div>

                    </div>
                </div>
                <div class="align-items-center">
                    <div class="row">

                      <div class="col-md-8">
                        <input type="radio" class="mr-3" id="cbk_razon_social"  value="RAZON_SOCIAL"  [disabled]="flgLectura"
                         [(ngModel)]="cbk_empresa" (change)="razonSeleccionado()">
                        <!-- formControlName="cbk_empresa" -->
                        <label>Razón Social</label>
                         <input type="text" class="form-control form-control-sm" id="input_razon_social" maxlength="50" 
                         [(ngModel)]="inputRazonSocial"[disabled]="flgLectura || flgRazonSocialDisabled">
                         <!--formControlName="input_razon_social"-->
  
                      </div>

                      <div class="col-md-2" *ngIf="!flgRazonSocialDisabled">
                          <input  class="invisible">
                          <button class="btn btn-primary" (click)="obtenerEmpresa()" [disabled]="flgLectura || flgDeshabilitaValidar">
                              <!-- <i>Validar</i>  -->
                              <i *ngIf= "!flgDeshabilitaValidar">Validar</i>
                              <i *ngIf= "flgDeshabilitaValidar">Procesando</i>
                            </button>
                      </div>
                    </div>

                   
                </div>

               <div>
                  <input type="checkbox" class="mr-3"[checked] = "empresa_registrada" (change)="cambiarEmpresaRegistada($event)"
                  [(ngModel)]="empresa_registrada" [disabled]="flgLectura">
                  <!--formControlName="empresa_registrada" -->
                  <label>La empresa no esta registrada</label>
               </div>
          </div>
      </div>

      <div class="card mb-3" *ngIf="empresaList.length > 0">
          <div class="card-header">
              <h6 class="text-jusfity">Lista Empresas involucradas</h6>
            </div>
            <div class="card-body">
               <!-- <div class="form-row align-items-center">-->
                    <!-- <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">RUC</th>
                            <th scope="col">Razón Social</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Representante Legal</th>
                            <th scope="col" *ngIf="!flgLectura">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let emp of empresaList ; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{emp.cpersonaNrodoc}}</td>
                            <td>{{emp.cpersonaRazonsocial}}</td>
                            <td>{{emp.cpersonaDscdireccion}}</td>
                            <td>{{emp.cpersonaDscreprelegal}}</td>
                            <td>
                                <button *ngIf="!flgLectura" class="btn btn-danger" (click)="eliminar(emp)">
                                  <fa-icon [icon]="iconoEliminar"class="mr-2"></fa-icon>
                                </button>
                            </td>
                          </tr>
                        </tbody>
                      </table> -->

                   
                          <mat-table [dataSource]="dataSource" matSort>
                                
                                <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> RUC</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.cpersonaNrodoc}} </mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Razón Social </mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.cpersonaRazonsocial}} </mat-cell>
                                </ng-container>
                  
                                <ng-container matColumnDef="{{matTableColumnsDef[2]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.cpersonaDscdireccion}} </mat-cell>
                                </ng-container>
                  
                                <ng-container matColumnDef="{{matTableColumnsDef[3]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Representante</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.cpersonaDscreprelegal}} </mat-cell>
                                </ng-container>
                  
                                <ng-container matColumnDef="{{matTableColumnsDef[4]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> <button *ngIf="!flgLectura" class="btn btn-sm btn-danger" (click)="eliminar(row)">
                                      <fa-icon [icon]="iconoEliminar"></fa-icon>
                                    </button></mat-cell>
                                </ng-container>
                  
                                <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
                                </mat-row> 
                          </mat-table>
                  
                          <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
                       
               <!-- </div> -->
          </div>
      </div>
  </div>
</div>
