/* .loading-icon {
    position: relative;
    width: 20px;
    height: 20px; 
    margin:50px auto;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
  }
  
  .loading-icon:before {
    content: "\f110";
    font-family: FontAwesome;
    font-size:20px;
    position: absolute;
    top: 0; 
  } */