<app-nav-modal (opCerrarModal)="cancelar()"></app-nav-modal>

<div class="card mb-3 entidad" >

    <div class="card-header">

        <h6 class="text-justify">1. Datos Generales</h6>

    </div>

    <div class="card-body">

        <div class="form-row">

            <div class="form-group col-md-3">
                <label for="select_tipejec" class="col-form-label-sm">Tipo Ejecución</label>
            </div>

            <div class="form-group col-md-3">
                <select class="form-control form-control-sm" id="select_tipejec" [(ngModel)]="obraPublica.nobrapublicaIdejec"> 
                    <option [ngValue]="null">Seleccione</option>
                    <option *ngFor="let listEjec of listTipoEjecucion" value="{{listEjec.ncatalogoId}}">{{listEjec.ccatalogoDsc}}</option>
                    <!-- <option *ngFor="let listEjec of listTipoEstado" value="{{listEjec.}}">{{listEjec.}}</option> -->
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="direccionObra" class="col-form-label-sm">Costo</label>
            </div>

            <div class="form-group col-md-3">
                <!-- <input type="number" min="0" class="form-control form-control-sm"  name="montoFlg"  placeholder="0.00" step=".01"
                [(ngModel)]="obraPublica.nobrapublicaCosto" > -->

                <!-- <input type="text" min="0" class="form-control form-control-sm"  name="montoFlg"  placeholder="0.00"
                [(ngModel)]="obraPublica.strNobrapublicaCosto"  mask="0*.00" > -->

                <input type="text"  [(ngModel)]="obraPublica.strNobrapublicaCosto" mask="separator.2" thousandSeparator=","
                         placeholder="0.00"
                        class="form-control form-control-sm" name="montoFlg" maxlength="20" (change)="_cambioMonto($event.target.value)" >

                
            </div>
        

        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="select_tipejec" class="col-form-label-sm">Nombre de obra</label>
            </div>
    
            <div class="form-group col-md-9">
                <input class="form-control" [(ngModel)]="obraPublica.cobrapublicaDscnombre">
            </div>

            <!-- <div class="fo
                rm-group col-md-3">
                <label class="col-form-label-sm">Fecha Inicio Obra</label>
            </div>
    
            <div class="form-group col-md-3">
                <input type="date" class="form-control form-control-sm" 
                [(ngModel)]="fechaEmisionDni" [disabled]="flgLectura"  name="fecha_emision_dni">
            </div> -->

        </div>

        <div class="form-row">

            <div class="form-group col-md-3">
                <label class="col-form-label-sm">Fecha Inicio Obra</label>
            </div>
    
            <div class="form-group col-md-3">
                <input type="date" class="form-control form-control-sm" 
                [(ngModel)]="obraPublica.strDobrapublicaFechaini">
            </div>

            <div class="form-group col-md-3">
                <label class="col-form-label-sm">Fecha Finalización Obra</label>
            </div>
    
            <div class="form-group col-md-3">
                <input type="date" class="form-control form-control-sm" 
                [(ngModel)]="obraPublica.strDobrapublicaFechafin">
            </div>


        </div>

        <div class="form-row">

            <div class="form-group col-md-12">
        
                <label class="col-form-label-sm" for="select_entidades">Entidad :</label>  
                <input list="lentidades" type="text" class="form-control form-control-sm"
                (keypress)="_buscarEntidad($event)" (change)="_seleccionarEntidad($event)" 
                 [(ngModel)]="nombreEntidad" name="select_entidades"
                  placeholder="Escriba el nombre de la entidad aquí" specialCharacters="['space']" 
                  mask="S*" maxlength="100"  autocomplete="off" required>
            
                <datalist id="lentidades">
                    <option *ngFor="let enti of entidades" value="{{enti.centNombre}}" >{{enti.centNombre}}</option>
                   
                </datalist>
               
            </div>
            
        </div>

        
      
    </div>

    <div class="card-header">

        <h6 class="text-justify">2. Ubicación de la Obra Pública</h6>

    </div>

    <div class="card-body">

      <div class="form-row">

        <div class="form-group col-md-3">
            <label for="select_tipejec" class="col-form-label-sm">Departamento</label>
        </div>
  
        <div class="form-group col-md-3">
            <select class="form-control form-control-sm" id="selectDepartamento" [(ngModel)]="obraPublica.cobrapublicaCdepent"
            (change) ="obtenerProvincias(obraPublica.cobrapublicaCdepent)" >  <!-- formControlName="selectDepartamento"  -->
                <option [ngValue]="null">Seleccione</option>
                <option *ngFor="let dep of departamentos" value="{{dep.cdptCdDpto}}">{{dep.cdptDpto}}</option> </select>
        </div>

        <div class="form-group col-md-3">
            <label for="direccionObra" class="col-form-label-sm">Dirección obra</label>
        </div>
  
        <div class="form-group col-md-3">
            <textarea class="form-control form-control-sm" rows="2" id="inputDireccion" maxlength="255" 
            [(ngModel)]="obraPublica.cobrapublicaDscdireccion"></textarea><!-- formControlName="inputDireccion" -->
        </div>


      </div>

      <div class="form-row">

        
        <div class="form-group col-md-3">
            <label for="selectProvincia" class="col-form-label-sm">Provincia</label>
        </div>
  
        <div class="form-group col-md-3"><!-- formControlName="selectProvincia"  -->
            <select class="form-control form-control-sm" id="selectProvincia" [(ngModel)]="obraPublica.cobrapublicaCprovent" 
            (change) = "obtenerDistritos(obraPublica.cobrapublicaCdepent,obraPublica.cobrapublicaCprovent)">  
                <option [ngValue]="null">Seleccione</option>
                <option *ngFor="let prov of provincias" value="{{prov.cprvCodigo}}">{{prov.cprvProv}}</option>
             </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputReferencia" class="col-form-label-sm">Referencia</label>
        </div>
  
        <div class="form-group col-md-3">
            <textarea class="form-control form-control-sm" rows="2" id="inputReferencia"  
            maxlength="255" [(ngModel)]="obraPublica.cobrapublicaDscreferencia"></textarea><!-- formControlName="inputReferencia" -->

        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-3">
            <label for="selectProvincia" class="col-form-label-sm">Distrito</label>
        </div>
  
        <div class="form-group col-md-3">
            <select class="form-control form-control-sm" id="selectProvincia" [(ngModel)]="obraPublica.cobrapublicaCdistent"> <!--  formControlName="selectDistrito" --> 
                <option [ngValue]="null">Seleccione</option>
                <option *ngFor="let dist of distritos" value="{{dist.cdstCodigo}}">{{dist.cdstDistrit}}</option>
            </select>
        </div>

      </div>

    </div>

    <div class="card-header">

        <h6 class="text-justify">3. Estado de la Obra Pública</h6>

    </div>

    <div class="card-body">

      <div class="form-row">

        <div class="form-group col-md-3">
            <label for="estadoObra" class="col-form-label-sm">Estado de obra</label>
        </div>
  
        <div class="form-group col-md-3"><!-- formControlName="selectEstadoObra" -->
            <select class="form-control form-control-sm" id="estadoObra" [(ngModel)]="obraPublica.nobrapublicaIdestado" >  
                <option [ngValue]="null">Seleccione</option>
                <option *ngFor="let listEjec of listTipoEstado" value="{{listEjec.ncatalogoId}}">{{listEjec.ccatalogoDsc}}</option>
            </select>
        </div>

      </div>

    </div>


    <div class="card-header">

        <h6 class="text-justify">4. Descripción de las Irregularidades</h6>

    </div>

    <div class="card-body">

        <div class="form-row">

        <div class="form-group col-md-6">
            <!--  <label class="col-form-label-sm invisible">Agregar Irregularidad</label> -->
            <button class="btn-sm btn-primary form-control form-control-sm"(click)="abrirModalIrregularidad()">
                <fa-icon [icon]="iconoAgregar"></fa-icon>Agregar Irregularidad
            </button>

        </div>

        </div>

        <mat-table [dataSource]="dataSource" *ngIf="this.furObraPublica.listaFurPorObraPubPorHechoIrr.length > 0 " matSort>
              
            <ng-container matColumnDef="{{matTableColumnsDef[0]}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                <mat-cell *matCellDef="let hi; let i = index"> {{i+1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="{{matTableColumnsDef[1]}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Irregularidad </mat-header-cell>
                <mat-cell *matCellDef="let hi"> {{hi.obraPublicaPorHechoIrregular.cobrphiDsc}} </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
            <mat-row   *matRowDef="let row; columns: matTableColumnsDef; let i = index" >
            </mat-row> 
        </mat-table>

        <mat-paginator *ngIf="this.furObraPublica.listaFurPorObraPubPorHechoIrr.length > 0 " [pageSizeOptions]="[5,10]"></mat-paginator>

    </div>

  </div>
<!-- 
  <div class="row">
    <div class="col-sm-3"><input class="btn btn-pill btn-danger" type="submit" (click)="guardarMonto()" value="Guardar"></div>
</div> -->

  <div class="row ">
        <div class="col-sm-3">
            <button class="btn btn-pill btn-danger" (click)="agregarObra()">Aceptar</button>    
        </div>
  
        <!-- <div class="col-sm-3">
            <button class="btn  btn-light form-control" (click)="cancelar()">Regresar</button>    
        </div> -->
        
  </div>