<app-entidad-hecho (tipoHechoOut)="obtenerDatosHijo($event)"></app-entidad-hecho>
<app-hecho-irregular></app-hecho-irregular>
<app-prueba-hecho></app-prueba-hecho>
<app-instancia></app-instancia>

  <div class="form-row align-items-center">

    <div class="col-md-6">
      <label class="col-form-label-sm">¿Requiere identificarse?</label>
    </div>

    <div class="col-md-6">
      <label class="mr-3" *ngIf="!flgLectura || (flgLectura && !requireIdentificarse)">No</label>
      <mat-slide-toggle (change)="emitirCambio($event.checked)" 
      *ngIf="!flgLectura" [checked]="requireIdentificarse" [(ngModel)]="requireIdentificarse"></mat-slide-toggle>
      <label class="mr-3" *ngIf="!flgLectura || (flgLectura && requireIdentificarse)">Si</label>
  </div>
</div>