<!-- <form [formGroup]="formModalMP"> -->

  <app-nav-modal (opCerrarModal)="_cancelar()"></app-nav-modal>

  <div class="card mb-3 entidad" >

    <!-- <div class="card-header">

        <h6 class="text-justify">Instruccciones</h6>

    </div> -->

    <div class="card-body">

      <div class="form-row">

          <div class="form-group col-md-12">

            <h6 class="text-jusfity">1. Descargar e imprimir el formato para acogerse a la Ley de Protección al denunciante</h6>
            
            <a class="nav-link  active" href="#datosGenerales" role="tab" data-toggle="tab" aria-selected="true"> Ver Ley {{data.dscCampo1}}</a> <!-- data.cparamValor -->

          </div>
          
      </div>

      <div class="form-row">

          <div class="form-group col-md-12">

            <h6 class="text-jusfity">2. Llenar el formulario y suscribirlo</h6>

          </div>
          
      </div>

      <div class="form-row">

        <div class="form-group col-md-12">

          <h6 class="text-jusfity">3. Presentar el formato en las Oficinas de la Contraloría General de la República a Nivel Nacional</h6>
          
          <a class="nav-link  active" href="#datosGenerales" role="tab" data-toggle="tab" aria-selected="true"> Ver Oficinas a Nivel Nacional </a>

        </div>
        
      </div>

    </div>

  </div>

  <!-- <div class="row justify-content-end">

    <div mat-dialog-actions class="col-sm-3" >
      <button type="button" class="btn btn-primary form-control mr-3" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
    </div>

  </div> -->

<!-- </form> -->