<!--<app-cabecera></app-cabecera>-->
<!--<app-datos-general></app-datos-general>
<app-entidad-hecho></app-entidad-hecho>
<app-hecho-irregular></app-hecho-irregular>
<app-funcionario-involucrado></app-funcionario-involucrado>
<app-empresa-involucrada></app-empresa-involucrada>-->
<!--<app-contenedor-denunciante></app-contenedor-denunciante>-->
<!-- <app-formulario-web></app-formulario-web> -->


<!-- <app-contenedor-mp></app-contenedor-mp> -->
<!-- <app-contenedor-denunciante></app-contenedor-denunciante> -->

<!-- <app-login-gc></app-login-gc> -->

<!-- <app-contenedor-mp></app-contenedor-mp> -->

<!-- <app-modal-busq-obrpu></app-modal-busq-obrpu> -->

<!--<app-formulario-web></app-formulario-web>-->
<!-- <app-contenedor-mp></app-contenedor-mp> -->
<!-- <app-contenedor-denunciante></app-contenedor-denunciante> -->

<!-- <app-login-gc></app-login-gc> -->

<router-outlet></router-outlet>

<!-- <app-evalinf-regfur></app-evalinf-regfur> -->


<!-- <app-contenedor-mp></app-contenedor-mp> -->

<!-- <app-modal-busq-obrpu></app-modal-busq-obrpu> -->
