<!-- <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top navbar-modal"> -->

  <!-- <div class = "modal-header"> -->

<!-- <nav> -->

  <div class="form-row modal-header">

    <div class="col-md-1">

      <span ><i class="material-icons">{{strIcono}}</i></span>

    </div>

    <div class="col-md-10">

      <h6>{{strDscTitulo}}</h6>

    </div>

    <div class="col-md-1 text-right">

      <span class="icon-x-nav-modal" (click)="_cerrarModal()"><i class="material-icons">clear</i></span>

    </div>

  </div>

<!-- </nav> -->

    

  <!-- </div> -->
  

<!-- </nav> -->