<form > <!--[formGroup]="formPersonaNatural"-->

  <!-- <div class="card-body"> -->

  <div class="form-row">

    <div class="form-group col-md-6">
      
      <label for="select_tipDenunciante" class="col-form-label-sm">Tipo de Documento de Identidad</label>
  
    </div>
  
    <div class="form-group col-md-6">
        
      <select class="form-control form-control-sm" id="select_tipDocumento"
       (change) = "cambiarTipDocumento(persona.npersonaIdtipdoc)" 
       [(ngModel)]="persona.npersonaIdtipdoc" [disabled]="flgLectura" name="select_tipDocumento">
      <!-- formControlName="select_tipDocumento"    (change) = "cambiarTipDocumento(formPersonaNatural.value.select_tipDocumento)" -->
       <option [ngValue]="null">Seleccione</option>
        <!-- <option value="1">DNI</option>
        <option value="2">RUC</option> -->
        <option *ngFor="let tipD of listTipoDocumento" value="{{tipD.ntipdocumentoId}}">{{tipD.ctipdocumentoDsc}}</option>
  
        <!-- <option value="1">DNI</option>
        <option value="2">RUC</option> -->
      </select>
  
    </div>
  
    <div class="form-group col-md-6">
        
      <label class="col-form-label-sm" for="input_nroDoc">Número Documento</label>
  
    </div>
  
    <div class="form-group col-md-6">
        
      <input type="text" mask="{{dscMask}}" class="form-control form-control-sm" 
      id="input_nroDoc" [(ngModel)]="persona.cpersonaNrodoc" [disabled]="flgLectura" name="input_nroDoc">
      <!-- formControlName="input_nroDoc"-->
    </div>
  
    <div class="form-group col-md-6">
        
      <label class="col-form-label-sm" for="fecha_emision_dni"  max="${fechaMaxima}">Fecha de Emisión DNI:</label>
  
    </div>
  
    <div class="form-group col-md-6">
        
      <input type="date" class="form-control form-control-sm" id="fecha_emision_dni" 
      [(ngModel)]="fechaEmisionDni" [disabled]="flgLectura"  name="fecha_emision_dni">
      <!--formControlName="fecha_emision_dni"-->
  
    </div>

    <div class="form-group col-md-6">
        
      <label class="col-form-label-sm" for="input_nommadre">Primer Nombre de la Madre</label>

    </div>

    <div class="form-group col-md-6">

      <div class="form-row">

        <div class="form-group col-md-10">
        
          <input type="text" class="form-control form-control-sm" id="input_nommadre" 
          [(ngModel)]="nombreMadre" mask="S*"
          [disabled]="flgLectura" maxlength="30" name="input_nommadre" (keyup) = "mayusculas($event);">
          <!--formControlName="input_nommadre"-->
    
        </div>

        <div class="form-group col-md-1">
        
          <button type="button" class="btn btn-primary" (click)="ValidarReniec()" [disabled]="flgLectura"><!--[disabled] = "flgDeshabilitaValidar"-->
            <i *ngIf= "!flgDeshabilitaValidar">Validar</i>
            <i *ngIf= "flgDeshabilitaValidar">Procesando</i>
          </button>
    
        </div>

      </div>

    </div>
  
  <div class="form-group col-md-4">
    <label class="col-form-label-sm" for="input_nombres">Nombres</label>
    <input type="text" class="form-control form-control-sm" id="input_nombres"
    [(ngModel)]="persona.cpersonaNombres" maxlength="30" mask="S*" [disabled]="true" name="inpit_nombres"><!--[disabled]="flgLectura  -->
    <!-- formControlName="input_nombres"-->
  </div>
  
    <div class="form-group col-md-4">
      <label class="col-form-label-sm" for="input_apepaterno">Apellido Paterno</label>
      <input type="text" class="form-control form-control-sm" id="input_apepaterno"
      [(ngModel)]="persona.cpersonaApepaterno"  maxlength="30" mask="S*" [disabled]="true" name="input_apepaterno">
       <!-- formControlName="input_apepaterno"> -->
    </div>
  
    <div class="form-group col-md-4">
      <label class="col-form-label-sm" for="input_apematerno">Apellido Materno</label>
      <input type="text" class="form-control form-control-sm" id="input_apematerno"
      [(ngModel)]="persona.cpersonaApematerno" maxlength="30"  mask="S*" [disabled]="true" name="input_apematerno" >
      <!-- formControlName="input_apematerno"> -->
    </div>

    <div class="form-group col-md-12">

      <div class="form-row">

        <div class="form-group col-md-3">
        
          <label class="col-form-label-sm" for="input_domicilio">Domicilio</label>
    
        </div>

        <div class="form-group col-md-3">
        
          <input maxlength="255" type="text" class="form-control form-control-sm"
           id="input_domicilio" [(ngModel)]="persona.cpersonaDscdireccion" maxlength="255"
           [disabled]="flgLectura" name="input_domicilio">
          
          <!-- formControlName="input_domicilio"> -->
    
        </div>

        <div class="form-group col-md-3">
        
          <label class="col-form-label-sm" for="input_telefono">Teléfono</label>
    
        </div>

        <div class="form-group col-md-3">
        
          <input  type="text" mask="00-0000000" class="form-control form-control-sm" id="input_telefono" 
          [(ngModel)]="persona.cpersonaDsctelef" [disabled]="flgLectura" name="input_telefono">
          <!-- formControlName="input_telefono"> -->
    
        </div>

      </div>

    </div>

    <div class="form-group col-md-12">

      <div class="form-row">

        <div class="form-group col-md-3">
        
          <label class="col-form-label-sm" for="input_email">Correo Electrónico</label>
    
        </div>

        <div class="form-group col-md-3">
        
          <input type="email" class="form-control form-control-sm" 
          id="input_email" [(ngModel)]="persona.cpersonaDsccorreo" maxlength="100" [disabled]="flgLectura" name="input_email">
           <!-- formControlName="input_email"> -->
    
        </div>

        <div class="form-group col-md-3">
        
          <label class="col-form-label-sm" for="input_movil">Móvil</label>
    
        </div>

        <div class="form-group col-md-3">
        
          <input type="text"  mask="000000000" class="form-control form-control-sm"
           id="input_movil" [(ngModel)]="persona.cpersonaDscmovil" [disabled]="flgLectura" name="input_movil">
           <!-- formControlName="input_movil"> -->
    
        </div>

      </div>

    </div>

  </div>

</form>
