<app-nav-modal (opCerrarModal)="_cerrar()"></app-nav-modal>

<!-- <div class="container">

  <form >

    <div>
      
      <div mat-dialog-content class="text-center">
  
        <div class="form-group col-md-12">
  
          <div class="card mb-3 entidad" >
            <div class="card-header">
                <h6 class="text-justify">Requiere Notificación</h6>
            </div>
            <div class="card-body">
                <div class="form-row">
  
                    <div class="form-group col-md-3">
                      
                      <label  class="col-form-label-sm">Medio de Notificación</label>
  
                    </div>
  
                    <div class="form-group col-md-9">
  
                      <select class="form-control form-control-sm" id="select_medNotif" 
                       (change) = "MostrarMedioNotif(medioNotificacion)"
                       [(ngModel)]="medioNotificacion" name="select_medNotif">
                       <option [ngValue]="null">Seleccione</option>

                        <option *ngFor="let listMN of listMedioNotif" value="{{listMN.nmedionotifId}}">{{listMN.cmedionotifDsc}}</option>
                  

                      </select>
  
                    </div>
  
                </div>
  
                
  
                <div *ngIf="mostrarCheckCambioEmail">
  
                  <div class="form-row">

                    

                    <div class="form-row align-items-center">

                      <div class="col-md-6"><label class="col-form-label-sm">¿Desea cambiar la dirección de corre electrónico donde se le enviarán las comunicaciones acerca de su denuncia?</label></div>

                      <div class="col-md-6"><label class="mr-3">No</label><mat-slide-toggle (change)="CambioMail($event)">Si</mat-slide-toggle></div>

                    </div> 
  
                    
    
                  </div>
  
                  <div *ngIf="mostrarCambioEmail">
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="input_email" class="col-form-label-sm">Dirección</label>
        
                      </div>
        
                      <div class="form-group col-md-9">
              
                        <input type="text" class="form-control form-control-sm" id="input_email" 
                        [(ngModel)]="email" name="input_email">
                         
        
                      </div>
  
                    </div>
  
                  </div>
                  
                </div>
  
               
  
                <div *ngIf="mostrarCheckDireccion">
  
                  <div class="form-row">

                    <div class="form-row align-items-center">

                      <div class="col-md-6"><label class="col-form-label-sm">¿Desea cambiar la dirección donde se le enviarán las comunicaciones acerca de su denuncia?</label></div>

                      <div class="col-md-6"><label class="mr-3">No</label><mat-slide-toggle (change)="CambioDir($event)">Si</mat-slide-toggle></div>

                    </div> 
  
                  
                  </div>
  
                  <div *ngIf="mostrarCambioDireccion">
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="select_departamento" class="col-form-label-sm">Departamento</label>
        
                      </div>
        
                      <div class="form-group col-md-3">
              
                          <select class="form-control form-control-sm" id="select_departamento" 
                           (change) = "cambiarDepartamento(departamento,'')" [(ngModel)]="departamento" name="departamento">
                           
                            <option [ngValue]="null">Seleccione</option>
                           
                            <option *ngFor="let listDep of listDepartamento" value="{{listDep.cdptCdDpto}}">{{listDep.cdptDpto}}</option>
                        
                          </select>
        
                      </div>
  
                      <div class="form-group col-md-3">
          
                        <label for="select_distrito" class="col-form-label-sm">Distrito</label>
        
                      </div>
        
                      <div class="form-group col-md-3">
              
                          <select class="form-control form-control-sm" id="select_distrito" name="select_distrito" [(ngModel)]="distrito">
                            
                            <option [ngValue]="null">Seleccione</option>
                            
                            <option *ngFor="let listDist of listDistrito" value="{{listDist.cdstCodigo}}">{{listDist.cdstDistrit}}</option>
                        
                          </select>
        
                      </div>
  
                    </div>
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="select_provincia" class="col-form-label-sm">Provincia</label>
        
                      </div>
        
                      <div class="form-group col-md-3">
              
                          <select class="form-control form-control-sm" id="select_provincia" [(ngModel)]="provincia" name="select_provincia"
                          (change) = "cambiarProvincia(provincia,'',departamento)">
                          
                            <option [ngValue]="null">Seleccione</option>
                          
                            <option *ngFor="let listProv of listProvincia" value="{{listProv.cprvCodigo}}">{{listProv.cprvProv}}</option>
                      
                          </select>
        
                      </div>
  
                    </div>
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="input_dsc_dir" class="col-form-label-sm">Dirección</label>
        
                      </div>
        
                      <div class="form-group col-md-9">
              
                        <input type="email" class="form-control form-control-sm" id="input_dsc_dir" 
                        [(ngModel)]="direccion" name="input_dsc_dir">
                          
                      </div>
  
                    </div>
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="input_dsc_ref_dir" class="col-form-label-sm">Referencia, para ubicar su dirección</label>
        
                      </div>
        
                      <div class="form-group col-md-9">
              
                        <input type="text" maxlength="255" class="form-control form-control-sm" id="input_dsc_ref_dir" 
                        [(ngModel)]="referencia"name="input_dsc_ref_dir">
                        
                      </div>
  
                    </div>
  
                  </div>
                  
                </div>
  
            </div>
  
          </div>
  
        </div>
        
      </div>
      
    </div>
  
  </form>

</div> -->

<!-- <div class="form-group col-md-12"> -->
  
          <div class="card mb-3 entidad" >
            <div class="card-header">
                <h6 class="text-justify">Requiere Notificación</h6>
            </div>
            <div class="card-body">
                <div class="form-row">
  
                    <div class="form-group col-md-3">
                      
                      <label  class="col-form-label-sm">Medio de Notificación</label>
  
                    </div>
  
                    <div class="form-group col-md-9">
  
                      <select class="form-control form-control-sm" id="select_medNotif" 
                       (change) = "MostrarMedioNotif(medioNotificacion)"
                       [(ngModel)]="medioNotificacion" name="select_medNotif">
                       <option [ngValue]="null">Seleccione</option>

                        <option *ngFor="let listMN of listMedioNotif" value="{{listMN.nmedionotifId}}">{{listMN.cmedionotifDsc}}</option>
                  

                      </select>
  
                    </div>
  
                </div>
  
                <div *ngIf="mostrarCheckCambioEmail">
  
                  <div class="form-row">

                    

                    <div class="form-row align-items-center">

                      <div class="col-md-6"><label class="col-form-label-sm">¿Desea cambiar la dirección de corre electrónico donde se le enviarán las comunicaciones acerca de su denuncia?</label></div>

                      <div class="col-md-6"><label class="mr-3">No</label><mat-slide-toggle (change)="CambioMail($event)">Si</mat-slide-toggle></div>

                    </div> 
    
                  </div>
  
                  <div *ngIf="mostrarCambioEmail">
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="input_email" class="col-form-label-sm">Dirección</label>
        
                      </div>
        
                      <div class="form-group col-md-9">
              
                        <input type="text" class="form-control form-control-sm" id="input_email" 
                        [(ngModel)]="email" name="input_email">
                         
        
                      </div>
  
                    </div>
  
                  </div>
                  
                </div>
  
               
  
                <div *ngIf="mostrarCheckDireccion">
  
                  <div class="form-row">

                    <div class="form-row align-items-center">

                      <div class="col-md-6"><label class="col-form-label-sm">¿Desea cambiar la dirección donde se le enviarán las comunicaciones acerca de su denuncia?</label></div>

                      <div class="col-md-6"><label class="mr-3">No</label><mat-slide-toggle (change)="CambioDir($event)">Si</mat-slide-toggle></div>

                    </div> 
  
                  
                  </div>
  
                  <div *ngIf="mostrarCambioDireccion">
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="select_departamento" class="col-form-label-sm">Departamento</label>
        
                      </div>
        
                      <div class="form-group col-md-3">
              
                          <select class="form-control form-control-sm" id="select_departamento" 
                           (change) = "cambiarDepartamento(departamento,'')" [(ngModel)]="departamento" name="departamento">
                           
                            <option [ngValue]="null">Seleccione</option>
                           
                            <option *ngFor="let listDep of listDepartamento" value="{{listDep.cdptCdDpto}}">{{listDep.cdptDpto}}</option>
                        
                          </select>
        
                      </div>
  
                      <div class="form-group col-md-3">
          
                        <label for="select_distrito" class="col-form-label-sm">Distrito</label>
        
                      </div>
        
                      <div class="form-group col-md-3">
              
                          <select class="form-control form-control-sm" id="select_distrito" name="select_distrito" [(ngModel)]="distrito">
                            
                            <option [ngValue]="null">Seleccione</option>
                            
                            <option *ngFor="let listDist of listDistrito" value="{{listDist.cdstCodigo}}">{{listDist.cdstDistrit}}</option>
                        
                          </select>
        
                      </div>
  
                    </div>
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="select_provincia" class="col-form-label-sm">Provincia</label>
        
                      </div>
        
                      <div class="form-group col-md-3">
              
                          <select class="form-control form-control-sm" id="select_provincia" [(ngModel)]="provincia" name="select_provincia"
                          (change) = "cambiarProvincia(provincia,'',departamento)">
                          
                            <option [ngValue]="null">Seleccione</option>
                          
                            <option *ngFor="let listProv of listProvincia" value="{{listProv.cprvCodigo}}">{{listProv.cprvProv}}</option>
                      
                          </select>
        
                      </div>
  
                    </div>
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="input_dsc_dir" class="col-form-label-sm">Dirección</label>
        
                      </div>
        
                      <div class="form-group col-md-9">
              
                        <input type="email" class="form-control form-control-sm" id="input_dsc_dir" 
                        [(ngModel)]="direccion" name="input_dsc_dir">
                          
                      </div>
  
                    </div>
  
                    <div class="form-row">
  
                      <div class="form-group col-md-3">
          
                        <label for="input_dsc_ref_dir" class="col-form-label-sm">Referencia, para ubicar su dirección</label>
        
                      </div>
        
                      <div class="form-group col-md-9">
              
                        <input type="text" maxlength="255" class="form-control form-control-sm" id="input_dsc_ref_dir" 
                        [(ngModel)]="referencia"name="input_dsc_ref_dir">
                        
                      </div>
  
                    </div>
  
                  </div>
                  
                </div>
  
            </div>
  
          </div>
  
<!-- </div> -->

<div class="row">
  <div class="col-sm-3"><input class="btn btn-pill btn-danger" type="submit" (click)="AceptarModal()" value="Aceptar"></div>
</div>

<!-- <div class="form-row">
  
  <div mat-dialog-actions class="row justify-content-center" >

    <button type="button" class="btn btn-danger" (click)="AceptarModal()">Aceptar</button>

  </div>
  
</div> -->