<div class="card mb-3">

    <div class="card-header">

        <h6 class="text-justify">Registro de Información</h6>

    </div>

    <div class="card-body">

        <div class="card mb-3 entidad">
            <div class="card-header">
                <h6 class="text-jusfity"> Datos de Orientacion </h6>
            </div>
            <div class="card-body">
                <div class="form-group row">

                    <label class="col-sm-1 col-form-label-sm" for="nro_orientacion">N de Orientacion:</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="nro_orientacion" [(ngModel)]="strNroOrientacion" [disabled]="flgDeshabilitado">
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="fechaRegistro">Fecha: </label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="fechaRegistro" [(ngModel)]="strFechaRegistro" disabled>
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="hora_inicio">Hora Inicio: </label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="hora_inicio" [(ngModel)]="strHoraInicio" disabled>
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="hora_fin">Hora Fin: </label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="hora_fin" [(ngModel)]="strHoraFin" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="CanalAtencion">Canal de Atencion: </label>
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" [(ngModel)]="numIdCanal" [disabled]="flgSoloLectura">
                        <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
                        <!-- <option  value="4">Correo</option>
                        <option value="6">Carta</option>
                        <option value="7">Reporte</option> -->
                      </select>
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="estado">Estado: </label>
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm" [(ngModel)]="numIdEstado" [disabled]="flgSoloLectura">
                        <option *ngFor="let lest of listEstado" value="{{lest.nestadoId}}">{{lest.cestadoDescripcion}}</option>
                        <!-- <option  value="4">Correo</option>
                        <option value="6">Carta</option>
                        <option value="7">Reporte</option> -->
                      </select>
                    </div>
                    <label class="col-sm-2 col-form-label-sm" for="clasificacion">Clasificacion del ciud. : </label>
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm" [(ngModel)]="clasificacion" [disabled]="flgSoloLectura">
                        <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
                        <!-- <option  value="4">Correo</option>
                        <option value="6">Carta</option>
                        <option value="7">Reporte</option> -->
                      </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="tipoDocumento">Tipo de Documento: </label>
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" [(ngModel)]="tipoDocumento" [disabled]="flgSoloLectura" (change)="_CambioTipDocumento($event.target.value)">
                      <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
                      <!-- <option  value="4">Correo</option>
                      <option value="6">Carta</option>
                      <option value="7">Reporte</option> -->
                    </select>
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="numeroDocumento">Numero de Documento: </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="numero_Documento" [(ngModel)]="numeroDocumento" [disabled]="flgDeshabilitado">
                    </div>

                </div>

            </div>
        </div>

        <div class="card mb-3 entidad">
            <div class="card-header">
                <h6 class="text-jusfity"> Datos Personales </h6>
            </div>
            <div class="card-body">
                <div class="form-group row">

                    <label class="col-sm-1 col-form-label-sm" for="ap_paterno">Apellido Paterno:</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="ap_paterno" [(ngModel)]="ap_paterno" [disabled]="flgDeshabilitado">
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="ap_materno">Apellido Materno: </label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="ap_materno" [(ngModel)]="ap_materno" [disabled]="flgDeshabilitado">
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="nombres">Nombres: </label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="nombres" [(ngModel)]="nombres" [disabled]="flgDeshabilitado">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="sexo">Sexo: </label>
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" [(ngModel)]="sexo" [disabled]="flgSoloLectura" (change)="_CambioTipDocumento($event.target.value)">
                        <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
                        <!-- <option  value="4">Correo</option>
                        <option value="6">Carta</option>
                        <option value="7">Reporte</option> -->
                      </select>
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="edad">Edad: </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="edad" [(ngModel)]="edad" [disabled]="flgDeshabilitado">
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="pais">Pais : </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="pais" [(ngModel)]="pais" [disabled]="flgDeshabilitado">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="departamento">Departamento: </label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="departamento" [(ngModel)]="departamento" [disabled]="flgDeshabilitado">
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="provincia">Provincia: </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="provincia" [(ngModel)]="provincia" [disabled]="flgDeshabilitado">
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="distrito">Distrito: </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="distrito" [(ngModel)]="distrito" [disabled]="flgDeshabilitado">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="correoElectronico">Correo Electrónico:</label>
                    <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(3,errorValidator)">
                    <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(3,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[3].dscMensaje}}" 
                    [matTooltipPosition]="'above'"></fa-icon>
                  </span>
                    <div class="col-sm-4">
                        <input type="text" maxlength="50" class="form-control form-control-sm" id="input_correoRemitente" (change)="ValidarDatos()" [(ngModel)]="strDscCorreo" [disabled]="flgSoloLectura">
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="telefono">Telefonos: </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="telefono" [(ngModel)]="telefono" [disabled]="flgDeshabilitado">
                    </div>
                </div>

            </div>
        </div>

        <div class="card mb-3 entidad">
            <div class="card-header">
                <h6 class="text-jusfity"> Listados </h6>
            </div>
            <div class="card-body">

                <div class="form-group row">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="listaAtencion-tab" data-toggle="tab" href="#listaAtencion" role="tab" aria-controls="listaAtencion" aria-selected="true">Lista de Atencion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="listaDenuncia-tab" data-toggle="tab" href="#listaDenuncia" role="tab" aria-controls="listaDenuncia" aria-selected="false">Lista de Denuncias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="denunciasInvolucradas-tab" data-toggle="tab" href="#denunciasInvolucradas" role="tab" aria-controls="denunciasInvolucradas" aria-selected="false">Denuncias Involucradas</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="listaAtencion" role="tabpanel" aria-labelledby="listaAtencion-tab">
                            <mat-table [dataSource]="dataSource" matSort>

                                <ng-container matColumnDef="{{matTableColumnslistaAtencionDef[0]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index"> {{i+1}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{matTableColumnslistaAtencionDef[1]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Orientacion </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurCodigo}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaAtencionDef[2]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurNroexpediente}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaAtencionDef[3]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.strDfurFecinicioreg}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaAtencionDef[4]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.strDfurFecregistro}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaAtencionDef[5]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nro de Oficio </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.estado.cestadoDescripcion}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaAtencionDef[6]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo FUR </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurDschecho}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{strDscColBtnVer}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ver </mat-header-cell>
                                    <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Ver(row.nfurId)">
                                <i class="material-icons">find_in_page</i>
                              </button></mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' ">
                                </mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                        </div>
                        <div class="tab-pane fade" id="listaDenuncia" role="tabpanel" aria-labelledby="listaDenuncia-tab">
                            <mat-table [dataSource]="dataSource" matSort>

                                <ng-container matColumnDef="{{matTableColumnslistaDenunciaDef[0]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index"> {{i+1}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{matTableColumnslistaDenunciaDef[1]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Orientacion </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurCodigo}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaDenunciaDef[2]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurNroexpediente}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaDenunciaDef[3]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.strDfurFecinicioreg}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaDenunciaDef[4]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.strDfurFecregistro}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaDenunciaDef[5]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nro de Oficio </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.estado.cestadoDescripcion}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaDenunciaDef[6]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Anexo de Cargo </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurDschecho}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnslistaDenunciaDef[7]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Recepcion </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurDschecho}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{strDscColBtnVer}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ver </mat-header-cell>
                                    <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Ver(row.nfurId)">
                            <i class="material-icons">find_in_page</i>
                          </button></mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' ">
                                </mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                        <div class="tab-pane fade" id="denunciasInvolucradas" role="tabpanel" aria-labelledby="denunciasInvolucradas-tab">
                            <mat-table [dataSource]="dataSource" matSort>

                                <ng-container matColumnDef="{{matTableColumnsdenunciasInvoDef[0]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index"> {{i+1}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{matTableColumnsdenunciasInvoDef[1]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Orientacion </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurCodigo}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnsdenunciasInvoDef[2]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.cfurNroexpediente}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnsdenunciasInvoDef[3]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.strDfurFecinicioreg}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="{{matTableColumnsdenunciasInvoDef[4]}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.strDfurFecregistro}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{strDscColBtnAsign}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Asignar </mat-header-cell>
                                    <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Asignar(row.nfurId)">
                                <i class="material-icons">done_outline</i>
                              </button></mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{strDscColBtnEdit}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
                                    <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Editar(row.nfurId)" [disabled]="row.flgDeshabilitaEditar">
                                <i class="material-icons">restore_page</i>
                              </button></mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{strDscColBtnAten}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Atender </mat-header-cell>
                                    <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Atender(row.nfurId)">
                                <i class="material-icons">assignment</i>
                              </button></mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="{{strDscColBtnVer}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ver </mat-header-cell>
                                    <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Ver(row.nfurId)">
                                <i class="material-icons">find_in_page</i>
                              </button></mat-cell>
                                </ng-container>

                                <!-- CUSS06 -->
                                <ng-container matColumnDef="{{strDscColBtnEval}}">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Atender </mat-header-cell>
                                    <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Atender(row.nfurId)">
                                <i class="material-icons">assignment</i>
                              </button></mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' ">
                                </mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!--Registro otros: Descripción-->
        <!--Registro otros: Descripción-->
        <!--Registro otros: Descripción-->
        <!--Registro otros: Descripción-->
        <!--Registro otros: Descripción-->

        <div class="card mb-3 entidad">
            <div class="card-header">
                <h6 class="text-jusfity">Detalle de la Orientacion</h6>
            </div>
            <div class="card-body">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="tipoOrientacion">Tipo de Orientacion: </label>
                    <div class="col-sm-4">
                        <select class="form-control form-control-sm" [(ngModel)]="tipoOrientacion" [disabled]="flgSoloLectura" (change)="_CambioTipDocumento($event.target.value)">
                        <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
                        <!-- <option  value="4">Correo</option>
                        <option value="6">Carta</option>
                        <option value="7">Reporte</option> -->
                        </select>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="5" id="detalleOrientacion" class="form-control form-control-sm" (change)="ValidarDatos()" [(ngModel)]="detalleOrientacion" [disabled]="flgSoloLectura"></textarea>
                        <!--input type="text" maxlength="100" class="form-control form-control-sm" id="input_asunto" (change)="ValidarDatos()" [(ngModel)]="strDscAsunto" [disabled]="flgSoloLectura"-->
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm" for="codigoFormularioWeb">Codigo Formulario Web:</label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="100" class="form-control form-control-sm" id="input_codigoFrmWeb" (change)="ValidarDatos()" [(ngModel)]="codigoFormularioWeb" [disabled]="flgSoloLectura">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn-sm btn-default form-control form-control-sm" (click)="_Denunciar()">Denunciar</button>
                    </div>
                </div>


            </div>
        </div>

        <div class="form-group row">

            <div class="col-sm-12">

                <div class="card mb-3 entidad">

                    <div class="card-header">
                        <h6 class="text-jusfity">Datos de Personal de Atencion</h6>
                    </div>
                    <div class="card-body">

                        <div class="form-group row">

                            <label class="col-sm-3 col-form-label-sm" for="lblNombreAnalista">Nombre del Analista y Unidad Organica:</label>

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-1">
                            </div>
                            <span class="col-sm-4 label label-default">Nombre del Analista y Unidad Organica:</span>
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn-sm btn-default form-control form-control-sm" (click)="_Imprimir()">Constancia de Atencion al Ciud.</button>
                            </div>

                        </div>

                    </div>

                </div>

                <!--div-- class="col-sm-5">
                    <div class="card mb-3 entidad">

                        <div class="card-header">
                            <h6 class="text-jusfity">Imprimir</h6>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">

                                <div class="col-sm-1">
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn-sm btn-success form-control form-control-sm" (click)="_Imprimir()">Constancia de Atencion al Ciud.</button>
                                </div>

                            </div>

                        </div>

                    </div>

                </!--div-->

            </div>

        </div>

        <div class="card mb-3 entidad">
            <div class="card-header">
                <h6 class="text-jusfity">Generacion de Documentos</h6>
            </div>
            <div class="card-body">

                <div class="form-group row">

                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2 form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkOficio" value="Oficio">
                        <label class="form-check-label" for="chkOficio">Oficio</label>
                    </div>
                    <div class="col-sm-2 form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkMemo" value="Memo">
                        <label class="form-check-label" for="chkMemo">Memo</label>
                    </div>
                    <div class="col-sm-2 form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkCarta" value="Carta">
                        <label class="form-check-label" for="chkCarta">Carta</label>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-sm-1">
                    </div>

                    <div class="col-sm-4">
                        <button type="button" class="btn-sm btn-default form-control form-control-sm" (click)="_Generar_Documentacion()">Generar Documentacion</button>
                    </div>

                    <div class="col-sm-1">
                    </div>

                    <div class="col-sm-3">
                        <button type="button" class="btn-sm btn-default form-control form-control-sm" (click)="_Guardar_Documento()">Guardar Documento</button>
                    </div>

                </div>

            </div>
        </div>

        <div class="card mb-3 entidad">
            <div class="card-header">
                <h6 class="text-jusfity">Documentos Emitidos</h6>
            </div>
            <div class="card-body">

                <div class="form-group row">

                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[0]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index"> {{i+1}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[1]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Orientacion </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cfurCodigo}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[2]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cfurNroexpediente}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[3]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.strDfurFecinicioreg}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[4]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.strDfurFecregistro}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[5]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nro de Oficio </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.estado.cestadoDescripcion}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[6]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Anexo de Cargo </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cfurDschecho}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[7]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Recepcion </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cfurDschecho}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="{{matTableColumnsdocumEmitidosDef[8]}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Recepcion </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cfurDschecho}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="{{strDscColBtnVer}}">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Ver </mat-header-cell>
                            <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Ver(row.nfurId)">
                        <i class="material-icons">find_in_page</i>
                      </button></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' ">
                        </mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                </div>

            </div>
        </div>

        <div class="card mb-3 entidad">
            <div class="card-header">
                <h6 class="text-jusfity">Derivacion</h6>
            </div>
            <div class="card-body">

                <div class="form-group row">

                    <div class="col-sm-1">
                    </div>
                    <label class="col-sm-1 col-form-label-sm" for="strDerivar">Derivar a :</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control form-control-sm" id="strDerivar" [(ngModel)]="strDerivar" [disabled]="flgDeshabilitado">
                    </div>

                    <label class="col-sm-2 col-form-label-sm" for="strMotivo">Motivo: </label>
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" [(ngModel)]="strMotivo" [disabled]="flgSoloLectura" (change)="_CambioTipDocumento($event.target.value)">
                            <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
                          </select>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn-sm btn-primary form-control form-control-sm" (click)="_Registrar()" [disabled]="flgSoloLectura">Registrar</button>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn-sm btn-danger form-control form-control-sm" (click)="_Cancelar()">Cancelar</button>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn-sm btn-primary form-control form-control-sm" (click)="_Generar()" [disabled]="flgSoloLectura">Generar Cierre de Consulta de Estado</button>
            </div>
            <div class="form-group col-md-4">
            </div>
        </div>

    </div>

</div>