<div class="card mb-3 entidad" >
    <div class="card-header">
      <h6 class="text-justify">Hecho Irregular</h6>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="col-form-label-sm" for="select_tipo_hecho">Tipo de Hecho:</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="descripcionTipoHecho" disabled>
          
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-5">
            <label class="col-form-label-sm" for="input_descripcion_hecho">Descripción del hecho irregular:</label>
            <textarea class="form-control form-control-sm" rows="2" id="input_descripcion_hecho"
            maxlength="500" [(ngModel)]="cfurDschecho" [disabled]="flgLectura">
            </textarea>
        </div> 
      </div>
      <div class="form-row align-items-center">
         <!--Monto-->
         <div class="col-md-3"><label class="col-form-label-sm">¿Existe monto del perjuicio económico?</label></div>

         <div class="col-md-2">

           <!-- <label class="mr-3">No</label>
           <mat-slide-toggle [disabled]="flgLectura"  [checked]="perjuicio_economico"(change)="cambioExisteMonto($event)">Si</mat-slide-toggle> -->

          <label class="mr-3" *ngIf="!flgLectura || (flgLectura && !perjuicio_economico)">No</label>
          <mat-slide-toggle *ngIf="!flgLectura"  [checked]="perjuicio_economico"(change)="cambioExisteMonto($event)"></mat-slide-toggle>
          <label class="mr-3" *ngIf="!flgLectura || (flgLectura && perjuicio_economico)">Si</label>
         </div>

         <div class="col-sm-2" *ngIf="perjuicio_economico">
             <label>Monto económico: </label>
         </div>
         <div class="col-sm-2"  *ngIf="perjuicio_economico">
             <input type="text" class="form-control form-control-sm" mask="separator.2" thousandSeparator="," [(ngModel)]="nfurImpmontoperj" disabled> 
             <!-- formControlName="monto" -->
         </div>
         <div class="col-sm-1" *ngIf="perjuicio_economico">
             <button type="button" *ngIf="!flgLectura" class="btn btn-info btn-sm" (click)="editarMonto()"  data-toggle="tooltip" data-placement="top" title="Agregar perjuicio económico">
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>-->
                <fa-icon [icon]="iconEditar"></fa-icon>
             </button>
         </div>
      </div>
    
      <div class="card mb-3 entidad" >
           <div class="card-header">
              <h6 class="text-justify">Periodo</h6>
            </div>
          <div class="card-body">
              <div class="form-group row align-items-center">
             
                <div class="col-md-6">
                  <label class="col-form-label-sm" >¿Hecho denunciado continúa ocurriendo?</label></div>
                <div class="col-md-6">
                  <label class="mr-3" *ngIf="!flgLectura || (flgLectura && !ocurre_hecho)">No</label>
                  <mat-slide-toggle (change)="cambioOcurreHecho($event)" *ngIf="!flgLectura" [checked]="ocurre_hecho"></mat-slide-toggle>
                  <label class="mr-3" *ngIf="!flgLectura || (flgLectura && ocurre_hecho)">Si</label>
                </div>
          
                <div class="col-sm-3">
                    <label class="col-form-label-sm">Desde: </label>
                    <div class="form-group row">
                        <!--periodo-->
                        <div class="col-sm-6 text-center">
                            <label>Mes</label>
                            <select class="form-control form-control-sm"[(ngModel)]="select_mes_desde" (change)="_cambioMesIni()"  [disabled]="flgLectura">
                              <!-- formControlName="select_mes_desde" -->
                              <option [ngValue]="null">Seleccione</option>
                              <option *ngFor="let mes of listMeses" value="{{mes.cmesCod}}">{{mes.cmesDsc}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6 text-center">
                            <label>Año</label>
                            <select class="form-control form-control-sm" [(ngModel)]="select_anio_desde" (change)="_cambioAnhoIni()" [disabled]="flgLectura">
                              <!-- formControlName="select_anio_desde"-->
                              <option [ngValue]="null">Seleccione</option>
                              <option *ngFor="let anio of listAnios" value="{{anio.canhoCod}}">{{anio.canhoDsc}}</option>
                            </select>
                        </div>
                        
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <label class="col-form-label-sm" for="input_hasta">Hasta:</label>
                    <div class="form-group row">
                        <div class="col-sm-6 text-center">
                            <label >Mes</label>
                            <select class="form-control form-control-sm"  (change)="_cambioMesFin()" [(ngModel)]="select_mes_hasta" [disabled]="flgLectura">
                              <option [ngValue]="null">Seleccione</option>
                              <option *ngFor="let mes of listMeses" value="{{mes.cmesCod}}">{{mes.cmesDsc}}</option>
                            </select>
                      </div>
                      <div class="col-sm-6 text-center">
                            <label>Año</label>
                            <select class="form-control form-control-sm" [(ngModel)]="select_anio_hasta" (change)="_cambioAnhoFin()" [disabled]="flgLectura">
                              
                              <option [ngValue]="null">Seleccione</option>
                              <option *ngFor="let anio of listAnios" value="{{anio.canhoCod}}">{{anio.canhoDsc}}</option>
                            </select>
                      </div>
                    </div>
                  </div>
              </div>
    </div>
    </div>
<app-funcionario-involucrado></app-funcionario-involucrado>
<app-empresa-involucrada></app-empresa-involucrada>