<div class="card mb-3 entidad" >
  <div class="card-header">
    <h6 class="text-jusfity" > Datos de Registro</h6>
  </div>
  <div class="card-body">
    <div class="form-group row">

      <label class="col-sm-3 col-form-label-sm" for="nro_registro">Número Registro:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control form-control-sm" id="nro_registro" [(ngModel)]="strNroRegistro" [disabled] = "flgDeshabilitado">
      </div>
      <label class="col-sm-3 col-form-label-sm" for="hora_registro">Hora de Inicio: </label>
      <div class="col-sm-3">
        <input type="text" class="form-control form-control-sm" id="hora_registro" [(ngModel)]="strHoraReg" [disabled] = "flgDeshabilitado">
      </div>
      
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label-sm" for="fechaRegistro">Fecha registro: </label>
      <div class="col-sm-3">
        <input type="text" class="form-control form-control-sm" id="fechaRegistro" [(ngModel)]="strFechaRegistro" [disabled] = "flgDeshabilitado">
      </div>
      <label class="col-sm-3 col-form-label-sm" for="hora_registro">Estado actual: </label>
      <div class="col-sm-3">
        <input type="text" class="form-control form-control-sm" id="estado" [(ngModel)]="strDscEstado" [disabled] = "flgDeshabilitado">
      </div>
    </div>
  </div>
</div>

<!--Registro otros: Descripción--><!--Registro otros: Descripción--><!--Registro otros: Descripción--><!--Registro otros: Descripción--><!--Registro otros: Descripción-->

<div class="card mb-3 entidad">
  <div class="card-header">
    <h6 class="text-jusfity">Descripción</h6>
  </div>
  <div class="card-body">

    <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="select_tipo">Tipo de Documento: </label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[0].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>
      <div class="col-sm-4">
        <select class="form-control form-control-sm"  [(ngModel)] = "numIdCanal" [disabled] = "flgSoloLectura" (change) = "_CambioTipDocumento($event.target.value)">
          <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
          <!-- <option  value="4">Correo</option>
          <option value="6">Carta</option>
          <option value="7">Reporte</option> -->
        </select>
      </div>
      <div class="col-sm-5">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_asunto">Asunto:</label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[1].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>
      <div class="col-sm-8">
        <input type="text" maxlength="100" class="form-control form-control-sm" id="input_asunto" (change) = "ValidarDatos()"  [(ngModel)] = "strDscAsunto" [disabled] = "flgSoloLectura">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="form-group row" *ngIf="!flgRepPrensa">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_remitente">Remitente:</label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[2].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>
      <div class="col-sm-8">
        <input type="text" maxlength="100" class="form-control form-control-sm" id="input_remitente" (change) = "ValidarDatos()"  [(ngModel)] = "strDscRemitente" [disabled] = "flgSoloLectura">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="form-group row" *ngIf="flgCorreoElec">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_correoRemitente">Correo Electrónico:</label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(3,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(3,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[3].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>
      <div class="col-sm-8">
        <input type="text" maxlength="50" class="form-control form-control-sm" id="input_correoRemitente" (change) = "ValidarDatos()" [(ngModel)] = "strDscCorreo" [disabled] = "flgSoloLectura">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div *ngIf="flgRepPrensa">
     
      <div class="form-group row">

        <div class="col-sm-1">
        </div>
  
        <label class="col-sm-2 col-form-label-sm" for="input_sumillaNot">Sumilla Noticia:</label>
        <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(4,errorValidator)">
          <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(4,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[4].dscMensaje}}" 
          [matTooltipPosition]="'above'"></fa-icon>
        </span>
  
        <div class="col-sm-8">
          <textarea maxlength="255" class="form-control form-control-sm" rows="2" id="input_sumillaNot" (change) = "ValidarDatos()" [(ngModel)] = "strDscSumilla" [disabled] = "flgSoloLectura"></textarea>
        </div>
  
        <div class="col-sm-1">
        </div>

      </div>

      <div class="form-group row">

        <div class="col-sm-1">
        </div>
  
        <label class="col-sm-2 col-form-label-sm" for="input_detPrensa">Detalle de Prensa:</label>
        <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(5,errorValidator)">
          <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(5,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[5].dscMensaje}}" 
          [matTooltipPosition]="'above'"></fa-icon>
        </span>
  
        <div class="col-sm-8">
          <input type="text" maxlength="100" class="form-control form-control-sm" id="input_detPrensa"  (change) = "ValidarDatos()" [(ngModel)] = "strDscDetPrensa" [disabled] = "flgSoloLectura">
        </div>
  
        <div class="col-sm-1">
        </div>

      </div>

      <div class="form-group row">

        <div class="col-sm-1">
        </div>
  
        <label class="col-sm-2 col-form-label-sm" for="input_nomprog">Nombre Programa:</label>
        <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(6,errorValidator)">
          <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(6,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[6].dscMensaje}}" 
          [matTooltipPosition]="'above'"></fa-icon>
        </span>
  
        <div class="col-sm-8">
          <input type="text" maxlength="100" class="form-control form-control-sm" id="input_nomprog" (change) = "ValidarDatos()"  [(ngModel)] = "strDscNomProg" [disabled] = "flgSoloLectura">
        </div>
  
        <div class="col-sm-1">
        </div>

      </div>

    </div>

    <div class="form-group row">

      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_fechaRecepcion">Fecha de Recepción: </label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(7,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(7,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[7].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>

      <div class="col-sm-4">
        <!-- <input type="datetime-local" class="form-control form-control-sm" id="input_fechaRecepcion" (change) = "ValidarDatos()" [(ngModel)] = "strFchRecep" [disabled] = "flgSoloLectura">  -->
        
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker" [hidden]='true' [(ngModel)]="strFchRecep" (dateChange)="dateChanged($event)" >
          <input matInput [disabled] = "true" [ngModel]="strFchRecep | date:'dd/MM/yyyy hh:mm a'" >
          
          <mat-datepicker-toggle [disabled] = "flgSoloLectura" matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="true" 
            [touchUi]="touchUi"
            [enableMeridian]="true">
          </ngx-mat-datetime-picker>
        </mat-form-field>


          <!-- <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
              [min]="minDate" [max]="maxDate" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
              [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
              [color]="color" [enableMeridian]="enableMeridian">
            </ngx-mat-datetime-picker>
          </mat-form-field> -->
      </div>
      <div class="col-sm-5">
      </div>

    </div>

    <app-evidencias></app-evidencias>

    <!-- <div class="form-group row">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="input_fechaRecepcion">Evidencia: </label>
      <div class="col-sm-8">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input form-control form-control-sm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
            <label class="custom-file-label form-control form-control-sm" for="inputGroupFile04">Selecciona archivo</label>
          </div>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">documento1.docx <span class="badge badge-info badge-pill">X</span> </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">documento2.docx <span class="badge badge-info badge-pill">X</span> </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">documento3.docx <span class="badge badge-info badge-pill">X</span> </li>
        </ul>

      </div>
      <div class="col-sm-1">
      </div>
    </div>  -->

  </div>
</div>
<!-- 
<div class="card mb-3 entidad" >
  <div class="card-header">
    <h6 class="text-jusfity" >Lista de archivos Adjuntos</h6>
  </div>
  <div class="card-body">
    <div class="form-row centrar">
      <div class="form-group col-md-1 mx-auto">        
      </div>
      <div class="form-group col-md-10 centrar">

        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Estado</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2019</td>
              <td>Expediente</td>
              <td>125-DR/ED</td>
              <td>125666399ED</td>
              <td>15/08/2007</td>
            </tr>
            <tr>
              <td>2</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
              <td>AAAA</td>
            </tr>
         
          </tbody>
        </table>  

      </div>

      <div class="form-group col-md-1 mx-auto">        
      </div>

    </div>

  </div>

</div> -->