<!-- <div class="container-fluid"> -->

  <!-- <h4>&nbsp;</h4> -->

  <div class="row">
    <div id="divOpcion1" class="border col-sm-3 seleccion" (click)="BuscarDocumento(1)">
    <!-- <div [ngClass]="{'border col-sm-3 seleccion': idCaso == 1,'border col-sm-3 seleccion': idCaso != 1 }" (click)="BuscarDocumento(1)"> -->
      

      <div class="row align-items-center div-col-opcion">

        <div class="col mx-auto div-col-mx-auto">

          <div class="border icono_estilo bg-danger">

            <i class="material-icons">description</i>

          </div>
          
        </div>
        
        <div class="col mx-auto ">

          <div class="row div-opcion div-opcion-exp">
            <!--JCMF-->
            Exped.

          </div>

          <div class="row div-opcion2">

            {{furCabSeguimiento.cantExpediente}}

          </div>
          
        </div>
        
      </div>
    </div>

    <div id="divOpcion2" class="border col-sm-3 seleccion"  (click)="BuscarDocumento(2)">
      <!-- <div [ngClass]="{'border col-sm-3 seleccionado': idCaso == 2,'border col-sm-3 seleccion': idCaso != 2 }" (click)="BuscarDocumento(2)"> -->
      <!-- <div class="row align-items-center">
        <div class="col mx-auto">
          <div class="border icono_estilo bg-info">
            <i class="material-icons">important_devices</i>
          </div>
        </div>
        <div class="col">
          <div class="row">

            Web - {{furCabSeguimiento.cantFormWeb}}

          </div>
          
        </div>
      </div> -->

      <div class="row align-items-center div-col-opcion">

        <div class="col mx-auto div-col-mx-auto">

          <div class="border icono_estilo bg-info">

            <i class="material-icons">important_devices</i>

          </div>
          
        </div>
        
        <div class="col mx-auto ">

          <div class="row div-opcion div-opcion-icon ">

            Web

          </div>

          <div class="row div-opcion2">

            {{furCabSeguimiento.cantFormWeb}}

          </div>
          
        </div>
        
      </div>

    </div>
    <div id="divOpcion3" class="border col-sm-3 seleccion"  (click)="BuscarDocumento(3)">
      <div class="row align-items-center div-col-opcion">

        <div class="col mx-auto div-col-mx-auto">

          <div class="border icono_estilo bg-success">

            <i class="material-icons">horizontal_split</i>

          </div>
          
        </div>
        
        <div class="col mx-auto ">

          <div class="row div-opcion div-opcion-icon ">

            Otros

          </div>

          <div class="row div-opcion2">

            {{furCabSeguimiento.cantOtros}}

          </div>
          
        </div>
        
      </div>
      <!-- <div class="row align-items-center">
        <div class="col mx-auto">
          <div class="border icono_estilo bg-success">
            <i class="material-icons">horizontal_split</i>
          </div>
        </div>
        <div class="col">
          <div class="row">

            Otros - {{furCabSeguimiento.cantOtros}}

          </div>
          
        </div>
      </div>  -->
    </div>
    <div id="divOpcion4" class="border col-sm-3 seleccion"  (click)="BuscarDocumento(4)">
      <!-- <div class="row align-items-center">
        <div class="col mx-auto">
          <div class="border icono_estilo bg-warning">
            <i class="material-icons">perm_contact_calendar</i>
          </div>
        </div>
        <div class="col">
          <div class="row">

            FUR's - {{furCabSeguimiento.cantFur}}

          </div>
          
        </div>
      </div> -->
      <div class="row align-items-center div-col-opcion">

        <div class="col mx-auto div-col-mx-auto">

          <div class="border icono_estilo bg-warning">

            <i class="material-icons">perm_contact_calendar</i>

          </div>
          
        </div>
        
        <div class="col mx-auto ">

          <div class="row div-opcion div-opcion-icon ">

            FUR's

          </div>

          <div class="row div-opcion2">

            {{furCabSeguimiento.cantFur}}

          </div>
          
        </div>
        
      </div>
    </div>
  </div>

   <h4>&nbsp;</h4>

<!-- </div>  -->
