<mat-dialog-content> <!--[formGroup]="formBusqObraP"-->

  <app-nav-modal (opCerrarModal)="cancelar()"></app-nav-modal>

  <div class="card mb-3 entidad" > <!--[ngClass]="claseError"-->

    <!-- <div class="card-header">

        <h6 class="text-justify">Búsqueda General</h6>

    </div> -->

    <div class="card-body">

      <div class="form-row">

        <div class="form-group col-md-12">
          <label class="col-form-label-sm" for="select_entidades">Entidad Pública:</label>
          <input list="listEntidadesObras" type="text" class="form-control form-control-sm"
          (keypress)="buscarEntidad($event)"  (change)="seleccionarEntidad($event)" 
           list="listEntidadesObras" [(ngModel)]="select_entidades" name="select_entidades"
            placeholder="Escriba el nombre de la entidad aquí" maxlength="100" specialCharacters="['space']" mask="S*"   autocomplete="off" required>
          
          <datalist id="listEntidadesObras" >
            <option *ngFor="let enti of listEntidadesObras" value="{{enti.centNombre}}" >{{enti.centNombre}}</option>

          </datalist>
        </div>
      
      </div>


      <div class="form-row">

        <div class="form-group col-md-3">
          
          <label for="select_tipejec" class="col-form-label-sm">Tipo Ejecución</label>

        </div>

        <div class="form-group col-md-3">

          <select class="form-control form-control-sm" id="select_tipejec"
            [(ngModel)]="select_tipejec" name="select_tipejec">
      
            <option [ngValue]="null">Seleccione</option>
      
            <option *ngFor="let listEjec of listTipoEjecucion" value="{{listEjec.tipo_de_ejecucion}}">{{listEjec.tipo_de_ejecucion}}</option>
      
          </select>

        </div>

        <div class="form-group col-md-3">
          
          <label for="select_departamento" class="col-form-label-sm">Departamento</label>
  
        </div>
  
        <div class="form-group col-md-3">

          <select class="form-control form-control-sm" id="select_departamento"
            [(ngModel)]="select_departamento" name="select_departamento"
            (change) = "cambiarDepartamento(select_departamento)">

            <option [ngValue]="null">Seleccione</option>

            <option *ngFor="let dep of listDepartamento"  value="{{dep.cdptCdDpto}}">{{dep.cdptDpto}}</option>
          </select>

        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-3">
          
          <label for="select_provincia" class="col-form-label-sm">Provincia</label>

        </div>

        <div class="form-group col-md-3">

            <select class="form-control form-control-sm" id="select_provincia"
              [(ngModel)]="select_provincia" name="select_provincia"
              (change) = "cambiarProvincia(select_provincia,select_departamento)">
              
              <option [ngValue]="null">Seleccione</option>
              
              <option *ngFor="let prov of listProvincia"  value="{{prov.cprvCodigo}}">{{prov.cprvProv}}</option>
        
            </select>

        </div>

        <div class="form-group col-md-3">
          
          <label for="select_distrito" class="col-form-label-sm">Distrito</label>

        </div>

        <div class="form-group col-md-3">

            <select class="form-control form-control-sm" id="select_distrito" 
            [(ngModel)]="select_distrito" name="select_distrito">
          
              <option [ngValue]="null">Seleccione</option>
              
              <option *ngFor="let dist of listDistrito"value="{{dist.cdstCodigo}}">{{dist.cdstDistrit}}</option>
        
            </select>

        </div>
          
      </div>

     
      <div *ngIf="flgMostrarAvanzada">

        <div class="form-row">
          
          <div class="form-group col-md-3">
          
            <label for="input_nombreobra" class="col-form-label-sm">Nombre de la Obra</label>
  
          </div>
  
          <div class="form-group col-md-9">
            
            <input type="text" maxlength="255" class="form-control form-control-sm" id="input_nombreobra" 
            [(ngModel)]="input_nombreobra" name="input_nombreobra">
            <!-- formControlName="input_nombreobra" -->
          </div>
          
        </div>

        <div class="form-row">
          
          <div class="form-group col-md-3">
          
            <label for="input_codsnip" class="col-form-label-sm">Cód. SNIP/UNIFICADO</label>
  
          </div>
  
          <div class="form-group col-md-3">
            
            <input type="text" maxlength="20" class="form-control form-control-sm" id="input_codsnip"
            [(ngModel)]="input_codsnip" name="input_codsnip">
            <!--  formControlName="input_codsnip" -->
  
          </div>

          <div class="form-group col-md-3">
          
            <label for="input_infobras" class="col-form-label-sm">Cód. INFOBRAS</label>
  
          </div>
  
          <div class="form-group col-md-3">
            
            <input type="text" maxlength="12" class="form-control form-control-sm" id="input_infobras" mask="0*" 
            [(ngModel)]="input_infobras" name="input_infobras">
            
          </div>
          
        </div>

        <div class="form-row">

          <div class="form-group col-md-3">
            
            <label for="select_evento" class="col-form-label-sm">Evento</label>
  
          </div>
  
          <div class="form-group col-md-3">
  
              <select class="form-control form-control-sm" id="select_evento" 
              [(ngModel)]="select_evento" name="select_evento">
          
                <option [ngValue]="null">Seleccione</option>
          
                <option *ngFor="let listEv of listEventos" value="{{listEv.evento}}">{{listEv.evento}}</option>
          
              </select>
  
          </div>

        </div>

      </div>

      <div class=""> 

          <div mat-dialog-actions class="row justify-content-center mb-5" >

            <div class="col-sm-3" *ngIf="!flgMostrarAvanzada">
              <button  type="button" class="btn btn-pill btn-primary form-control" (click) = "BusquedaAvanzada()">Búsqueda Avanzada</button>
            </div>

            <div class="col-sm-3" *ngIf="flgMostrarAvanzada" >
              <button type="button" class="btn btn-pill btn-primary form-control" (click) = "ocultarBusqueda()">Búsqueda General</button>
            </div>

            <div class="col-sm-3">
                <button type="button" class="btn btn-pill btn-primary form-control" (click) = "Buscar()" [disabled] = "flgDeshabilitaBuscar">
                  <i *ngIf= "!flgDeshabilitaBuscar">Buscar</i>
                  <i *ngIf= "flgDeshabilitaBuscar">Procesando</i>
                  

                </button>
            </div>

            

            <!-- <div class="col-sm-3">
                <button type="button" class="btn btn-light form-control" (click)="cancelar()">Regresar</button>
            </div> -->
            
          </div>
          
      </div>

      <div class="card mb-3 entidad" *ngIf="flgListInfObras">

        <div class="card-header">
    
            <h6 class="text-justify">Lista de Obras Públicas consultadas</h6>
    
        </div>
    
        <div class="card-body">

          <div class="example-container mat-elevation-z8 mt-3" >

            <mat-table [dataSource]="dataSource" matSort>
      
              <!-- <ng-container matColumnDef="nfurId"> 
                <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </mat-cell>
              </ng-container> -->
    
      
              <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Código Infobras </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.codigo_infobras}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="{{matTableColumnsDef[1]}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.descripcion_obra}} </mat-cell>
              </ng-container>
      
              <ng-container  matColumnDef="{{matTableColumnsDef[2]}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Costo </mat-header-cell>
                <mat-cell *matCellDef="let row" > <span *ngIf="row.costo != null">{{row.costo}}</span><span *ngIf="row.costo == null">---</span> </mat-cell>
              </ng-container>
    
              <ng-container  matColumnDef="{{matTableColumnsDef[3]}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Seleccionar </mat-header-cell>
                <mat-cell *matCellDef="let row" > 
                  <input type="radio" class="mr-3" [checked] = "row.flgSeleccionar" (change)="CheckSeleccionar(row,$event)"> 
                </mat-cell>
              </ng-container>
              <ng-container  matColumnDef="{{matTableColumnsDef[4]}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Irregularidad </mat-header-cell>
                <mat-cell *matCellDef="let row" > 
                  <button class="btn btn-sm btn-primary" (click)="AgregarIrregularidad(row.codigo_infobras,row.flgSeleccionar,row)"> 
                    <fa-icon [icon]="iconAgregar"></fa-icon>
                 </button> 
              </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
              <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
              </mat-row>
            </mat-table>
      
            <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
          </div>
    
          

        </div>

      </div>
      <!-- <div class="example-container mat-elevation-z8 mt-3" *ngIf="listInfobras.length > 0 "> -->
      
    </div>

  </div>

  <div class="col-sm-3" *ngIf="flgListInfObras">
    <button type="button" class="btn btn-pill btn-danger form-control" (click)="aceptar()">Agregar</button>
  </div>

</mat-dialog-content>

