<app-nav-modal (opCerrarModal)="cancelar()"></app-nav-modal>

<div class="card">
    <!-- <div class="card-header">
        <h6>Monto Asociado</h6>
    </div> -->
    <div class="card-body">
        <form class="form" > <!--[formGroup]="formModalMonto"-->
                <div class="form-group row">
                    <label for="monto" class="col-sm-2">Monto</label>
                    <div class="col-sm-6">
                        <!-- <input type="text" [disabled]="flgMontoDisable" [(ngModel)]="monto" mask="0*.00"
                        class="form-control form-control-sm" name="montoFlg" maxlength="20" (change)="_cambioMonto($event.target.value)" > -->
                        <input type="text" [disabled]="flgMontoDisable"  [(ngModel)]="strMontoView" mask="separator.2" thousandSeparator="," placeholder="0.00"
                        class="form-control form-control-sm" name="montoFlg" maxlength="20" (change)="_cambioMonto($event.target.value)" >
                        <!-- <input type="number" class="form-control form-control-sm" name="montoFlg" (change)="_setTwoNumberDecimal()" [(ngModel)]="monto" min="0" max="10" step="0.25" value="0.00" /> -->
                        
                    </div>
                    <div class="form-check col-sm-4">
                        <input type="checkbox"  class="form-check-input" [(ngModel)]="cbk_monto" 
                        (change)="cambioMontoDesconocido($event)" name="cbkMonto">
                        <!--formControlName="cbk_monto"-->
                         <label class="form-check-label" for="cbkMontoDesconocido">Monto desconocido</label>
                        </div>
                    </div>
                    
                    
            </form>
            
    </div>
       
</div>
<div class="row">
    <div class="col-sm-3"><input class="btn btn-pill btn-danger" type="submit" (click)="guardarMonto()" value="Guardar"></div>
</div>