<form > <!--[formGroup]="formContenedorDenunciante"-->
	<div class="card mb-3 entidad" >
          <div class="card-header" #myInput>
              <h6 class="text-justify" >Datos Personales</h6>
          </div>
          <div class="card-body">
              <div class="form-row">

                  <div class="form-group col-md-6">
      
                      <label for="select_tipDenunciante" class="col-form-label-sm">Tipo de Denunciante</label>
      
                  </div>

                  <div class="form-group col-md-6">
      
                    <select class="form-control form-control-sm" id="select_tipDenunciante"
                    (change) = "MostrarSeccionPersona(denunciante.ndenuncianteIdtipden)" 
                    [(ngModel)]="denunciante.ndenuncianteIdtipden" name="select_tipDenunciante"
                    [disabled]="flgLectura">

                        <option *ngFor="let tipD of listTipoDenunciante" value="{{tipD.ntipdenuncianteId}}">{{tipD.ctipdenuncianteDsc}}</option>

                    </select>
    
                  </div>

              </div>
      
              <!-- <app-persona-natural #personaNatural *ngIf="mostrarPersonaNatural"></app-persona-natural> -->
              <app-persona-natural (datosComplementOut)="_datosComplementOut($event)" *ngIf="mostrarPersonaNatural"></app-persona-natural>

              <app-persona-juridica *ngIf="mostrarPersonaJuridica"></app-persona-juridica>

              <app-agrupacion *ngIf="mostrarAgrupacion"></app-agrupacion>

              <!-- Nueva versión : vero -->
              <div class="form-group col-md-12">
                <div class="card mb-3">
                    <div class="card-header" >
                        <h6 class="text-justify" >Información General</h6>
                      </div>
                    <div class="card-body">
                        <div class="row">

                          <div class="form-group col-md-6">

                            <label class="col-form-label-sm">Rango de edad</label>

                          </div>

                          <div class="form-group col-md-6">

                            <select class="form-control form-control-sm" id="select_rangoedad"
                            [(ngModel)]="denunciante.ndenuncianteIdrangoedad" name="select_rangoedad"
                            [disabled]="flgLectura">
        
                              <option *ngFor="let tipRE of listRangoEdad" value="{{tipRE.ncatalogoId}}">{{tipRE.ccatalogoDsc}}</option>
        
                            </select>

                          </div>
                        
                            <!-- <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rangoEdad18" name="rangoEdad"class="custom-control-input"
                                value="1834" [(ngModel)]="rangoEdad" (click)="asignarRango($event)" [disabled]="flgLectura" >
                                <label class="custom-control-label" for="rangoEdad18">18 - 34</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rangoEdad54" name="rangoEdad"class="custom-control-input"
                                value="3534" [(ngModel)]="rangoEdad" (click)="asignarRango($event)" [disabled]="flgLectura" >
                                <label class="custom-control-label" for="rangoEdad54">35 a 54</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rangoEdad74" name="rangoEdad"class="custom-control-input"
                                value="5574" [(ngModel)]="rangoEdad" (click)="asignarRango($event)" [disabled]="flgLectura" >
                                <label class="custom-control-label" for="rangoEdad74">55 - 74</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rangoEdad75" name="rangoEdad"class="custom-control-input"
                                value="75" [(ngModel)]="rangoEdad" (click)="asignarRango($event)" [disabled]="flgLectura" >
                                <label class="custom-control-label" for="rangoEdad75">75 a más</label>
                            </div> -->
                        </div>
                        <div class="row">
                          <!-- <div>
                            <label>Sexo</label>
                          </div> -->

                            <div class="form-group col-md-6">

                              <label class="col-form-label-sm">Sexo</label>

                            </div>

                            <div class="form-group col-md-6">

                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sexoM" name="sexo"class="custom-control-input"
                                value="M" [(ngModel)]="denunciante.cdenuncianteCodsexo" (click)="asignarSexo($event)" [disabled]="flgLectura" >
                                <label class="custom-control-label" for="sexoM">Masculino</label>
                              </div>

                              <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" id="sexoF" name="sexo"class="custom-control-input"
                                  value="F" [(ngModel)]="denunciante.cdenuncianteCodsexo" (click)="asignarSexo($event)" [disabled]="flgLectura" >
                                  <label class="custom-control-label" for="sexoF">Femenino</label>
                              </div>

                            </div>

                            <!-- <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sexoM" name="sexo"class="custom-control-input"
                                value="M" [(ngModel)]="flgSexo" (click)="asignarSexo($event)" [disabled]="flgLectura" >
                                <label class="custom-control-label" for="rangoEdad75">Masculino</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sexoF" name="sexo"class="custom-control-input"
                                value="F" [(ngModel)]="flgSexo" (click)="asignarRango($event)" [disabled]="flgLectura" >
                                <label class="custom-control-label" for="rangoEdad75">Femenino</label>
                            </div> -->
                        </div>
                        <div class="row">
                        
                          <div class="form-group col-md-6"><label class="col-form-label-sm">¿Es servidor público?</label></div>
    
                          <div class="form-group col-md-6"><label class="mr-3">No</label>
                            <mat-slide-toggle [disabled]="flgLectura" (change)="cambioServidor($event.checked)" 
                            name="trabajaEntidad" [(ngModel)]="flgEsServidorPublico" [checked]="flgEsServidorPublico">Si</mat-slide-toggle>
                          </div>
                  
                        </div>
                        <div class="row">
                         

                          <div class="col-md-6"><label class="col-form-label-sm">¿Es testigo del hecho?</label></div>
    
                          <div class="col-md-6"><label class="mr-3">No</label>
                            <mat-slide-toggle [disabled]="flgLectura" (change)="cambioTestigo($event.checked)" 
                            name="trabajaEntidad" [(ngModel)]="flgEsTestigoHecho" [checked]="flgEsTestigoHecho">Si</mat-slide-toggle>
                          </div>
                  
                              
                        </div>
                        <div class="row">
                            

                          <div class="col-md-6"><label class="col-form-label-sm">¿Ha tenido acceso directo a la información?</label></div>
    
                          <div class="col-md-6"><label class="mr-3">No</label>
                            <mat-slide-toggle [disabled]="flgLectura" (change)="cambioAccesoInfo($event.checked)" 
                            name="trabajaEntidad" [(ngModel)]="flgAccesoInformacion" [checked]="flgAccesoInformacion">Si</mat-slide-toggle>
                          </div>
                  
                           
                        </div>

                        <div class="row">
                       
                                <div class="col-md-12">
                                    <label for="select_tipoDoc" class="">¿Cómo se enteró del hecho?</label>
                                   
                                </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-12">
                                <textarea class="form-control form-control-sm"
                                [(ngModel)]="dscEnteroHecho" name="input_enteroHecho" maxlength="300">
                    
                                </textarea>
                            </div> -->
                          <div class="col-md-12">

                            <textarea class="form-control form-control-sm" [disabled]="flgLectura"
                            [(ngModel)]="denunciante.cdenuncianteDscenterohecho" name="input_enteroHecho" maxlength="255">
                
                            </textarea>

                          </div>
                        </div>

                    </div>

                </div>
              </div>
          
            <div class="form-group col-md-12" *ngIf = "!flgAnonimo">

              <div class="card mb-3 entidad" >
               
                <div class="card-body">

                    <div class="form-row align-items-center">

                      <div class="form-group col-md-6"><label class="col-form-label-sm">¿Trabaja en la Entidad Denunciada?</label></div>

                      <div class="form-group col-md-6"><label class="mr-3">No</label>
                        <mat-slide-toggle [disabled]="flgLectura"(change)="cambioTrabaja($event)" 
                        name="trabajaEntidad" [ngModel]="flgTrabEntDenun">Si</mat-slide-toggle>
                      </div>
        
                    </div>

                    <div class="form-row align-items-center">

                      <div class="col-md-6"><label class="col-form-label-sm">¿Desea se le realice notificaciones acerca de su denuncia?</label></div>

                      <div class="col-md-6"><label class="mr-3">No</label>
                        <mat-slide-toggle (change)="CambioNotif($event)"  [disabled]="flgLectura"
                        [(ngModel)]="flgNotificacion" name="flgNotificacion"
                        [checked] = "flgNotificacion">Si</mat-slide-toggle></div>
        
                    </div>

                    <div class="form-row align-items-center">

                      <div class="col-md-6"><label class="col-form-label-sm">¿Requiere solicitar Medidas de Protección y Beneficios?</label></div>

                      <div class="col-md-6"><label class="mr-3">No</label>
                        <mat-slide-toggle [disabled]="flgLectura" 
                        [(ngModel)]="flgSolicMP" name="flgSolicMP"
                        (change)="CambioSolic($event.checked)">Si</mat-slide-toggle></div>
        
                    </div>
                
                </div>
        
              </div>
        
            </div>

              <!-- <h6>&nbsp;</h6> -->

              <!-- <div class="form-group col-md-1 d-flex justify-content-center align-items-end">

                  <button type="button" class="btn btn-primary" (click)="ProvisionalBorrar()">PROVISIONAL BORRAR</button>

              </div> -->
      
          </div>

  </div>

</form>

  