<app-nav-modal (opCerrarModal)="cerrar()"></app-nav-modal>

<div class="card">
    <!-- <div class="card-header">
        <h5>Empresa Validada</h5>
    </div> -->
  
    <div class="card-body">
        <form class="form" > <!--[formGroup]="formModalEmpresaValidada"-->
                <div class="form-group row">
                    <label for="monto" class="col-sm-2 col-form-label">Razón Social</label>
                    <div class="col-sm-10 mb-3">
                        <input type="text" class="form-control" [(ngModel)]="empresa.cpersonaRazonsocial" 
                        [disabled]="flgRazonSDisabled" name="inputRazonSocial"> 
                        <!-- formControlName="inputRazonSocial"-->
                    </div>
                    
                    <label for="monto" class="col-sm-2 col-form-label">RUC</label>
                    <div class="col-sm-10 mb-3">
                        <input type="text" class="form-control" [(ngModel)]="empresa.cpersonaNrodoc" 
                        [disabled]="flgNroDocDisabled" mask="0*" maxlength="11" minlength="11" name="inputNroDoc">
                        <!--formControlName="inputRuc"-->
                    </div>
                    <label for="monto" class="col-sm-2 col-form-label">Dirección</label>
                    <div class="col-sm-10 mb-3">
                        <input type="text" class="form-control" [(ngModel)]="empresa.cpersonaDscdireccion"
                        [disabled]="flgDireccionDisabled" name="inputDireccion">
                        <!--formControlName="inputDireccion"-->
                    </div>
                    
                    
                    <div class="form-group col" *ngIf="cfurCdepent != null">
                            <label for="select_departamento" class="col-form-label-sm">Departamento</label>
                            <select class="form-control form-control-sm" [(ngModel)]="cfurCdepent" name="cfurCdepent"
                              (change) = "obtenerProvincias(cfurCdepent)" disabled> 
                              <!-- (change) = "obtenerProvincias(formEntidadHecho.value.select_departamento)" formControlName="select_departamento"-->
                              <option [ngValue]="null">Seleccione</option>
                              <option *ngFor="let dep of departamentos" value="{{dep.cdptCdDpto}}">{{dep.cdptDpto}}</option>
                            </select>
                        </div>
                
                        <!--provincia-->
                        <div class="form-group col" *ngIf="cfurCdepent != null">
                            <label for="select_provincia" class="col-form-label-sm">Provincia</label>
                            <select class="form-control form-control-sm" [(ngModel)]="cfurCprovent" name="cfurCprovent"
                            (change) = "obtenerDistritos(cfurCdepent,cfurCprovent)" disabled>
                            <!-- (change) = "obtenerDistritos(formEntidadHecho.value.select_departamento,formEntidadHecho.value.select_provincia)"
                              formControlName="select_provincia" -->
                              <option [ngValue]="null">Seleccione</option>
                              <option *ngFor="let prov of provincias" value="{{prov.cprvCodigo}}">{{prov.cprvProv}}</option>
                            </select>
                        </div>
                
                        <!--distrito-->
                        <div class="form-group col" *ngIf="cfurCdepent != null">
                            <label for="select_distrito" class="col-form-label-sm">Distrito</label>
                            <select class="form-control form-control-sm" [(ngModel)]="cfurCdistent" name = "cfurCdistent" disabled> <!-- formControlName="select_distrito" -->
                              <option [ngValue]="null">Seleccione</option>
                              <option *ngFor="let dist of distritos" value="{{dist.cdstCodigo}}">{{dist.cdstDistrit}}</option>
                            </select>
                        </div>
                
                
                </div>

            </form>
    </div>
</div>
<div class="row left-content-end">
        <div class="col-sm-3">
            <input class="form-control btn btn-danger" type="submit" value="Agregar" (click)="agregarEmpresa()">  
        </div>
        <!-- <div class="col-sm-3">
            <input class="form-control btn btn-light" type="submit" value="Regresar" (click)="cerrar()">
        </div> -->
        
        
    </div>