<div class="pos-f-t">

    <nav class="navbar navbar-dark s_color_contraloria_azul">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h6 class="texto_menu">Registro</h6>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-3">
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="formulario">Ficha única de Registro</a><!-- href="#/formulario"-->
                </li>
                <!--li class="nav-item">
                  <a class="nav-link" href="">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Link</a>
                </li-->
          </ul>
        </div>
      </div>

      <nav class="navbar navbar-dark s_color_contraloria_azul ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent1" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h6 class="texto_menu">Comming soom</h6>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent1">
          <div class="bg-dark p-3">
              <ul class="nav nav-tabs flex-column">
                  <!--li class="nav-item">
                    <a class="nav-link" href="">L</a>
                  </li-->
            </ul>
          </div>
        </div>

  </div>
