<div class="card">

  <div class="card-header">

    <h6>Registro de Denuncia</h6>
    
  </div>

  <div class="card-body"> <!-- [formGroup]="formDatosGenerales" -->
    <div class="form-group row">
    
      <label class="col-sm-2 col-form-label-sm" for="nro_formulario">Nro. Formulario Web:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="nro_formulario" [(ngModel)]="nro_formulario"
         name="nro_formulario"disabled>
        <!--  formControlName="nro_formulario" -->
      </div>
     
      <label class="col-sm-2 col-form-label-sm" for="fechaAtencion">Hora de registro: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control form-control-sm" id="hora_inicio" [(ngModel)]="hora_inicioView"
        name="hora_inicio" disabled>
        <!--  formControlName="hora_inicio" -->
      </div>
    
    </div>
    <div class="form-group row">
    
      <label class = "col-sm-2 col-form-label-sm" for = "fecha_registro">Fecha Registro</label>
      <div  class = "col-sm-4" >
      <input type = "text" class = "form-control form-control-sm" id = "fecha_registroView" 
      [(ngModel)]="fecha_registroView" disabled>
      <!-- formControlName = "fecha_registro" -->
      <!--<mat-form-field >
         <input matInput placeholder="Favorite food" type="date">
        </mat-form-field>-->
      </div>
      
      <label class="col-sm-2 col-form-label-sm" for="estado_formulario">Estado: </label>
      <div class="col-sm-4">
        <select  class="form-control form-control-sm select-out-arrow" id="select_estado" 
        [(ngModel)]="estado_formularioView" disabled>
          <!-- formControlName="estado_formulario" -->
          <option *ngFor="let estado of listEstados" value="{{estado.nestadoId}}">{{estado.cestadoDescripcion}}</option>
        </select>
       <!-- <input type="text" class="form-control form-control-sm" id="estado_formulario" disabled value="Pendiente" formControlName="estado_formulario">
        -->
      </div>
    
    </div>
  </div>
</div>
<div class="border secGeneral"></div>