<div class="card mb-3 entidad" > <!--[formGroup]="formEntidadHecho"-->
    <div class="card-header">
      <h6 class="text-justify">Entidad Pública donde ocurrió el hecho irregular</h6>
    </div>
    <div class="card-body">
      <div class="form-row">
          <div class="form-group col-md-12">
  
              <label class="col-form-label-sm" for="select_entidades">Entidad Pública:</label>  
              
              <input list="entidades" type="text" class="form-control form-control-sm" (keypress)="buscarEntidad($event)" 
               list="entidades" [(ngModel)]="nombreEntidad" [disabled]="flgLectura" (change)="seleccionarEntidad($event)"
              placeholder="Escriba el nombre de la entidad aquí" specialCharacters="['space']" mask="S*" maxlength="100" required> <!--(input)="buscarEntidad($event)"  (change)="seleccionarEntidad($event)" -->
              
              <datalist id="entidades">
                <option *ngFor="let enti of entidades" value="{{enti.centNombre}}" >{{enti.centNombre}}</option>
              </datalist>
            
          </div>
      </div>
      <div class="form-row">

        <!--departamento-->
        <div class="form-group col">
            <label for="select_departamento" class="col-form-label-sm">Departamento</label>
            <select class="form-control form-control-sm" [(ngModel)]="cfurCdepent" 
              (change) = "obtenerProvincias(cfurCdepent)" disabled> 
              <!-- (change) = "obtenerProvincias(formEntidadHecho.value.select_departamento)" formControlName="select_departamento"-->
              <option [ngValue]="null">Seleccione</option>
              <option *ngFor="let dep of departamentos" value="{{dep.cdptCdDpto}}">{{dep.cdptDpto}}</option>
            </select>
        </div>

        <!--provincia-->
        <div class="form-group col">
            <label for="select_provincia" class="col-form-label-sm">Provincia</label>
            <select class="form-control form-control-sm" [(ngModel)]="cfurCprovent"
            (change) = "obtenerDistritos(cfurCdepent,cfurCprovent)" disabled>
            <!-- (change) = "obtenerDistritos(formEntidadHecho.value.select_departamento,formEntidadHecho.value.select_provincia)"
              formControlName="select_provincia" -->
              <option [ngValue]="null">Seleccione</option>
              <option *ngFor="let prov of provincias" value="{{prov.cprvCodigo}}">{{prov.cprvProv}}</option>
            </select>
        </div>

        <!--distrito-->
        <div class="form-group col">
            <label for="select_distrito" class="col-form-label-sm">Distrito</label>
            <select class="form-control form-control-sm" [(ngModel)]="cfurCdistent" disabled> <!-- formControlName="select_distrito" -->
              <option [ngValue]="null">Seleccione</option>
              <option *ngFor="let dist of distritos" value="{{dist.cdstCodigo}}">{{dist.cdstDistrit}}</option>
            </select>
        </div>
      </div>

      <div class="form-row align-items-center">
          <!--direccion-->
          <div class="form-group col-md-6">
              <label class="col-form-label-sm" for="input_direccion">Dirección:</label>
              <textarea class="form-control form-control-sm" rows="2" id="input_direccion" 
              [(ngModel)]="cfurDirentidad" disabled></textarea>
              <!-- formControlName="inputDireccion" -->
          </div>

          <!--Referencia-->
          <div class="form-group col-md-5">
              <label class="col-form-label-sm" for="input_referencia">Referencia:</label>
              <textarea class="form-control form-control-sm" [(ngModel)]="cfurDscrefentidad" rows="2" id="input_referencia" 
              maxlength="255"    [disabled]="flgLectura" ></textarea>
              <!--formControlName="inputReferencia"-->
          </div>
        <!--<div class="form-group col-md-1 d-flex justify-content-center align-items-end">
          <button type="button" class="btn btn-primary" (click)="llenarEntidades()">+</button>
        </div>-->
      </div>

      <div class="form-row align-items-center">
        <div class="col-md-6"><label class="col-form-label-sm">¿Esta es la dirección donde ocurrieron los hechos?</label></div>
        <div class="col-md-6">

          <label class="mr-3" *ngIf="!flgLectura || (flgLectura && !direccionHechos)">No</label>
            <mat-slide-toggle (change)="cambioDireccion($event)" *ngIf="!flgLectura" [checked]="direccionHechos"></mat-slide-toggle>
          <label class="mr-3" *ngIf="!flgLectura || (flgLectura && direccionHechos)">Si</label>

        </div>
      </div>

      <div class="form-row align-items-center">
          <div class="form-group col-sm-6">
              <label for="select_tipo_hecho" class="col-form-label-sm">Tipo de Hecho</label>
              <select [ngClass]="'form-control form-control-sm' + (flgLectura ? ' select-out-arrow' : '')" [(ngModel)]="nfurIdtipohecho"
               (change)="enviarHecho()" [disabled]="flgLectura">
                <option [ngValue]="null">Seleccione</option>
                <option *ngFor="let tipHecho of tipoHechos" value="{{tipHecho.ntipohechoId}}">{{tipHecho.ctipohechoDescripcion}}</option>
              </select>
          </div>

          <!-- <div *ngIf="!flgLectura" class="form-group col-sm-6"> -->
          
            <div class="form-group col-sm-2" *ngIf="nfurIdtipohecho== cObraPublica && !flgLectura">

              <label  *ngIf="nfurIdtipohecho == cObraPublica" class="col-form-label-sm invisible">
                Agregar Obra</label>
              
              <button *ngIf="nfurIdtipohecho == cObraPublica && listObrasPublicas.length == 0" class="btn-sm btn-primary form-control form-control-sm"(click)="abrirModalObras()">
                <fa-icon [icon]="iconAgregar"></fa-icon>
                Agregar Obra
              </button>

            </div>

            <div class="form-group col-sm-2" *ngIf="nfurIdtipohecho == cContratacion && !flgLectura">
                  <label  *ngIf="nfurIdtipohecho == cContratacion" class="col-form-label-sm invisible">Agregar Contratacion</label>
                  <button  *ngIf="nfurIdtipohecho == cContratacion" class="btn-sm btn-primary form-control form-control-sm"(click)="abrirModalContratacion()">
                      <fa-icon [icon]="iconAgregar"></fa-icon>Agregar Contratación
                    </button>
            </div>

          <!-- </div> -->
            
      </div>

      <!-- tabla -->
     <div class="card-body" *ngIf="nfurIdtipohecho == cObraPublica">
    
          <div class="form-row align-items-center" *ngIf="listObrasPublicas.length == 0">
              <div class="col-md-6"><label class="col-form-label-sm">¿Encontró obra pública?</label></div>
              <div class="col-md-6" >

                <label class="mr-3" *ngIf="!flgLectura || (flgLectura && encontroObra)">Si</label>
                <mat-slide-toggle *ngIf="!flgLectura" (change)="cambiarEncontroObra($event)" [checked] = "encontroObra"></mat-slide-toggle>
                <label class="mr-3" *ngIf="!flgLectura || (flgLectura && !encontroObra)">No</label>

                <button *ngIf="encontroObra && !flgLectura" class="btn btn-sm btn-primary ml-3" (click)="abrirModalRegistroObra()">
                  <fa-icon [icon]="iconAgregar"class="mr-2"></fa-icon>Agregar obra no encontrada
                </button>
                
              </div>
             
            </div>

          <mat-table [dataSource]="dataSourceObras" *ngIf="listObrasPublicas.length >0" matSort>
              
              <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Obra </mat-header-cell>
                <mat-cell fxFlex="20%" *matCellDef="let obra"> {{obra.obraPublica.cobrapublicaDscnombre}} </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Obra</mat-header-cell>
                <mat-cell *matCellDef="let obra"> {{obra.obraPublica.cobrapublicaDscestado}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[2]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Costo </mat-header-cell>
                <mat-cell *matCellDef="let obra"> {{obra.obraPublica.nobrapublicaCosto | number:'1.2-2' }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[3]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </mat-header-cell>
                <mat-cell *matCellDef="let obra">
                  <span *ngIf="obra.obraPublica.strDobrapublicaFechaini !='' ">{{obra.obraPublica.strDobrapublicaFechaini.substring(0,10)}}</span>
                  <span *ngIf="obra.obraPublica.strDobrapublicaFechaini ==='' ">----</span> </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[4]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin </mat-header-cell>
                <mat-cell *matCellDef="let obra">
                   <span *ngIf="obra.obraPublica.strDobrapublicaFechafin !='' ">{{obra.obraPublica.strDobrapublicaFechafin.substring(0,10)}}</span>
                   <span *ngIf="obra.obraPublica.strDobrapublicaFechafin =='' ">----</span> </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[5]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Irregularidades </mat-header-cell>
                <mat-cell *matCellDef="let obra"> 
                  
                  <button data-toggle="tooltip" data-placement="right" title="Ver" *ngIf="obra.listaFurPorObraPubPorHechoIrr.length >0" class="btn btn-sm btn-primary"
                    (click)="verHechoIrregular(obra)">
                    <fa-icon [icon]="iconVer"></fa-icon>
                  </button>
                  <span *ngIf="obra.listaFurPorObraPubPorHechoIrr.length ==0">
                    ----
                  </span> 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[6]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Editar</mat-header-cell>
                <mat-cell *matCellDef="let obra"> 
                    <!-- <button *ngIf="obra.listaFurPorObraPubPorHechoIrr.length >0" class="btn btn-sm btn-info mr-2"
                        (click)="verHechoIrregular(obra)">
                        <fa-icon [icon]="iconVer"></fa-icon>
                    </button> -->
                    <button *ngIf = "!flgLectura" data-toggle="tooltip" data-placement="right" title="Editar" class="btn btn-sm btn-primary"
                        (click)="editarHechoIrregular(obra)">
                        <fa-icon [icon]="iconEditar"></fa-icon>
                    </button>
                    <!-- <button class="btn btn-sm btn-danger mr-2" (click)="eliminarObras(obra)">
                      <fa-icon [icon]="iconEliminar"></fa-icon>
                    </button> -->
                  
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[7]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar</mat-header-cell>
                <mat-cell *matCellDef="let obra"> 
                    <!-- <button *ngIf="obra.listaFurPorObraPubPorHechoIrr.length >0" class="btn btn-sm btn-info mr-2"
                        (click)="verHechoIrregular(obra)">
                        <fa-icon [icon]="iconVer"></fa-icon>
                    </button> -->
                    <!-- <button class="btn btn-sm btn-info mr-2"
                        (click)="editarHechoIrregular(obra)">
                        <fa-icon [icon]="iconEditar"></fa-icon>
                    </button> -->
                    <button *ngIf = "!flgLectura" data-toggle="tooltip" data-placement="right" title="Eliminar" class="btn btn-sm btn-danger mr-2" (click)="eliminarObras(obra)"> 
                      <fa-icon [icon]="iconEliminar"></fa-icon>
                    </button>
                  
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
              <mat-row   *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
              </mat-row> 
        </mat-table>

        <mat-paginator *ngIf="listObrasPublicas.length >0" [pageSizeOptions]="[5,10]"></mat-paginator>

      </div>


    </div>
  </div>