/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/*
Colores para la web: rojo: E01C19 , negro : 1D1D1B
Texto : #11111;
Gris claro: #767676;
Bordes y detalle : #CCCCCC;
Fondo: #F5F5F5;
BLanco : #FFFFFF;

Letra : poppins, roboto
Tamaños de letra: 12,14,16,20 ,34
*/
html, body {
   height: 100%; 
   /* background-color:#faffff !important; */
   background-color:#f5f5f5 !important;
  }

.general{
    font-family: 'Roboto','Poppins', "Helvetica Neue", sans-serif; 
}

body { margin: 0; }
/* .border_color_contraloria {background-color:#cccccc;} */
.border_color_contraloria {
  background-color: white;
  
}
.p_color_contraloria_rojo {background-color:#da2128;}
.fondo_color_contraloria {background-color:#f5f5f5;}

.titulo_seccion_contraloria{
    font-size: 20px;
}


.s_color_contraloria_rojo {background-color:#d44339;}

.color_contraloria_morado{
  background-color:#7b4884;
}

.color_contraloria_verde{
  background-color:#52ada4;
}

.color_contraloria_naranja{
  background-color:#eb9316;
}

.card-header{
  /*background: #E01C19 !important;*/
  color: #1D1D1B !important;
  background: rgb(255, 255, 255) !important;
}

.card{
  margin-bottom:0.5rem;
}


/*Switch*/
.mat-slide-toggle{

  margin-right: 10px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background: #da2128;
  
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background: #d44339;
  
}

/*Botones*/
.btn-primary{
  background-color: #52ada4 !important;
  border-color: #cccccc !important;
  border-radius:20px !important;
}

.btn-danger{
  
  border-radius:20px !important;
}

.btn-primary:hover {
  /*background-color: #52ada0 !important;*/
  border-color: #52ada4 !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82,173,164,.5) !important;
}
.btn-primary.focus, .btn-primary:focus{
  box-shadow: 0 0 0 0.2rem rgba(82,173,164,.5) !important;
}

.btn-light{
  background: #cccccc !important;
  border-color: #ffffff !important;
}

.btn-light:hover{
  border-color: #cccccc !important;
}

/*Table th*/
.table thead tr th{
  columns: #868686 !important;
}

/*Select , Options*/
option{
  font-family: 'Poppins', "Helvetica Neue", sans-serif; 
  font-size: 14px;
}

/*Tab*/
.nav-link{
  color:#1D1D1B;
  background: #f5f5f5;
}
 a:hover{
  color:#da2128 !important;
}
/*Errores*/
/*
.ng-invalid:not(.ng-untouched):not(form):not(.card){
  border-color: #da2128 !important;
}*/

.input-error{
  border-color: #da2128 !important;
}
.error input {
  border-color: #da2128 !important;
}
.error select{
  border-color: #da2128 !important;
}

.icon-error{
  color: #da2128;
}

.navbar-fixed{
   
  top: 0;
}


/* .navbar-modal{
  background: #d44339 !important;
} */

.icon-x-nav-modal{
  cursor: pointer;
}

.modal-header
{
  background: #d44339 !important;
}

.modal-btn-aceptar
{
  border-radius: 20px;
}


input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

.mat-cell {
  padding: 15px 8px 8px 15px;
}

/* :host ::ng-deep .mat-header-row { 
  background-color: #d6f5f2 !important;
} */

 .mat-header-row { 
  background-color: #d6f5f2 !important;
}

.select-out-arrow {

  -moz-appearance: none;

  -webkit-appearance: none;
}


.select-out-arrow::-ms-expand {
  display: none;
}



