<app-datos-general></app-datos-general>
<div class="mt-3">
  <ul class="nav nav-tabs " role="tablist">
        <li class="nav-item">
          <a class="nav-link  active" href="#denuncia" role="tab" data-toggle="tab" aria-selected="true">Denuncia</a>
        </li>
       
        
        <li *ngIf="!flgEsFud"  class="nav-item">
          <a *ngIf="tabDenunciante" class="nav-link" href="#denunciante" role="tab" data-toggle="tab" id="aTabDenun">Denunciante</a>
        </li>
        <li *ngIf="!flgEsFud"  class="nav-item">
            <a  *ngIf="tabProteccion" class="nav-link" href="#medidasProteccion" role="tab" data-toggle="tab" id="aTabMP">Medidas de protección</a>
          </li>
       
      </ul>
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="denuncia">
            <app-denuncia-contenedor (requiereIdentiEmitter)="validarTab($event)"></app-denuncia-contenedor>
          </div>
          <div  *ngIf="tabDenunciante" role="tabpanel" class="tab-pane fade show " id="denunciante">
              <app-contenedor-denunciante (opSolicitaMPB) = "ActivaPanelMP($event)"></app-contenedor-denunciante>
          </div>
          <div *ngIf="tabProteccion" role="tabpanel" class="tab-pane fade show " id="medidasProteccion">
              <app-contenedor-mp></app-contenedor-mp>
          </div>
      </div>
</div>