<div class="card mb-3" ><!--SECCION funcionario--> <!--[formGroup]="formFuncionario"-->
  <div class="card-header">
    <h6 class="text-jusfity">Funcionario(s) involucrado(s):</h6>
  </div>
  
  <div class="card-body">

      <div class="form-row align-items-center">

          <div class="col-md-6">
            <label class="col-form-label-sm">¿Conoce datos de funcionarios involucrados?</label>
          </div>

          <div class="col-md-2">

            <label class="mr-3" *ngIf="!flgLectura || (flgLectura && !conoce_funcionario)">No</label>
            <mat-slide-toggle (change)="cambiarConoceFuncionario($event)" *ngIf="!flgLectura" [checked]="conoce_funcionario"></mat-slide-toggle>
            <label class="mr-3" *ngIf="!flgLectura || (flgLectura && conoce_funcionario)">Si</label>
            
          </div>
            <div class="col-md-4" *ngIf="conoce_funcionario && !flgLectura">
             <!--  <label  class="col-form-label-sm invisible">
                Agregar Funcionario</label> -->
                <button class="btn-sm btn-primary form-control form-control-sm"(click)="abrirModalFuncionario()">
                  <fa-icon [icon]="iconAgregar"></fa-icon>
                Agregar Funcionario</button>
              </div>

      </div>

    <!--Aquí iba el modal-->
   <!--  <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Nro</th>
            <th scope="col">DNI</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Nombres</th>
            <th scope="col">Cargo</th>
            <th scope="col" *ngIf="!flgLectura">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let den of listDenunciado ; let i = index">
            <th scope="row">{{i+1}}</th>
            <td *ngIf="den.persona != null">{{den.persona.cpersonaNrodoc}}</td>
            <td *ngIf="den.persona == null">----</td>
            <td>{{den.cdenunciadoNombres}}</td>
            <td>{{den.cdenunciadoApepaterno}}</td>
            <td>{{den.cdenunciadoApematerno}}</td>
            <td>{{den.cargo.ccargoDsc}}</td>
            <td>
              <button *ngIf="!flgLectura" class="btn btn-sm btn-danger" (click)="eliminar(den)">
                <fa-icon [icon]="iconoEliminar"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>-->
      <div> 
          
        <mat-table *ngIf="listDenunciado.length > 0 " [dataSource]="dataSource" matSort>
              
              <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Número de documento </mat-header-cell>
                <mat-cell *matCellDef="let row"> <span *ngIf="row.persona != null">{{row.persona.cpersonaNrodoc}}</span>
                  <span *ngIf="row.persona == null">----</span> </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.cdenunciadoNombres}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[2]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Paterno </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.cdenunciadoApepaterno}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[3]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Materno </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.cdenunciadoApematerno}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[4]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.cargo.ccargoDsc}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[6]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Editar</mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index"> 
                  <button *ngIf="!flgLectura" class="btn btn-sm btn-primary" (click)="_editar(i)">
                    <!-- <i class="material-icons">restore_page</i> -->
                    <fa-icon [icon]="iconEditar"></fa-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="{{matTableColumnsDef[5]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <button *ngIf="!flgLectura" class="btn btn-sm btn-danger" (click)="eliminar(row)">
                    <fa-icon [icon]="iconoEliminar"></fa-icon>
                  </button></mat-cell>
              </ng-container>



              <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
              <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
              </mat-row> 
        </mat-table>

        <mat-paginator *ngIf="listDenunciado.length > 0 "  [pageSizeOptions]="[5,10]"></mat-paginator>
      </div>
  </div>
</div>