<div class="card">

  <div class="card-header">
    <h6>{{strEtiquetaAsign}}</h6>
  </div>

  <div class="card-body" >

    <div class="card">
      <div class="card-header">
        <h6>{{strEtiquetaRespAten}}</h6>
      </div>
      <div class="card-body" >

        <div class="form-group row">
    
          <label class="col-sm-2 col-form-label-sm" for="select_responsable">Nombre Responsable:</label>
          <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)">
            <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[0].dscMensaje}}" 
            [matTooltipPosition]="'above'"></fa-icon>
          </span>

          <div class="col-sm-4">

            <select class="form-control form-control-sm" [(ngModel)]="strIdResponsable" [disabled] = "flgSoloLectura" (change) = "ValidarDatos()">
              <!-- <option [ngValue]="null">Seleccione</option> -->
              <option *ngFor="let lpcgr of listPersonalCgr" value="{{lpcgr.cpPerCodigo}}">{{lpcgr.cpPerApPater}} {{lpcgr.cpPerApMater}}, {{lpcgr.cpPerNombre}}</option>

              <!-- <option value="1">JUan</option>
              <option value="8">Carmin</option> -->
            </select>

          </div>
          
          <label class="col-sm-1 col-form-label-sm" for="select_cargo">Cargo:</label>
          <div class="col-sm-4">
            <select class="form-control form-control-sm select-out-arrow"  [(ngModel)] = "numIdCargo" [disabled] = "flgDeshabilitado">
              <option *ngFor="let lcar of listCargo" value="{{lcar.ncargoId}}">{{lcar.ccargoDsc}}</option>
              <!-- <option  value="4">Correo</option>
              <option value="6">Carta</option>
              <option value="7">Reporte</option> -->
            </select>
          </div>
        
        </div>
    
      </div>
    </div><!-- </div> <h3>Responsable de Atención</h3> -->

    <!-- <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tareas</th>
          <th scope="col">Fecha Asignación</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lasig of listAsignacion; let i = index">
          <td>{{i+1}}</td>
          <td>{{lasig.gestor.cpPerApPater}} {{lasig.gestor.cpPerApMater}}, {{lasig.gestor.cpPerNombre}}</td>
          <td>{{lasig.numCantTarea}}</td>
          <td>{{lasig.strUltFchAsig}}</td>
        </tr>
      </tbody>
    </table> -->
      <mat-table [dataSource]="dataSource" *ngIf="listAsignacion.length > 0" matSort>
                  
          <ng-container matColumnDef="{{matTableColumnsDef[0]}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
            <mat-cell fxFlex="20%" *matCellDef="let lasig; let i = index"> {{i + 1}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="{{matTableColumnsDef[1]}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
            <mat-cell *matCellDef="let lasig"> {{lasig.gestor.cpPerApPater}} {{lasig.gestor.cpPerApMater}}, {{lasig.gestor.cpPerNombre}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="{{matTableColumnsDef[2]}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tareas </mat-header-cell>
            <mat-cell *matCellDef="let lasig"> {{lasig.numCantTarea}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="{{matTableColumnsDef[3]}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Asignación </mat-header-cell>
            <mat-cell *matCellDef="let lasig">{{lasig.strUltFchAsig}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
          <mat-row   *matRowDef="let row; columns: matTableColumnsDef" >
          </mat-row> 
    </mat-table>

    <mat-paginator *ngIf="listAsignacion.length >0" [pageSizeOptions]="[5,10]"></mat-paginator>


    <div class="form-group row">

      <label class="col-sm-2 col-form-label-sm" for="input_indicacion">Indicaciones:</label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[1].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>

      <div class="col-sm-9">

        <textarea maxlength="255" class="form-control form-control-sm" rows="2" id="input_indicacion" (change) = "ValidarDatos()" [(ngModel)] = "strDscIndicacion" [disabled] = "flgSoloLectura"></textarea>

      </div>

    </div>

    <div class="form-group row">

      <label class="col-sm-2 col-form-label-sm" for="cantidad_tiempo">Plazo para Evaluación: </label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[2].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>

      <div class="col-sm-1">
        <input type="number" min="0" class="form-control form-control-sm" id="cantidad_tiempo" (change) = "ValidarDatos()" [(ngModel)]="numCantTiempo" [disabled] = "flgSoloLectura">
      </div>

      <div class="col-sm-3">

        <select class="form-control form-control-sm" (change) = "ValidarDatos()" [(ngModel)]="numIdPlazo"  [disabled] = "flgSoloLectura">
          <option [ngValue]="null">Seleccione</option>
          <option *ngFor="let lpl of listPlazo" value="{{lpl.nplazoId}}">{{lpl.cplazoDsc}}</option>

          <!-- <option value=1>Minutos</option>
          <option value=2>Horas</option>
          <option value=3>Días</option> -->
        </select>
      </div>

    </div>

    
  </div>
</div>