<div class="card mb-3 entidad" ><!--Registro encabezo del expediente-->
  <div class="card-header">
    <h6 class="text-jusfity" > Registro de Expediente</h6>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label-sm" for="nro_expediente">Número Registro:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="nro_expediente" [(ngModel)]="strIdExpediente" [disabled] = "flgDeshabilitado">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="hora_registro">Hora de Inicio: </label>
      <div class="col-sm-1">
        <input type="text" class="form-control form-control-sm" id="hora_registro" [(ngModel)]="strHoraReg" [disabled] = "flgDeshabilitado">
      </div>
      <label class="col-sm-1 col-form-label-sm" for="hora_registro">Atender en: </label>
      <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)">
        <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[0].dscMensaje}}" 
        [matTooltipPosition]="'above'"></fa-icon>
      </span>
      <div class="col-sm-1">
        <input type="number" min="0" max="100" class="form-control form-control-sm" id="cantidad_tiempo" [(ngModel)]="numCantTiempo" [disabled] = "flgSoloLectura">
      </div>
      <div class="col-sm-2">
        <select class="form-control form-control-sm" [(ngModel)]="numIdPlazo"  [disabled] = "flgSoloLectura">
          <option [ngValue]="null">Seleccione</option>
          <option *ngFor="let lpl of listPlazo" value="{{lpl.nplazoId}}">{{lpl.cplazoDsc}}</option>

          <!-- <option value=1>Minutos</option>
          <option value=2>Horas</option>
          <option value=3>Días</option> -->
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label-sm" for="fechaRegistro">Fecha registro: </label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="fechaRegistro" [(ngModel)]="strFechaRegistro" [disabled] = "flgDeshabilitado">
      </div>
      <label class="col-sm-2 col-form-label-sm" for="hora_registro">Estado actual: </label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="estado" [(ngModel)]="strDscEstado" [disabled] = "flgDeshabilitado">
      </div>
    </div>
  </div>
</div>