<form [formGroup]="formBusqObraP">

    <div class="card mb-3 entidad" >
  
      <div class="card-header">
  
          <h6 class="text-justify">Búsqueda Contraciones</h6>
  
      </div>
  
      <div class="card-body">
  
        <div class="form-row">
  
  
          <div class="form-group col-md-3">
            
            <label for="select_tipejec" class="col-form-label-sm">Nombre de entidad</label>
  
          </div>
  
          <div class="form-group col-md-3">
  
              <input type="text"class="form-control form-control-sm" id="inputEnttdad" formControlName="input_entidad" disabled>
                
  
          </div>
  
          <div class="form-group col-md-3">
            
            <label for="select_departamento" class="col-form-label-sm">Número de selección</label>
    
          </div>
    
          <div class="form-group col-md-3">
  
              <select class="form-control form-control-sm" id="select_departamento" formControlName="select_departamento" 
              ><!-- (change) = "cambiarDepartamento(formBusqObraP.value.select_departamento)" -->
                  
                <option [ngValue]="null">Seleccione</option>
  
  
                <option *ngFor="let dep of listDepartamento" value="{{dep.cdptCdDpto}}">{{dep.cdptDpto}}</option>
          
              </select>
  
          </div>
            
        </div>
  
        <div class="form-row">
  
          <div class="form-group col-md-3">
            
            <label for="select_provincia" class="col-form-label-sm">Provincia</label>
  
          </div>
  
          <div class="form-group col-md-3">
  
              <select class="form-control form-control-sm" id="select_provincia" formControlName="select_provincia" 
             ><!--  (change) = "cambiarProvincia(formBusqObraP.value.select_provincia,formBusqObraP.value.select_departamento)" -->
                <option [ngValue]="null">Seleccione</option>
                
                <!-- <option *ngFor="let listProv of listProvincia" value="{{listProv.cprvCodigo}}">{{listProv.cprvProv}}</option> -->
  
                <option *ngFor="let prov of listProvincia" value="{{prov.cprvCodigo}}">{{prov.cprvProv}}</option>
          
              </select>
  
          </div>
  
          <div class="form-group col-md-3">
            
            <label for="select_distrito" class="col-form-label-sm">Distrito</label>
  
          </div>
  
          <div class="form-group col-md-3">
  
              <select class="form-control form-control-sm" id="select_distrito" formControlName="select_distrito">
                <option [ngValue]="null">Seleccione</option>
                
                <!-- <option *ngFor="let listDist of listDistrito" value="{{listDist.cdstCodigo}}">{{listDist.cdstDistrit}}</option> -->
  
                <option *ngFor="let dist of listDistrito" value="{{dist.cdstCodigo}}">{{dist.cdstDistrit}}</option>
          
              </select>
  
          </div>
            
        </div>
  
        <div class="form-row">
  
          <div class="form-group col-md-3">
            
            <label for="input_entidad" class="col-form-label-sm">Entidad Pública</label>
  
          </div>
  
          <div class="form-group col-md-9">
            
            <input type="text" maxlength="255" class="form-control form-control-sm" id="input_entidad" formControlName="input_entidad">
  
          </div>
  
        </div>
  
        <div *ngIf="flgMostrarAvanzada">
  
          <div class="form-row">
            
            <div class="form-group col-md-3">
            
              <label for="input_nombreobra" class="col-form-label-sm">Nombre de la Obra</label>
    
            </div>
    
            <div class="form-group col-md-9">
              
              <input type="text" maxlength="255" class="form-control form-control-sm" id="input_nombreobra" formControlName="input_nombreobra">
    
            </div>
            
          </div>
  
          <div class="form-row">
            
            <div class="form-group col-md-3">
            
              <label for="input_codsnip" class="col-form-label-sm">Cód. SNIP/UNIFICADO</label>
    
            </div>
    
            <div class="form-group col-md-3">
              
              <input type="text" maxlength="100" class="form-control form-control-sm" id="input_codsnip" formControlName="input_codsnip">
    
            </div>
  
            <div class="form-group col-md-3">
            
              <label for="input_infobras" class="col-form-label-sm">Cód. INFOBRAS</label>
    
            </div>
    
            <div class="form-group col-md-3">
              
              <input type="text" maxlength="100" class="form-control form-control-sm" id="input_infobras" formControlName="input_infobras">
    
            </div>
            
          </div>
  
          <div class="form-row">
  
            <div class="form-group col-md-3">
              
              <label for="select_evento" class="col-form-label-sm">Evento</label>
    
            </div>
    
            <div class="form-group col-md-3">
    
                <select class="form-control form-control-sm" id="select_evento" formControlName="select_evento">
                  <option [ngValue]="null">Seleccione</option>
                  <!-- <option value="1">DNI</option>
                  <option value="2">RUC</option> -->
                  <option *ngFor="let listEv of listEvento" value="{{listEv.ncatalogoId}}">{{listEv.ccatalogoDsc}}</option>
            
                  <!-- <option value="1">Lima</option>
                  <option value="2">Callao</option> -->
                </select>
    
            </div>
    
            <div class="form-group col-md-3">
              
              <label for="select_anho" class="col-form-label-sm">Año</label>
    
            </div>
    
            <div class="form-group col-md-3">
    
                <select class="form-control form-control-sm" id="select_anho" formControlName="select_anho">
                  <option [ngValue]="null">Seleccione</option>
                  <!-- <option value="1">DNI</option>
                  <option value="2">RUC</option> -->
                  <option *ngFor="let listAnh of listAnho" value="{{listAnh.ncatalogoId}}">{{listAnh.ccatalogoDsc}}</option>
            
                  <!-- <option value="1">Lince</option>
                  <option value="2">San Borja</option> -->
    
                </select>
    
            </div>
              
          </div>
  
          <div class="form-row">
  
            <div class="form-group col-md-3">
              
              <label for="select_detevento" class="col-form-label-sm">Detalle de Evento</label>
    
            </div>
    
            <div class="form-group col-md-3">
    
                <select class="form-control form-control-sm" id="select_detevento" formControlName="select_detevento">
                  <option [ngValue]="null">Seleccione</option>
                  <!-- <option value="1">DNI</option>
                  <option value="2">RUC</option> -->
                  <option *ngFor="let listDEv of listDetEvento" value="{{listDEv.ncatalogoId}}">{{listDEv.ccatalogoDsc}}</option>
            
                  <!-- <option value="1">Lima</option>
                  <option value="2">Callao</option> -->
                </select>
    
            </div>
    
            <div class="form-group col-md-3">
              
              <label for="select_fase" class="col-form-label-sm">Fase</label>
    
            </div>
    
            <div class="form-group col-md-3">
    
                <select class="form-control form-control-sm" id="select_fase" formControlName="select_fase">
                  <option [ngValue]="null">Seleccione</option>
                  <!-- <option value="1">DNI</option>
                  <option value="2">RUC</option> -->
                  <option *ngFor="let listFas of listFase" value="{{listFas.ncatalogoId}}">{{listFas.ccatalogoDsc}}</option>
            
                  <!-- <option value="1">Lince</option>
                  <option value="2">San Borja</option> -->
    
                </select>
    
            </div>
              
          </div>
  
          <div class="form-row">
  
            <div class="form-group col-md-3">
              
              <label for="select_monitoreo" class="col-form-label-sm">Monitoreo Ciudadano</label>
    
            </div>
    
            <div class="form-group col-md-9">
    
                <select class="form-control form-control-sm" id="select_monitoreo" formControlName="select_monitoreo">
                  <option [ngValue]="null">Seleccione</option>
                  <!-- <option value="1">DNI</option>
                  <option value="2">RUC</option> -->
                  <option *ngFor="let listMoni of listMonitoreo" value="{{listMoni.ncatalogoId}}">{{listMoni.ccatalogoDsc}}</option>
            
                  <!-- <option value="1">Lima</option>
                  <option value="2">Callao</option> -->
                </select>
    
            </div>
  
          </div>
  
          <div class="form-row">
  
            <div class="form-group col-md-3">
            
              <label for="input_montodesde" class="col-form-label-sm">Monto Desde</label>
    
            </div>
    
            <div class="form-group col-md-3">
              
              <input type="number" class="form-control form-control-sm" id="input_montodesde" formControlName="input_montodesde">
    
            </div>
  
            <div class="form-group col-md-3">
            
              <label for="input_montohasta" class="col-form-label-sm">Monto Hasta</label>
    
            </div>
    
            <div class="form-group col-md-3">
              
              <input type="number" class="form-control form-control-sm" id="input_montohasta" formControlName="input_montohasta">
    
            </div>
  
          </div>
  
        </div>
  
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Código</th>
              <th scope="col">Nombre Obra</th>
              <th scope="col">Descripción</th>
              <th scope="col">Costo</th>
              <th scope="col">Seleccionar</th>
              <th scope="col">Irregularidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let inf of listInfobras ; let i = index">
              <!-- <th scope="row">{{i+1}}</th> -->
              <td>{{inf.num_item}}</td>
              <td>{{inf.codigo_infobras}}</td>
              <td>{{inf.descripcion_obra}}</td>
              <td>{{inf.descripcion_obra}}</td>
              <td>{{inf.costo}}</td>
              <td><input type="checkbox" class="mr-3" [checked] = "inf.flgSeleccionar" (change)="CheckSeleccionar(inf,$event)"></td>
              <td><button class="btn btn-primary mt-3" (click)="AgregarIrregularidad(inf.codigo_infobras,inf.flgSeleccionar)">+</button></td>
            </tr>
          </tbody>
        </table>
  
      </div>
  
    </div>
  
    <div class="form-row">
  
      <div mat-dialog-actions class="row justify-content-center" >
        <button *ngIf="!flgMostrarAvanzada" type="button" class="btn btn-primary" (click) = "BusquedaAvanzada()">Búsqueda Avanzada</button>
        <button type="button" class="btn btn-primary" >Buscar</button><!-- (click) = "Buscar()" -->
        <button type="button" class="btn btn-primary" >Aceptar</button><!-- (click)="aceptar()" -->
      </div>
      
    </div>
  
  </form>