<!-- <form [formGroup]="formBusqObraP"> -->
  <div>
    <ul class="nav nav-tabs " role="tablist">
  
      <li class="nav-item">
    
        <a class="nav-link  active" href="#hojaEval" role="tab" data-toggle="tab" aria-selected="true">Hoja Evaluación</a>
    
      </li>
  
      <!--GSOLIS-->
      <li class="nav-item">
        <a class="nav-link " href="#aTabDenuncia" role="tab" data-toggle="tab" > <span *ngIf="!flgSegundaEval">FUR</span>
          <span *ngIf="flgSegundaEval">FUD</span>
        </a>
      </li>
    
      <!--GSOLIS-->
      <li *ngIf="flgMostrarTabFur" class="nav-item">
    
                <select class="form-control form-control-sm" id="select_resanali"  [(ngModel)]="codResAnalisis">
  
                  <option *ngFor="let listRA of listResAnalisis" value="{{listRA.nresanalisisId}}">{{listRA.nresanalisisDsc}}</option>
                  
                  <option [ngValue]="null">Seleccione</option>
                  <!-- <option value="1">Análisis 1</option>
                  <option value="2">Análisis 2</option> -->
  
                  <!-- <option *ngFor="let listRA of listResAnalisis" value="{{listRA.nresanalisisId}}">{{listRA.nresanalisisDsc}}</option> -->
  
                  <!-- <option value="1">Lima</option>
                  <option value="2">Junin</option> -->
  
                </select>
    
      </li>
  
      
    </ul>
  
    <div class="tab-content">
  
      <div role="tabpanel" class="tab-pane fade show active" id="hojaEval">
    
        <!-- <app-denuncia-contenedor (requiereIdentiEmitter)="validarTab($event)"></app-denuncia-contenedor> -->
        <app-dg-hoja-eval></app-dg-hoja-eval>
    
            <!-- <div class="form-group col-md-6">
    
              <textarea class="form-control form-control-sm" rows="2" id="input_resconclu"  [(ngModel)]="dscResConclus" maxlength="255"></textarea>
    
            </div> -->
    
          <div class="card-header">
            <h6 class="text-justify">Acciones a Realizar</h6>
          </div>
      
          <div class="card-body">
      
            <!-- <div class="form-row"> -->
      
            <div class="card-header">
              <h6 class="text-justify">I. Antecedentes</h6>
            </div>
    
            <div class="form-group col-md-12">
    
              <!-- <textarea class="form-control form-control-sm" rows="2" id="input_resrecom" [(ngModel)]="dscResRecomen" maxlength="255"></textarea> -->
              <app-antecedentes-fur></app-antecedentes-fur>
              
            </div>
            
            <!-- </div> -->
      
            <div class="card-header">
              <h6 class="text-justify">II. Análisis</h6>
            </div>
      
            <div class="card-body">
              <!-- CUS 06 -->
              <div class="">
                  <div class="card">
                    <div class="card-header">
                      <h6 class="text-justify">¿Existen antecedentes?</h6>
                    </div>
                    <div class="card-body">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" value="true" [(ngModel)]="flgExisteAntecedente" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Si</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline2" value="false"  
                        (click)="cambiarFlgExistente($event);"class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                    </div>
                  </div>
              </div>

              <div *ngIf="flgExisteAntecedente"> 
                <div class="card">
                  <div class="card-header">
                    <h6 class="text-justify">¿Tipo de antecedentes?</h6>
                  </div>
                  <div class="card-body">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbInterno" name="rdbExterno" class="custom-control-input"
                      value="true" [(ngModel)]="flgAntecedenteInterno" >
                      <label class="custom-control-label" for="rdbInterno">Interno</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="rdbExterno" name="rdbExterno" class="custom-control-input"
                      value="false" [(ngModel)]="flgAntecedenteInterno">
                      <label class="custom-control-label" for="rdbExterno">Externo</label>
                    </div>
                  </div>
                </div>
            </div>

            <div>
              <div class="card">
                <div class="card-header">
                  <h6 class="text-justify">¿Es información complementaria?</h6>
                </div>
                <div class="card-body">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="rdbInformacionComplementariaS" name="rdbInformacionComplementariaS"class="custom-control-input"
                    value="true" [(ngModel)]="flgInformacionComplementaria">
                    <label class="custom-control-label" for="rdbInformacionComplementariaS">Si</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="rdbInformacionComplementariaN" name="rdbInformacionComplementariaS"  class="custom-control-input"
                    value="false" [(ngModel)]="flgInformacionComplementaria">
                    <label class="custom-control-label" for="rdbInformacionComplementariaN">No</label>
                  </div>
                </div>
                </div>
          </div>

        

          <div>
              <div class="card">
                <div class="card-header">
                  <h6 class="text-justify">Tipo de información</h6>
                </div>
                <div class="card-body">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="rdbDenuncia" name="customRadioInline1" (checked)="flgExisteAntecedente" class="custom-control-input">
                    <label class="custom-control-label" for="rdbDenuncia">Denuncia</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="rdbSugerencia" name="rdbSugerencia"  class="custom-control-input">
                    <label class="custom-control-label" for="rdbSugerencia">Sugerencia, queja o reclamo</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="rdbPedido" name="rdbSugerencia"  class="custom-control-input">
                    <label class="custom-control-label" for="rdbPedido">Pedido de información</label>
                  </div>
                </div>
                </div>
          </div>
          
          <div>
              <div class="card">
                <div class="card-header">
                  <h6 class="text-justify">Tipo de Denuncia</h6>
                </div>
                <div class="card-body">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="rdbTipoDenunciaIn" name="rdbTipoDenunciaIn" class="custom-control-input"
                   value="true" [(ngModel)]="flgDenunciaInterna">
                    <label class="custom-control-label" for="rdbTipoDenunciaIn">Interno</label>
                  </div>
                  
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="rdbTipoDenunciaEx" name="rdbTipoDenunciaIn"  class="custom-control-input"
                    value="false" [(ngModel)]="flgDenunciaInterna">
                    <label class="custom-control-label" for="rdbTipoDenunciaEx">Externo</label>
                  </div>
                  
                </div>
                </div>
          </div>
              <!--CUS 04-->
              <div class="form-row">
      
                <div class="form-group col-md-6">
              
                  <label for="select_resanali" class="col-form-label-sm">Resultado del Análisis:</label>
                  <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)">
                    <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(0,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[0].dscMensaje}}" 
                    [matTooltipPosition]="'above'"></fa-icon>
                  </span>
        
                </div>
        
                <div class="form-group col-md-6">
        
                  <select class="form-control form-control-sm" id="select_resanali"  [(ngModel)]="codResAnalisis"
                  (change)="cambioResultado(codResAnalisis)">
  
                    <option *ngFor="let listRA of listResAnalisis" value="{{listRA.nresanalisisId}}">{{listRA.nresanalisisDsc}}</option>
                    
                    <!-- <option [ngValue]="null">Seleccione</option> -->
                    <!-- <option value="1">Análisis 1</option>
                    <option value="2">Análisis 2</option> -->
    
                    <!-- <option *ngFor="let listRA of listResAnalisis" value="{{listRA.nresanalisisId}}">{{listRA.nresanalisisDsc}}</option> -->
    
                    <!-- <option value="1">Lima</option>
                    <option value="2">Junin</option> -->
    
                  </select>
        
                </div>
      
              </div>
      
            </div>
            
      
            <div class="card-header">
              <h6 class="text-justify">III. Conclusión</h6>
            </div>
      
            <div class="card-body">
      
              <div class="form-row">
      
                <div class="form-group col-md-6">
              
                  <label for="input_resconclu" class="col-form-label-sm">Resultado de Conclusión:</label>
                  <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)">
                    <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(1,errorValidator)" [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[1].dscMensaje}}" 
                    [matTooltipPosition]="'above'"></fa-icon>
                  </span>
        
                </div>
        
                <div class="form-group col-md-6">
        
                  <textarea class="form-control form-control-sm" rows="2" id="input_resconclu"  [(ngModel)]="dscResConclus" maxlength="255"></textarea>
        
                </div>
        
              </div>
      
            </div>
      
            <div class="card-header">
              <h6 class="text-justify">IV. Recomendación</h6>
            </div>
      
            <div class="card-body">
      
              <div class="form-row">
      
                <div class="form-group col-md-6">
              
                  <label for="input_resrecom" class="col-form-label-sm">Recomendación:</label>
                  <span class="icon-error ml-1" *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)">
                    <fa-icon *ngIf="mFuncErrorVal.LeerErrorValidator(2,errorValidator)"  [icon]="mFuncErrorVal.iconError"class="mr-2" matTooltip="{{errorValidator[2].dscMensaje}}" 
                    [matTooltipPosition]="'above'"></fa-icon>
                  </span>
        
                </div>
        
                <div class="form-group col-md-6">
        
                  <textarea class="form-control form-control-sm" rows="2" id="input_resrecom" [(ngModel)]="dscResRecomen" maxlength="255"></textarea>
        
                </div>
        
              </div>
      
            </div>
      
            <div class="card mb-3">
      
                <div class="card-header">
      
      
                  <h6 class="text-jusfity">Documentos Anexos</h6>
      
                </div>
      
                <div class="card-body">
      
                  <app-evidencias></app-evidencias>
      
                </div>
      
            </div>
            
      
            <!-- <div class="form-row">
      
              <div class="card-header">
                <h4 class="text-justify">Documentos Anexos</h4>
              </div>
      
              <div class="card-body">
      
                <div class="form-row">
          
                  <div class="form-group col-md-9">
          
                    <input class="form-control form-control-sm" rows="2" id="input_dsc_doc" formControlName="input_dsc_doc"></input>
          
                  </div>
      
                  <div class="form-group col-md-3">
          
                    <button  class="btn btn-sm btn-primary ml-3" (click)="AdjuntarDocumento()">Adjuntar</button>
          
                  </div>
          
                </div>
      
                <div class="form-row">
      
      
                    
      
                </div>
      
              </div>
      
            </div> -->
          
      
          </div>
      
        </div>
        <!--GSOLIS-->
        <div  role="tabpanel" role="tabpanel" class="tab-pane fade show" id="aTabDenuncia">
          <app-contenedor-web></app-contenedor-web>
        </div>
        <!--GSOLIS-->
      </div>
    
      
    
  
  </div>
  
  
  
  <div class="form-row">
    <div class="form-group col-md-4">
    </div>
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-outline-success btn-sm btn-block" (click) = "_Guardar()">Guardar</button> <!--Guardar que debe quedar_Guardar()-->
    </div>
    <div class="form-group col-md-2">
      <button type="button" class="btn btn-outline-danger btn-sm btn-block rounded-pill" (click) = "_Cancelar()">Cancelar</button>
    </div>
    <div class="form-group col-md-4">
    </div>
  </div>
  <!-- 
  <div class="form-row">
  
   
  
    
    <div mat-dialog-actions class="row justify-content-center" >
      <button type="button" class="btn btn-primary" (click) = "_Guardar()">Guardar</button>
      <button type="button" class="btn btn-primary" (click) = "_Cancelar()">Cancelar</button>
    </div>
    
  </div> -->
  
  <!-- </form> -->