<app-nav-modal (opCerrarModal)="cancelar()"></app-nav-modal>

<!-- <nav class="navbar navbar-expand-lg navbar-light navbar-fixed navbar-modal">

  <div class="form-row">

    <div class="form-group col-md-1">

      <span><i class="material-icons">note_add</i></span>

    </div>

    <div class="form-group col-md-10">

      <h6>Nueva dirección de entidad</h6>

    </div>

    <div class="form-group col-md-1">

      <span (click)="cancelar()"><i class="material-icons">clear</i></span>

    </div>

  </div>

</nav> -->

<div [formGroup]="formEntidadModal">
    
    <div class="form-row" >
        <div class="form-group col">
          <label for="select_departamento" class="col-form-label-sm">Departamento</label>
          <select class="form-control form-control-sm" formControlName="selectDepartamentoModal"  (change) = "obtenerProvincias(formEntidadModal.value.selectDepartamentoModal)" required>
            <option [ngValue]="null">Seleccione</option>
            <option *ngFor="let dep of departamentos" value="{{dep.cdptCdDpto}}">{{dep.cdptDpto}}</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="select_provincia" class="col-form-label-sm">Provincia</label>
          <select class="form-control form-control-sm" formControlName="selectProvinciaModal" (change) = "obtenerDistritos(formEntidadModal.value.selectDepartamentoModal,formEntidadModal.value.selectProvinciaModal)" required>
            <option [ngValue]="null">Seleccione</option>
            <option *ngFor="let prov of provincias" value="{{prov.cprvCodigo}}">{{prov.cprvProv}}</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="selectDistrito" class="col-form-label-sm">Distrito</label>
          <select class="form-control form-control-sm" formControlName="selectDistritoModal" required>
            <option [ngValue]="null">Seleccione</option>
            <option *ngFor="let dist of distritos" value="{{dist.cdstCodigo}}">{{dist.cdstDistrit}}</option>
          </select>
        </div>
      
      </div>

      <div class="form-row align-items-center">
          <div class="form-group col-md-6">
            <label class="col-form-label-sm" for="inputDireccion1">Dirección:</label>
            <textarea class="form-control form-control-sm" rows="2" id="inputDireccion1" formControlName="inputDireccionModal" required></textarea>
          </div>
          <div class="form-group col-md-5">
            <label class="col-form-label-sm" for="inputReferencia">Referencia:</label>
            <textarea class="form-control form-control-sm" rows="2" id="inputReferencia" formControlName="inputReferenciaModal"></textarea>
          </div>
          
        </div>
        <div class="form-row align-items-center">
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger" (click)="agregarEntidad()">Agregar</button>
            </div>
        </div>
</div>
 
 
