<div class="card mb-3" >

  <div class="card-header">

      <h6 class="text-justify">Asignar Información</h6>

  </div>

  <div class="card-body">

    <app-datos-registro></app-datos-registro>

    <ul class="nav nav-tabs " role="tablist">

      <li class="nav-item">

        <a class="nav-link  active" href="#datosGen" role="tab" data-toggle="tab" aria-selected="true" id="aTabDG">Datos Generales</a>

      </li>
  
      <li class="nav-item">

        <a class="nav-link" href="#informacion" role="tab" data-toggle="tab" id="aTabInfo">Información</a>

      </li>
      
    </ul>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane fade show active" id="datosGen">

        <div class="card">
        
          <div class="card-body" >
            
            <app-dg-asig-resp></app-dg-asig-resp>
          
          </div>
        </div>
        
        <!-- <app-evidencias></app-evidencias> -->

        <app-asigna-responsable></app-asigna-responsable>

      </div>


      <div role="tabpanel" class="tab-pane fade show " id="informacion" >

        <app-body-datos-expediente *ngIf="flgMostrarExp"></app-body-datos-expediente>

        <app-registro-documento *ngIf="flgMostrarOtr"></app-registro-documento>

        <app-contenedor-web  *ngIf="flgMostrarFormWeb"></app-contenedor-web>

      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn-sm btn-primary form-control form-control-sm" (click) = "_Cancelar()">Cancelar</button>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn-sm btn-danger form-control form-control-sm" (click) = "_Asignar()">Asignar</button>
        
      </div>
      <div class="form-group col-md-4">
      </div>
    </div>

  </div>

</div>


<!-- <div class="container pt-3 pb-5 general" > -->

  


<!-- </div> -->


