<!-- <div class="container-fluid"> -->

<!-- <h4>&nbsp;</h4> -->

<div class="row">
    <div id="divOpcion1" class="border col-sm-3 seleccion" (click)="Orientar_Atender_Solicitud()">
        <!-- <div [ngClass]="{'border col-sm-3 seleccion': idCaso == 1,'border col-sm-3 seleccion': idCaso != 1 }" (click)="BuscarDocumento(1)"> -->


        <div class="row align-items-center div-col-opcion">

            <div class="col mx-auto div-col-mx-auto">

                <div class="border icono_estilo bg-danger">

                    <i class="material-icons">description</i>

                </div>

            </div>

            <div class="col mx-auto ">

                <div class="row div-opcion div-opcion-exp">
                    <!--JCMF-->
                    Atencion

                </div>

                <div class="row div-opcion2">

                    Solicitud

                </div>

            </div>

        </div>
    </div>

    <div id="divOpcion2" class="border col-sm-3 seleccion" (click)="Revisar_Oficio()">
        <!-- <div [ngClass]="{'border col-sm-3 seleccionado': idCaso == 2,'border col-sm-3 seleccion': idCaso != 2 }" (click)="BuscarDocumento(2)"> -->
        <!-- <div class="row align-items-center">
        <div class="col mx-auto">
          <div class="border icono_estilo bg-info">
            <i class="material-icons">important_devices</i>
          </div>
        </div>
        <div class="col">
          <div class="row">

            Web - {{furCabSeguimiento.cantFormWeb}}

          </div>
          
        </div>
      </div> -->

        <div class="row align-items-center div-col-opcion">

            <div class="col mx-auto div-col-mx-auto">

                <div class="border icono_estilo bg-info">

                    <i class="material-icons">important_devices</i>

                </div>

            </div>

            <div class="col mx-auto ">

                <div class="row div-opcion div-opcion-icon ">

                    Revisar

                </div>

                <div class="row div-opcion2">

                    Oficio

                </div>

            </div>

        </div>

    </div>
    <div id="divOpcion3" class="border col-sm-3 seleccion" (click)="Aprobar_Oficio()">
        <div class="row align-items-center div-col-opcion">

            <div class="col mx-auto div-col-mx-auto">

                <div class="border icono_estilo bg-success">

                    <i class="material-icons">horizontal_split</i>

                </div>

            </div>

            <div class="col mx-auto ">

                <div class="row div-opcion div-opcion-icon ">

                    Aprobar

                </div>

                <div class="row div-opcion2">

                    Oficio

                </div>

            </div>

        </div>
        <!-- <div class="row align-items-center">
        <div class="col mx-auto">
          <div class="border icono_estilo bg-success">
            <i class="material-icons">horizontal_split</i>
          </div>
        </div>
        <div class="col">
          <div class="row">

            Otros - {{furCabSeguimiento.cantOtros}}

          </div>
          
        </div>
      </div>  -->
    </div>
    <div id="divOpcion4" class="border col-sm-3 seleccion" (click)="Generar_Reporte()">
        <!-- <div class="row align-items-center">
        <div class="col mx-auto">
          <div class="border icono_estilo bg-warning">
            <i class="material-icons">perm_contact_calendar</i>
          </div>
        </div>
        <div class="col">
          <div class="row">

            FUR's - {{furCabSeguimiento.cantFur}}

          </div>
          
        </div>
      </div> -->
        <div class="row align-items-center div-col-opcion">

            <div class="col mx-auto div-col-mx-auto">

                <div class="border icono_estilo bg-warning">

                    <i class="material-icons">perm_contact_calendar</i>

                </div>

            </div>

            <div class="col mx-auto ">

                <div class="row div-opcion div-opcion-icon ">

                    Generar

                </div>

                <div class="row div-opcion2">

                    Reporte

                </div>

            </div>

        </div>
    </div>
</div>

<h4>&nbsp;</h4>

<!-- </div>  -->