.seleccion:hover {
    background-color: beige;
    text-align: center;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.seleccionado {
    background-color: beige;
    text-align: center;
    font-weight: bold;
    font-size: large;
    height: 100px;
    line-height: 100px;
    color: black;
}

.seleccion {
    height: 100px;
    line-height: 100px;
    color: black;
    text-align: center;
}

.icono_estilo {
    border-radius: 12px;
    height: 80px;
    line-height: 90px;
    border-color: thistle;
    color: white;
}

.bandeja-tareas {
    margin-top: 50px;
}

.piid-aux {
    visibility: hidden;
}

.titulo-bandeja-tareas {
    margin-bottom: 50px;
}

.bandeja-tareas table {
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-auto-rows: minmax(80px, auto);
}

.tarea-detalle {
    background: #cccccc;
    margin-right: 10px;
    /*padding: 20px 20px 0 20px;*/
    padding-top: 20px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-start: 1;
    grid-column-end: 2;
}

.div-opcion {
    height: 20px;
}

.div-opcion-exp {
    padding-left: 10%;
}

.div-opcion2 {
    padding-left: 50%;
}

.div-opcion-icon {
    padding-left: 40%;
}

.div-col-opcion {
    height: 100px;
}

.div-col-mx-auto {
    padding-bottom: 6%;
}

.div-fecha {
    background: #1d1d1b;
    color: #f5f5f5;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.tarea-opcion {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.icon-tarea-opcion {
    grid-row-start: 1;
    grid-row-end: 2;
}

.icon-tarea-opcion {
    /*.material-icons*/
    background: #FF9F33;
    text-align: center;
    height: 90px;
    line-height: 90px;
    margin-left: 20px;
}

.cantidad-opcion- {
    grid-column-start: 2;
    grid-column-end: 3;
}

.text-tarea-opcion {
    background: #f5f5f5;
    height: 90px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
}

.tarea-pendiente {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 6fr 6fr;
}


/* .icon-tarea-pendiente{
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 18px;
    text-align: center;
    
}*/

.text-tarea-pendiente {
    background: #f5f5f5;
    height: 90px;
    line-height: 30px;
    text-align: center;
}

.icon-tarea-pendiente {
    /*.material-icons*/
    background: #BADC67;
    text-align: center;
    height: 90px;
    line-height: 90px;
}

.cantidad-tarea-pendiente {
    grid-column-start: 2;
    grid-column-end: 3;
}

.div-tarea-chart {
    background: #cccccc;
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-start: 2;
    grid-column-end: 3;
}

.tarea-total {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.icon-tarea-total {
    grid-row-start: 1;
    grid-row-end: 2;
}

.icon-tarea-total {
    /*.material-icons*/
    background: #33CBDF;
    text-align: center;
    height: 90px;
    line-height: 90px;
}

.cantidad-tarea-total {
    grid-column-start: 2;
    grid-column-end: 3;
}

.text-tarea-total {
    background: #f5f5f5;
    height: 90px;
    line-height: 30px;
    text-align: center;
}


/**/