
<form ><!--formPersonaJuridica--> <!--[formGroup]="formPersonaJuridica"-->

  <div class="form-row">

    <div class="form-row align-items-center">

      <div class="col-md-6"><label class="col-form-label-sm">¿Es representante legal de quién presenta la denuncia?</label></div>

      <div class="col-md-6"><label class="mr-3">No</label><mat-slide-toggle [disabled]="flgLectura" [(ngModel)]="flgRepreLegal" 
        name="flgRepresentanteLegal" (change)="CambioRepreLegal($event)">Si</mat-slide-toggle></div>

    </div> 

    <!-- <div class="form-group col-md-6">

      <label for="radio_reprelegal" class="col-form-label-sm">¿Es representante legal de quién presenta la denuncia?</label>

    </div>

    <div class="form-group col-md-6">

      <div class="btn-group btn-group-toggle" data-toggle="buttons">

        <label class="btn btn-outline-danger">
          <input type="radio" name="radio_reprelegal" formControlName="radio_reprelegal" id="si" autocomplete="off" (click) = "RepreLegalSI()"> Sí
        </label>
        <label class="btn btn-outline-danger">
          <input type="radio" name="radio_reprelegal" formControlName="radio_reprelegal" id="no" autocomplete="off" (click) = "RepreLegalNO()"> No
        </label>
      </div>
      
    </div> -->

    <div class="form-group col-md-12">

      <div class="card mb-3 entidad" >
        <div class="card-header">
            <h6 class="text-justify">Empresa o Agrupación</h6>
        </div>
        <div class="card-body">
           <!--
            <div class="form-row">

                <div class="form-group col-md-6">

                  <input type="radio" name="radio_validasunat" formControlName="radio_validasunat" value="ruc" autocomplete="off" (focus)="_vSUNATRUC()">
                  <label  class="col-sm-4 col-form-label-sm">Número de RUC</label>

                </div>

                <div class="form-group col-md-3">

                  <input type="text" class="form-control form-control-sm" id="input_validasunat" formControlName="input_validasunat">

                </div>

                <div class="form-group col-md-3">

                  <button type="button" class="btn btn-primary" (click)="ValidarSUNAT()">Validar</button>

                </div>

            </div>

            <div class="form-row">

              <div class="form-group col-md-6">

                <input type="radio" name="radio_validasunat" formControlName="radio_validasunat" value="razon" autocomplete="off" (focus)="_vSUNATRazon()">

                <label  class="col-sm-6 col-form-label-sm">Nombre o Razón Social</label>

              </div>

            </div> -->


            <div class="align-items-center">
                <div class="form-group">
                  <div class="">
                    <input type="radio" id="cbk_ruc" class="mr-3" value="RUC" 
                    [(ngModel)]="cbk_empresa" name="cbk_ruc" (change)="rucSeleccionado($event)">
                    <!--formControlName="cbk_empresa"-->
                    <label>Número de RUC</label>
                    <input type="text" class="form-control form-control-sm" mask="0*" 
                    [(ngModel)]="inputRuc" maxlength="11" minlength="11" name="inputRuc" [disabled]="flgRucDisabled">
                   <!--formControlName="input_ruc"-->
                    </div>  
                </div>
            </div>
            <div>
              <input type="radio" class="mr-3" id="cbk_razon_social"  value="RAZON_SOCIAL" 
              [(ngModel)]="cbk_empresa"name="cbk_razon_social" (change)="razonSeleccionado()">
             <!-- formControlName="cbk_empresa" -->
             <label>Razón Social</label>
              <input type="text" class="form-control form-control-sm" id="input_razon_social" name="input_razon_social" maxlength="50" 
              [(ngModel)]="inputRazonSocial"[disabled]="flgRazonSocialDisabled">
              <!--formControlName="input_razon_social"-->
            </div>
            <div>
              <button class="btn btn-primary mt-3" (click)="obtenerEmpresa()" [disabled]="flgLectura"><!--[disabled]="flgDeshabilitaValidar"-->
                <!-- <i class="fa" [ngClass]="{'fa-spin fa-spinner': flgDeshabilitaValidar, 'fa-check': !flgDeshabilitaValidar}"></i> -->
                <i *ngIf= "!flgDeshabilitaValidar">Validar</i>
                <i *ngIf= "flgDeshabilitaValidar">Procesando</i>
              </button>
            </div>
           

        </div>

      </div>

    </div>


    <div class="card mb-3 col-md-12">
        <div class="card-header">
            <h6 class="text-jusfity">Denunciante</h6>
          </div>
          <div class="card-body">
            <mat-table [dataSource]="dataSource" matSort>
                  
                  <ng-container matColumnDef="{{matTableColumnsDef[0]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                    <mat-header-cell *matHeaderCellDef mat-sort-header> RUC</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.cpersonaNrodoc}} </mat-cell>
                  </ng-container>
                  
                  <ng-container matColumnDef="{{matTableColumnsDef[1]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Razón Social </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.cpersonaRazonsocial}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="{{matTableColumnsDef[2]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.cpersonaDscdireccion}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="{{matTableColumnsDef[3]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Representante</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.cpersonaDscreprelegal}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="{{matTableColumnsDef[4]}}"><!-- matColumnDef="{{matTableColumnsDef[0]}}" -->
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar</mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button *ngIf="!flgLectura" class="btn btn-sm btn-danger" (click)="eliminar(row)">
                        <fa-icon [icon]="iconoEliminar"></fa-icon>
                      </button></mat-cell>
                  </ng-container>
    
                  <mat-header-row *matHeaderRowDef="matTableColumnsDef"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: matTableColumnsDef; let i = index" ><!-- [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' " -->
                  </mat-row> 
            </mat-table>
        
            <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
                     
             <!-- </div> -->
        </div>
    </div>

</div>

</form>