#btnNuevo{
  margin-bottom: 10px;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

select,
option {
  color: #1d1d1b;
}


tr.d0 td {
  background-color: rgb(255, 255, 255);
  color: black;
}

tr.d1 td {
  background-color: rgb(197, 214, 228);
  /* background-color: #767676; */
  color: black;
}


.d0{
  background-color: rgb(255, 255, 255);
  color: black;
}

.d1{
  background-color: rgb(197, 214, 228);
  /* background-color: #767676; */
  color: black;
}



.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
