
<!-- <div *ngIf="!mostrarRegistro"> -->

  <!-- <div class="form-group col-md-2">
            
    
    

  </div> -->

  

<button id="btnNuevo" *ngIf="flgMostrarNuevo" type="button" class="btn btn-warning" (click)="Nuevo()">Nuevo {{strEtiquetaBusq}}</button>


<div class="card mb-3 entidad" >

  <div class="card-header">

    <div class="form-row" >
  
      <div class="col-md-10">
          
        <h6 class="text-justify">Filtros de Búsqueda</h6>

      </div>

      <div class="col-md-2 text-right">
        
          <a data-toggle="collapse" href="#collapse1" (click) = "_panelFiltro()"><i class="material-icons">{{strIconPanel}}</i></a>
        
      </div>

    </div>

  </div>

  <div id="collapse1" class="panel-collapse collapse">

    <div class="card-body">

      <div class="form-row">
  
        <div class="form-group col-md-1">
            
          <label for="input_param" class="col-form-label-sm">{{strEtiquetaBusq}}</label>
  
        </div>
  
        <div class="form-group col-md-2">
          
          <input type="text" maxlength="50" (change) = "_cambioParametro()" class="form-control form-control-sm" id="input_param" [(ngModel)]="strParametro">
  
        </div>
  
        
      
  
        <div class="form-group col-md-1">
            
          <label for="input_anho" class="col-form-label-sm">Año</label>
  
        </div>
  
        <div class="form-group col-md-2">
          
          <select class="form-control form-control-sm" id="select_anho"  [(ngModel)]="strAnho" (change) = "_cambioAnho()">
            <option [ngValue]="null">Seleccione</option>
            <!-- <option value="1">DNI</option>
            <option value="2">RUC</option> -->
            <option *ngFor="let tipA of listAnho" value="{{tipA.canhoCod}}">{{tipA.canhoDsc}}</option>
      
            <!-- <option value="1">DNI</option>
            <option value="2">RUC</option> -->
          </select>
  
        </div>

        <div class="form-group col-md-1">
            
          <label  class="col-form-label-sm">Estado</label>
  
        </div>
  
        <div class="form-group col-md-2">
          
          <select class="form-control form-control-sm" id="select_estado"  [(ngModel)]="numIdEstado" (change) = "_cambioEstado()">
            <option *ngFor="let lEst of listEstado" value="{{lEst.nestadoId}}">{{lEst.cestadoDescripcion}}</option>
          </select>
  
        </div>

        <div class="form-group col-md-2">
            
          <button type="button" class="btn btn-primary" (click)="Buscar()">Buscar</button>
          <!-- <button *ngIf="flgMostrarNuevo" type="button" class="btn btn-primary" (click)="Nuevo()">Nuevo</button> -->
  
        </div>
  
      </div>
  
      <div class="form-row" *ngIf = "flgMostrarTipoDoc">
  
        <label class="col-sm-3 col-form-label-sm" for="select_tipo">Tipo de Documento: </label>
        
        <div class="col-sm-3">
          <select class="form-control form-control-sm"  [(ngModel)] = "numIdTipoDocCan" [disabled] = "flgSoloLectura" (change) = "_cambioTipoDoc()">
            <option *ngFor="let lcan of listCanal" value="{{lcan.ncanalId}}">{{lcan.ccanalDescripcion}}</option>
            <option value="0">Todos</option>
            
          </select>
        </div>
  
      </div>
  
    </div>
    
  </div>

  

</div>

<div class="card mb-3 entidad" >

  <div class="card-header">

      <h6 class="text-justify">Lista de {{strEtiquetaResult}}</h6>

  </div>

  <div class="card-body">

    <!-- <div class="form-row">

      <div class="form-group col-md-8">
        <label class="mr-8">{{strEtiquetaRadioNoPen}}</label>
        <mat-slide-toggle [checked]="flgRadio" (change)="_cambioRadio($event)">{{strEtiquetaRadioPen}}</mat-slide-toggle>

      </div>

      <div class="form-group col-md-4">
        
        <input type="checkbox"  [checked] = "flgBuscarSoloReg" (change)="_checkSoloReg($event)" > 
        <label class="mr-8">Solo Registrados</label>

      </div>

    </div> -->

    <!-- <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Código</th>
          <th scope="col">Fecha Reg.</th>
          <th scope="col">Asunto</th>
          <th scope="col">Entidad</th>
          <th scope="col" *ngIf="flgMostrarAsig">Asignar</th>
          <th scope="col" *ngIf="flgMostrarEditar">Editar</th>
          <th scope="col" *ngIf="flgMostrarAten">Atender</th>
          <th scope="col" *ngIf="flgMostrarVer">Ver</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lres of listFurSeguimiento; let i = index" [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' ">
          <td>{{i+1}}</td>
          <td>{{lres.cfurCodigo}}</td>
          <td>{{lres.strDfurFecregistro}}</td>
          <td>{{lres.cfurDschecho}}</td>
          <td>{{lres.entidad==null?"":lres.entidad.centAbrevia}}</td>
          <td *ngIf="flgMostrarAsig"><button class="btn btn-primary mt-3" (click)="_Asignar(lres.nfurId)">
            <i class="material-icons">done_outline</i>
          </button></td>
          <td *ngIf="flgMostrarEditar"><button class="btn btn-primary mt-3" (click)="_Editar(lres.nfurId)">
            <i class="material-icons">restore_page</i>
          </button></td>
          <td *ngIf="flgMostrarAten"><button class="btn btn-primary mt-3" (click)="_Atender(lres.nfurId)">
            <i class="material-icons">assignment</i>
          </button></td>
          <td *ngIf="flgMostrarVer"><button class="btn btn-primary mt-3" (click)="_Ver(lres.nfurId)">
            <i class="material-icons">find_in_page</i>
          </button></td>
        </tr>
      </tbody>
      
    </table> -->
    
    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="{{matTableColumnsDef[0]}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="{{matTableColumnsDef[1]}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Código de Entrada </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cfurCodigo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="{{matTableColumnsDef[2]}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Expediente </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cfurNroexpediente}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="{{matTableColumnsDef[3]}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Recepción. </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.strDfurFecinicioreg}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="{{matTableColumnsDef[4]}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y Hora Reg. </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.strDfurFecregistro}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="{{matTableColumnsDef[5]}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado. </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.estado.cestadoDescripcion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="{{matTableColumnsDef[6]}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cfurDschecho}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="{{matTableColumnsDef[7]}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.entidad == null ? "" : row.entidad.centAbrevia}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="{{strDscColBtnAsign}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Asignar </mat-header-cell>
          <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Asignar(row.nfurId)">
            <i class="material-icons">done_outline</i>
          </button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="{{strDscColBtnEdit}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
          <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Editar(row.nfurId)" [disabled] = "row.flgDeshabilitaEditar">
            <i class="material-icons">restore_page</i>
          </button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="{{strDscColBtnAten}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Atender </mat-header-cell>
          <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Atender(row.nfurId)">
            <i class="material-icons">assignment</i>
          </button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="{{strDscColBtnVer}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ver </mat-header-cell>
          <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Ver(row.nfurId)">
            <i class="material-icons">find_in_page</i>
          </button></mat-cell>
        </ng-container>

        <!-- CUSS06 -->
        <ng-container matColumnDef="{{strDscColBtnEval}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Atender </mat-header-cell>
          <mat-cell *matCellDef="let row"><button class="btn btn-primary mt-3" (click)="_Atender(row.nfurId)">
            <i class="material-icons">assignment</i>
          </button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="_aplicaColorGrilla(i) ? 'd0' : 'd1' ">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </div>

</div>

