<div class="card mb-3" >

  <div class="card-header">

      <h6 class="text-justify">Registro de Información</h6>

  </div>

  <div class="card-body">

    <!-- <app-body-datos-general *ngIf="flgMostrarRegExp"></app-body-datos-general> -->

    <!-- <app-body-datos-expediente *ngIf="flgMostrarRegExp" (opGuardado) = "_GuardadoExpediente($event)"></app-body-datos-expediente> -->
    <app-body-datos-expediente (opGuardadoOk) = "_GuardadoExpediente()" *ngIf="flgMostrarRegExp"></app-body-datos-expediente>

    <app-registro-documento (opGuardadoOk) = "_GuardadoDocumento()" *ngIf="flgMostrarRegOtr"></app-registro-documento>

    <app-contenedor-web  *ngIf="flgMostrarFormWeb"></app-contenedor-web>

    <div class="form-row">
      <div class="form-group col-md-4">
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn-sm btn-danger form-control form-control-sm" (click) = "_Registrar()" [disabled] = "flgSoloLectura">Guardar</button>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn-sm btn-primary form-control form-control-sm" (click) = "_Cancelar()" >Cancelar</button>
      </div>
      <div class="form-group col-md-4">
      </div>
    </div>

  </div>

</div>