<app-nav-modal (opCerrarModal)="cancelar()"></app-nav-modal>

<div class="card" ><!--container-->
  <!-- <div class="card-header">
        <h6>Instancia</h6>
  </div> -->
  <div class="card-body">
  
          
  
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="col-form-label-sm" for="select_entidades">Entidad Pública:</label>
            <input list="listEntidadesObras" type="text" class="form-control form-control-sm"
            (keypress)="buscarEntidad($event)" (change)="seleccionarEntidad($event)" 
             list="listEntidadesObras" [(ngModel)]="instancia.entidad.centNombre" name="select_entidades"
              placeholder="Escriba el nombre de la entidad aquí" specialCharacters="['space']" 
              mask="S*" maxlength="100"  autocomplete="off" required>
            
            <datalist id="listEntidadesObras" >
              <option *ngFor="let enti of listEntidadesObras" value="{{enti.centNombre}}" >{{enti.centNombre}}</option>
  
            </datalist>
          </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-4">
        <!-- <div *ngIf="input_pApellido.invalid && (input_pApellido.dirty || input_pApellido.touched)"  class="alert alert-danger">
            <span *ngIf="input_pApellido.errors.pattern">Solo debe ingresar letras</span>
          </div>-->
          <label class="col-form-label-sm" for="input_fechaPres">Fecha de presentación
            <!--<span class="icon-error ml-1" *ngIf="input_pApellido.invalid && (input_pApellido.dirty || input_pApellido.touched)">
              <fa-icon *ngIf="input_pApellido.invalid" [icon]="iconoError"class="mr-2" matTooltip="{{pApellidoError}}" 
              [matTooltipPosition]="'above'"></fa-icon>
            </span>--> 
          </label>
        
          <input type="date" class="form-control form-control-sm unstyled" id="fecha_pres"
          [(ngModel)]="instancia.dfichaxinstanFchPresent" name="fecha_pres" max="${fechaMaxima}">
        
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label-sm" for="input_nroDoc">Nro. documento</label>
          <!--<span class="icon-error ml-1" *ngIf="input_sApellido.invalid && (input_sApellido.dirty || input_sApellido.touched)">
              <fa-icon *ngIf="input_sApellido.invalid" [icon]="iconoError"class="mr-2" matTooltip="{{sApellidoError}}" 
              [matTooltipPosition]="'above'"></fa-icon>
          </span>-->
          
          <input type="text" class="form-control form-control-sm" id="input_nroDoc" name="input_nroDoc" 
          [(ngModel)]="instancia.cfichaxinstanNrodoc" maxlength="12">
  
        </div>
        
    </div>

    <div class="form-row align-items-center">

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="rdbOCI" name="rdbTipo" class="custom-control-input"
        value="OCI" [(ngModel)]="instancia.cfichaxinstanCodtipoinst"  (click)="_asignarCodTipoEnt($event)"  >
        <label class="custom-control-label" for="rdbOCI">OCI</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="rdbCGR" name="rdbTipo" class="custom-control-input"
        value="ENT" [(ngModel)]="instancia.cfichaxinstanCodtipoinst"  (click)="_asignarCodTipoEnt($event)" >
        <label class="custom-control-label" for="rdbCGR">Entidad</label>
      </div>

      <!-- <div class="col-sm-4">
          <label for="select_estado" class="col-form-label-sm">Estado</label>
      </div>
    
      <div class="col-sm-6 mb-3">
          <select class="form-control form-control-sm" id="select_cargo" [(ngModel)]="instancia.estado.ncatalogoId" name="select_estado">
              <option *ngFor="let estado of listEstado" value="{{estado.ncatalogoId}}">{{estado.ccatalogoDsc}}</option>
            </select>
      </div> -->
    
    </div>

    <div class="form-row align-items-center">
        <div class="col-sm-4">
            <label for="select_estado" class="col-form-label-sm">Estado</label>
        </div>
      
        <div class="col-sm-6 mb-3">
            <select class="form-control form-control-sm" id="select_cargo" [(ngModel)]="instancia.estado.ncatalogoId" name="select_estado">
                <option *ngFor="let estado of listEstado" value="{{estado.ncatalogoId}}">{{estado.ccatalogoDsc}}</option>
              </select>
        </div>
      
    </div>

      <div class="form-row align-items-center">
          <div class="col-sm-4">
              <label for="select_tipoDoc" class="">Motivo / Comentario</label>
              <!--<span class="icon-error ml-1" *ngIf="select_tipoDoc.invalid && (select_tipoDoc.dirty || select_tipoDoc.touched)">
                  <fa-icon *ngIf="select_tipoDoc.invalid"  [icon]="iconoError"class="mr-2" matTooltip="{{cargoError}}" 
                  [matTooltipPosition]="'above'"></fa-icon>
              </span>-->
          </div>
          <div class="col-sm-6">
              <textarea class="form-control form-control-sm"
              [(ngModel)]="instancia.cfichaxinstanMotivo" name="input_motivo" maxlength="300">
  
              </textarea>
          </div>
        </div>  
    
  </div>
  
</div>
<div class="form-row left-content-end">

    <div class="form-group col-sm-2">
        <button type="button" class="btn form-control btn-danger" (click)="agregarInstancia()">Agregar</button>
    </div>
    <!-- <div class="form-group col-sm-2">
        <button type="button"  class="btn form-control btn-light" (click)="cancelar()">Regresar</button>
    </div> -->
</div>
